<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head> 
	<script src="http://api.maps.yahoo.com/ajaxymap?v=2.0&appid=datajunkies" type="text/javascript"></script>
	<script type="text/javascript" language="JavaScript">

function StartYMap() {
    var map = new YMap(document.getElementById('ymap')); 
		map.addPanControl();
		map.addZoomShort();
		map.drawZoomAndCenter("910 17th St. NW, Washington, Dc", 6);

		map.addOverlay(new YGeoRSS('http://www.palewire.com/happyhours/xml/tuesday.xml'));
        }
	window.onload = StartYMap;
	</script>
	</head>
	<body>
        <span>
            <table style="width: 800px;">
                <tr>
                    <td style="width: 550px" valign="bottom">
                        <span style="font-size: 26px; font-family: Agency FB"><strong>
                        Washington DC Happy Hours
                            &gt;&gt;</strong></span></td>
                    <td style="width: 250px; text-align: right;" valign="bottom">
                        <span style="font-family: Agency FB; font-size: 13pt;">
                        <a href="http://www.palewire.com/?p=24">
                        More info</a></span></td>
                </tr>
            </table>
        </span>
		<div id="ymap" style="width: 800px; height: 550px"></div>
        <table style="width: 800px">
            <tr>
                <td style="width: 550px" valign="top">
                    <strong><span style="font-size: 14pt; font-family: Agency FB">&gt;&gt;&nbsp; <a href="http://www.palewire.com/happyhours/index.htm">
                        Monday</a> | Tuesday <a href="http://www.palewire.com/happyhours/tuesday.htm"></a>
                        | <a href="http://www.palewire.com/happyhours/wednesday.htm">Wednesday</a> | <a href="http://www.palewire.com/happyhours/thursday.htm">
                            Thursday</a> | <a href="http://www.palewire.com/happyhours/friday.htm">Friday</a>
                        | <a href="http://www.palewire.com/happyhours/saturday.htm">Saturday</a></span></strong></td>
                <td style="width: 250px; text-align: right" valign="top">
                    <span style="font-family: Agency FB">A Justified and Ancient Production.</span></td>
