{% extends "coltrane/base.html" %}

{% block title %}kennedy name generator . {{ block.super }}{% endblock %}

{% block keywords %}{% for tag in object.get_tags %}{{ tag }}, {% endfor %}{{ block.super }}{% endblock %}

{% block content %}
    <div class="twelvecol last">

        <div id="headline" class="row">
            <div class="twelvecol last">
                <h1>
                <img src="{{ STATIC_URL }}icons/apps-big.gif" alt="post"/>
                    Kennedy Name Generator
                </h1>
            </div>
        </div>

        <div id="detailbody" class="row">
            <div class="onecol last"></div>
            <div class="tencol">
            {% if first_name and gender %}
                {% if kennedy_name %}
                <p>Your Kennedy name is <b style="font-size:1.2em;">{{ kennedy_name }}</b>.</p>
                {% else %}
                <h2>Something went wrong with your search. Did you include all the required data?</h2>
                {% endif %}
                <p><a href="/kennedy/">Click here</a> to try again.</p>
            {% else %}
            
            <form method="GET" action="">
                <b>1. Enter your first name.</b>
                <br><br>
                <input type="text" name="first_name" />
                <br><br>
                
                <b>2. Select your gender.</b>
                <br><br>
                    <select name="gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    </select>
                <br><br>
                
                <b>3. Push the button.</b>
                <br><br>
                <input type="submit" value="Submit"/>
            </form>
            </div>
            <div class="onecol"></div>
            {% endif %}
            
        </div>
    </div>

{% endblock %}
