{% extends "coltrane/base.html" %}
{% load greeking_tags %}

{% block title %}shortened urls . {{ block.super }}{% endblock %}

{% block content %}
    <div class="interiorlist">
        <h2>Shortened URLs</h2>
        <ul>
            <h3>Recent Links</h3>
            <ul>
            {% for link in recent_links %}
            <li><a href="{{ link.short_url }}">{{ link.url }}</a> (Score: {{ link.usage_count }})
            (<a href="{% url shortener.views.info link.to_base62 %}">Info</a>)</li>
            {% endfor %}
            </ul>

            <h3>Most Popular Links</h3>
            <ul>
            {% for link in most_popular_links %}
            <li><a href="{{ link.short_url }}">{{ link.url }}</a> (Score: {{ link.usage_count }})
            (<a href="{% url shortener.views.info link.to_base62 %}">Info</a>)</li>
            {% endfor %}
            </ul>
        </ul>
    </div>
{% endblock %}

