{% extends "coltrane/base.html" %}
{% load greeking_tags humanize %}

{% block title %}shortened urls . {{ block.super }}{% endblock %}

{% block extrahead %}
<style type="text/css">
    table.shortener {
        width: 100%;
        margin: 20px 0;
        clear: both;
    }
    table.shortener th {
        font-size:11px;
        text-transform: uppercase;
        font-weight: normal;
    }
    table.shortener td {
        border-bottom: 1px dotted #ddd;
        padding: 10px 15px 10px 0;
        font-size: 14px;
    }
    table.shortener tr:first-child td {
        padding-top: 0px;
    }
</style>
{% endblock %}

{% block extradocready %}
    $("#shortform button").click(
        function (e) {
            var val = $("#shortform input").val();
            if (val) {
                var url = "{% url 'shortener-submit' %}?u=" + val;
                $.getJSON(url, function (data) {
                    $("#shortform input").val(data.link.short_url);
                    if (data.created) {
                        var row = [
                            function () { return $("<td>").append($("<a>", {
                                href: data.link.short_url,
                                text: data.link.short_url
                            })) }(),
                            function () { return $("<td>").append($("<a>", {
                                href: data.link.url,
                                text: data.link.url
                            }))}(),
                            $("<td>", {text: data.link.date_submitted }),
                            $("<td>", {text: data.link.usage_count })
                        ];
                        var tr = $("<tr>");
                        $.each(row, function (i, e) { $(e).appendTo(tr); });
                        tr.prependTo($("table.shortener tbody"));
                    }
                }).fail(function(error) { alert("Fail. Check the console."); console.log(error); });
            }
        }
    );
{% endblock %}

{% block content %}
    <div class="interiorlist twelvecol last">
        <h1><img src="{{ STATIC_URL }}icons/links.gif" alt="links"/>URL shortener</h1>
        <div id="shortform" class="row">
            <input type="text"></input>
            <button>Shorten!</button>
        </div>
        <div class="row">
            <div class="twelvecol last section-hed">Recent links</div>
            <table class="shortener">
                <thead>
                    <tr>
                        <th>Short URL</th>
                        <th>URL</th>
                        <th>Date</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in recent_links %}
                    <tr>
                        <td><a href="{{ link.short_url }}">{{ link.short_url }}</a></td>
                        <td><a href="{{ link.url }}">{{ link.url|truncatechars:75 }}</a></td>
                        <td>{{ link.date_submitted|date:"N j, Y" }}</td>
                        <td>{{ link.usage_count|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="twelvecol last section-hed">Most popular links</div>
            <table class="shortener">
                <thead>
                    <tr>
                        <th>Short URL</th>
                        <th>URL</th>
                        <th>Date</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in most_popular_links %}
                    <tr>
                        <td><a href="{{ link.short_url }}">{{ link.short_url }}</a></td>
                        <td><a href="{{ link.url }}">{{ link.url|truncatechars:75 }}</a></td>
                        <td>{{ link.date_submitted|date:"N j, Y" }}</td>
                        <td>{{ link.usage_count|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

