{% load sass_tags %}<!doctype html>
<html lang="en"
      xmlns:rnews="http://iptc.org/std/rNews/2011-05-17#"
      xmlns:og="http://ogp.me/ns#" {% block extrahtmlattrs %}{% endblock %}>
<head>
        <title>{% block title %}palewire{% endblock %}</title>

        {% block meta %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="strict-origin-when-cross-origin" />
        <meta name="robots" content="index,follow" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="color-scheme" content="light" />

        <link rel="icon" href="{{ STATIC_URL }}favicon.ico" />

        <meta name="author" content="Ben Welsh" />
        <meta name="description" content="{% block description %}Blog. Editor and Proprietor Ben Welsh.{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}palewire, ben welsh, benjamin welsh, data journalism, computer-assisted reporting, journalism{% endblock %}" />

        <meta name="google-site-verification" content="yrVbQvYyAcy-Xa_1JbW8IErxVsErovb8oN6I54H01H4" />

        <link rel="canonical" href="{% block canonicalurl %}https://palewi.re/{% endblock %}" />
        <link rel="alternate"
                    type="application/rss+xml"
                    title="Latest posts"
                    href="https://palewi.re/feeds/posts/" />
        <link rel="me" href="https://mastodon.palewi.re/@palewire">

        {% block facebookmeta %}
        <meta property="og:site_name" content="palewire"/>
        <meta property="og:type" content="{% block ogtype %}website{% endblock %}"/>
        <meta property="og:title" content="{% block ogtitle %}palewire{% endblock %}"/>
        <meta property="og:description" content="{% block ogdescription %}Blog. Editor and Publisher Ben Welsh.{% endblock %}"/>
        <meta property="og:url" content="{% block ogurl %}https://palewi.re/{% endblock %}"/>
        <meta property="og:locale" content="{% block oglocale %}en_US{% endblock %}"/>
        <meta property="og:image" content="{% block ogimage %}https://palewi.re/static/img/facebook-icon.png{% endblock %}"/>
        {% endblock %}

        {% block twittermeta %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{% block twittertitle %}palewire{% endblock %}" />
        <meta name="twitter:description" content="{% block twitterdescription %}Blog. Editor and Proprietor Ben Welsh.{% endblock %}" />
        <meta name="twitter:url" content="{% block twitterurl %}https://palewi.re/{% endblock %}" />
        <meta name="twitter:image" content="{% block twitterimage %}https://palewi.re/static/img/facebook-icon.png{% endblock %}" />
        <meta name="twitter:site" content="@palewire" />
        <meta name="twitter:creator" content="@palewire" />
        {% endblock %}

        {% block preconnect %}
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {% endblock %}

        {% block googlemeta %}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "{% block googletype %}WebSite{% endblock %}",
            "url": "{% block googleurl %}https://palewi.re/{% endblock %}",
            "name": "{% block googleheadline %}palewire{% endblock %}",
            "description": "{% block googledescription %}Blog. Editor and Publisher Ben Welsh.{% endblock %}",
            "inLanguage": "en-US",
            "image": "https://palewi.re/static/img/facebook-icon.png"
        }
        </script>
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "palewire",
            "url": "https://palewi.re/",
            "logo": "https://palewi.re/static/img/facebook-icon.png",
            "sameAs": [
                "https://mastodon.palewi.re/@palewire"
            ]
        }
        </script>
        {% endblock %}
        {% endblock %}

    {% block extrameta %}
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'styles.scss' %}" />
    {% endblock %}

    {% block extrahead %}
    {% endblock %}
</head>
<body {%block extrabody %}{% endblock %}>

    <div id="container" class="container">

        {% block nav %}
            {% include "coltrane/nav.html" %}
        {% endblock %}

        <div id="bd" class="row content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <div id="ft" class="row">
                <div class="twelvecol last">
                    <span property="rnews:copyrightNotice">© <span property="rnews:copyrightYear">{{ now|date:"Y" }}</span> palewire</span>
                </div>
            </div>
        </footer>

    </div>
{% block extrabottom %}
{% endblock %}
</body>
</html>
