{% extends "coltrane/base.html" %}

{% block title %}who is ben welsh? . {{ block.super }}{% endblock %}

{% block canonicalurl %}https://{{ current_site }}/who-is-ben-welsh/{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="Who is Ben Welsh?"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://{{ current_site }}/who-is-ben-welsh/"/>
{% endblock %}

{% block googleurl %}https://{{ current_site }}/who-is-ben-welsh/{% endblock %}
{% block googleheadline %}who is ben welsh?{% endblock %}
{% block googledescription %}hello.{% endblock %}
{% block googlecreated %}2019-11-10T00:00:00{% endblock %}
{% block googlepublished %}2019-11-10T00:00:00{% endblock %}
{% block googlemodified %}2019-11-10T00:00:00{% endblock %}

{% block content %}
<div class="vcard twelvecol last">

<div class="row">
    <div class="twocol"></div>
    <div class="eightcol">
        <picture class="photo">
          <source type="image/webp" srcset="{{ STATIC_URL }}img/ben-blue-800.webp">
          <source type="image/jpeg" srcset="{{ STATIC_URL }}img/ben-blue-800.jpg">
          <img width=493 height=277 src="{{ STATIC_URL }}img/ben-blue-800.jpg" alt="Ben Welsh" title="Ben Welsh">
        </picture>
    </div>
    <div class="twocol last"></div>
</div>

<div class="row">
    <div class="twocol"></div>
    <div class="detailborderbumper eightcol"></div>
    <div class="twocol last"></div>
</div>

<div class="biotext row">
    <div class="onecol"></div>
    <div class="tencol">
        {{ bio_html }}
    </div>
    <div class="onecol last"></div>
</div>

<div class="row">
    <div class="twocol"></div>
    <div class="detailborderbumper eightcol"></div>
    <div class="twocol last"></div>
</div>

<a name="email"></a>
<div class="biotext row">
    <div class="onecol"></div>
    <div class="tencol interiorlist">
        <div class="row"><div class="listitem twelvecol last">
            <b>Email</b>
        </div></div>
        <div class="row" style="height:70px;">
        {% for item in email_list %}
            <div class="listitem sixcol {% if forloop.counter|divisibleby:"2" %}last{% endif %}">
                <a rel="me" href="mailto:{{ item }}">{{ item }}</a>
            </div>
            {% if forloop.counter|divisibleby:"2" and not forloop.last %}</div><div class="row" style="height:70px;">{% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="onecol last"></div>
</div>

<div class="row">
    <div class="twocol"></div>
    <div class="detailborderbumper eightcol"></div>
    <div class="twocol last"></div>
</div>

<a name="social-media"></a>
<div class="biotext row">
    <div class="onecol"></div>
    <div class="tencol interiorlist">
    <div class="row"><div class="listitem twelvecol last">
    <b>Social media</b>
    </div></div>
        {% for obj in socialmedia_list %}
        {% if not forloop.counter|divisibleby:"2" %}<div class="row">{% endif %}
            <div class="listitem sixcol {% if forloop.counter|divisibleby:"2" %}last{% endif %}">
                <a rel="me" class="url" href="{{ obj.url }}">{{ obj.title }}</a>
            </div>
        {% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
    <div class="onecol last"></div>
</div>

<div class="row">
    <div class="twocol"></div>
    <div class="detailborderbumper eightcol"></div>
    <div class="twocol last"></div>
</div>

<a name="skills"></a>
<div class="biotext row">
    <div class="onecol"></div>
    <div class="tencol interiorlist">
        <div class="row">
            <div class="listitem twelvecol last">
                <b>Technical skills</b>
            </div>
        </div>
        <ul class="bullets">
        {% for skill in skill_list %}
            <li>{{ skill }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="onecol last"></div>
</div>

<div class="row">
    <div class="twocol"></div>
    <div class="detailborderbumper eightcol"></div>
    <div class="twocol last"></div>
</div>

<a name="honors"></a>
<div class="biotext row">
    <div class="onecol"></div>
    <div class="tencol interiorlist">
        <div class="row">
            <div class="listitem twelvecol last">
                <b>Honors</b>
            </div>
        </div>
        <ul class="bullets">
        {% for obj in award_list %}
            <li>
                {% if obj.url %}<a href="{{ obj.url }}">{{ obj.title }}</a>{% else %}{{ obj.title }}{% endif %}
                {% if obj.year %} ({{ obj.year }}){% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="onecol last"></div>
</div>
{% endblock %}
