{% extends "coltrane/base.html" %}

{% block title %}clips . {{ block.super }}{% endblock %}

{% block canonicalurl %}https://palewi.re/clips/{% endblock %}

{% block ogtitle %}clips{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}https://palewi.re/clips/{% endblock %}
{% block ogdescription %}My bylines at Reuters, the Los Angeles Times and elsewhere on the World Wide Web.{% endblock %}

{% block twittertitle %}clips{% endblock %}
{% block twitterdescription %}My bylines at Reuters, the Los Angeles Times and elsewhere on the World Wide Web.{% endblock %}
{% block twitterurl %}https://palewi.re/clips/{% endblock %}

{% block googleurl %}https://palewi.re/clips/{% endblock %}
{% block googleheadline %}clips{% endblock %}
{% block googledescription %}My bylines at Reuters, the Los Angeles Times and elsewhere on the World Wide Web.{% endblock %}
{% block googlecreated %}2019-11-10T00:00:00{% endblock %}
{% block googlepublished %}2019-11-10T00:00:00{% endblock %}
{% block googletype %}CollectionPage{% endblock %}

{% block googlemeta %}
        {{ block.super }}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "url": "https://palewi.re/clips/",
            "itemListOrder": "Descending",
            "numberOfItems": {{ object_list|length }},
            "itemListElement": [
                {% for object in object_list %}
                {
                    "@type": "ListItem",
                    "position": {{ forloop.counter }},
                    "url": "{{ object.url }}",
                    "name": "{{ object.title|escapejs }}"
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        }
        </script>
{% endblock %}

{% block content %}
<div class="interiorlist twelvecol last">
    <h1>Clips</h1>
    <p class="description">My bylines at Reuters, the Los Angeles Times and elsewhere on the World Wide Web</p>
    {% for object in object_list %}
        {% ifchanged object.date.year %}
        <div class="row">
            <div class="section-hed twelvecol last">
                {{ object.date|date:"Y" }}
            </div>
        </div>
        {% endifchanged %}
        <div class="row">
            <article class="listitem twelvecol last">
                {{ object.date|date:"N d" }} •
                {% if object.is_linkable %}
                    <a href="{{ object.display_url }}">{{ object.title }}</a>
                {% else %}
                    {{ object.title }}
                {% endif %}
            </article>
        </div>
    {% endfor %}
</div>
{% endblock %}
