{% extends "coltrane/base.html" %}

{% block title %}work . {{ block.super }}{% endblock %}

{% block canonicalurl %}https://{{ current_site }}/work/{% endblock %}

{% block ogtitle %}work{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}https://{{ current_site }}/work/{% endblock %}
{% block ogdescription %}Stories, apps and open-source software I've authored, typically in partnership with others.{% endblock %}

{% block twittertitle %}work{% endblock %}
{% block twitterdescription %}Stories, apps and open-source software I've authored, typically in partnership with others.{% endblock %}
{% block twitterurl %}https://{{ current_site }}/work/{% endblock %}

{% block googleurl %}https://{{ current_site }}/work/{% endblock %}
{% block googleheadline %}work{% endblock %}
{% block googledescription %}Stories, apps and open-source software I've authored, typically in partnership with others.{% endblock %}
{% block googlecreated %}2019-11-10T00:00:00{% endblock %}
{% block googlepublished %}2019-11-10T00:00:00{% endblock %}
{% block googletype %}CollectionPage{% endblock %}

{% block content %}
<div class="interiorlist twelvecol last">
    <h1>Work</h1>
    <p class="description">Stories, apps and open-source software I've authored, typically in partnership with others</p>
    {% for object in object_list %}
        {% ifchanged object.date.year %}
        <div class="row">
            <div class="section-hed twelvecol last">
                {{ object.date|date:"Y" }}
            </div>
        </div>
        {% endifchanged %}
        <div class="row">
            <div class="listitem twelvecol last">
                {{ object.date|date:"N d" }} •
                <a href="{{ object.url }}">{{ object.title }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
