    <div class="row">
        <div class="fivecol">
            <div class="shingle">
                <a href="/">
                    <div rel="rnews:copyrightedBy rnews:hasSource rnews:providedBy">
                        <div about="https://palewi.re"
                              typeof="rnews:Organization">
                            <div property="rnews:name">palewire</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="sevencol last links">
            <ul class="desktop-nav">
                {% include "coltrane/nav_links.html" %}
            </ul>
            <div class="nav-menu">
                <button type="button"
                        class="nav-menu-toggle"
                        popovertarget="mobile-nav-links"
                        aria-label="Menu">
                    <span class="hamburger" aria-hidden="true">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div id="mobile-nav-links" class="nav-drawer" popover>
                    <div class="nav-drawer-header">
                        <span>Menu</span>
                        <button type="button"
                                class="nav-menu-close"
                                popovertarget="mobile-nav-links"
                                popovertargetaction="hide"
                                aria-label="Close menu">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <ul>
                        {% include "coltrane/nav_links.html" %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="row topbar">
    <div class="twelvecol last"></div>
</div>
