<li>
    <a href="{% url 'coltrane_post_list' %}" title="Posts">Posts</a>
</li>
<li>
    <a href="{% url 'coltrane_clip_list' %}" title="Clips">Clips</a>
</li>
<li>
    <a href="{% url 'coltrane_app_list' %}" title="Apps">Apps</a>
</li>
<li>
    <a href="{% url 'coltrane_code_list' %}" title="Code">Code</a>
</li>
<li>
    <a href="{% url 'coltrane_guide_list' %}" title="Guides">Guides</a>
</li>
<li>
    <a href="{% url 'coltrane_talk_list' %}" title="Talks">Talks</a>
</li>
<li>
    <a href="{% url 'coltrane_bio' %}" title="Who is Ben Welsh?">About</a>
</li>
