{% extends "coltrane/base.html" %}

{% block extrahtmlattrs %}itemscope itemtype="https://schema.org/Article"{% endblock %}

{% block title %}{{ object.title|lower }} . {{ block.super }}{% endblock %}

{% block canonicalurl %}https://{{ current_site }}{{ object.get_absolute_url }}{% endblock %}

{% block ogtitle %}{{ object.title }}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block ogurl %}https://{{ current_site }}{{ object.get_absolute_url }}{% endblock %}
{% block ogdescription %}{{ object.body_html|striptags|truncatechars:180 }}{% endblock %}

{% block twittertitle %}{{ object.title }}{% endblock %}
{% block twitterdescription %}{{ object.body_html|striptags|truncatechars:180 }}{% endblock %}
{% block twitterurl %}https://{{ current_site }}{{ object.get_absolute_url }}{% endblock %}

{% block extrameta %}
    {{ block.super }}
    <meta itemprop="headline" content="{{ object.title }}">
    <meta itemprop="url" content="https://{{ current_site }}{{ object.get_absolute_url }}">
    <meta itemprop="author" content="Ben Welsh">
    <meta itemprop="datePublished" content="{{ object.pub_date|date:"c" }}">
    <meta itemprop="inLanguage" content="en">
{% endblock %}

{% block googleurl %}https://{{ current_site }}{{ object.get_absolute_url }}{% endblock %}
{% block googleheadline %}{{ object.title|lower }}{% endblock %}
{% block googledescription %}{{ object.body_html|striptags|truncatechars:180 }}{% endblock %}

{% block googlemeta %}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            "headline": "{{ object.title|escapejs }}",
            "description": "{{ object.body_html|striptags|truncatechars:180|escapejs }}",
            "inLanguage": "en-US",
            "url": "https://{{ current_site }}{{ object.get_absolute_url }}",
            "datePublished": "{{ object.pub_date|date:"c" }}",
            "dateModified": "{{ object.pub_date|date:"c" }}",
            "author": {
                "@type": "Person",
                "name": "Ben Welsh",
                "url": "https://{{ current_site }}/who-is-ben-welsh/"
            },
            "publisher": {
                "@type": "Organization",
                "name": "palewire"
            }{% if object.repr_image %},
            "image": "{{ object.repr_image }}"{% endif %}
        }
        </script>
{% endblock %}

{% block extrabody %}{% endblock %}

{% block content %}

    <article class="twelvecol last" itemscope itemtype="https://schema.org/Article">
        <div id="headline" class="row">
            <div class="twelvecol last">
                <h1 itemprop="headline">
                    {{ object.title }}
                </h1>
            </div>
        </div>

        <div id="detailpubdate" class="row">
            <div class="twelvecol last">
                <p>
                    By
                    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <span itemprop="name">
                            <a rel="author" href="/who-is-ben-welsh/">Ben Welsh</a>
                        </span>
                    </span>
                    •
                    <time datetime="{{ object.pub_date|date:"Y-m-d" }}" itemprop="datePublished">
                        {{ object.pub_date|date:"F j, Y" }}
                    </time>
                </p>
            </div>
        </div>

        <div id="detailbody" class="row">
            <div class="twelvecol last" itemprop="articleBody">
                {{ object.body_html|safe }}
            </div>
        </div>
    </article>

        {% load comments %}
        {% get_comment_list for object as comment_list %}
        {% if comment_list %}
        <div class="row">
            <div class="detailborderbumper twelvecol last"></div>
        </div>

        <div id ="comments" class="row">
            <div class="twelvecol last" rel="rnews:discussedBy">
                <h2>Comments</h2>
                {% for comment in comment_list %}
                    <aside>
                    <div id="#c{{comment.id}}" class="comment" typeof="rnews:comment" about="http://{{ current_site }}{{ object.get_absolute_url }}#c{{comment.id}}">
                        <a name="c{{comment.id}}"></a>
                        <div class="commenttopper">
                            <span rel="rnews:createdBy"><span class="commentname" property="rnews:name">{{ comment.user_name|lower }}</span></span>
                            <span property="rnews:commentTime" content="{{ comment.submit_date|date:"Y-m-d\TH:m:s" }}" class="commentdate">on {{ comment.submit_date|date:"Y.m.d"}}</span>
                        </div>
                        <div class="commenttext" property="rnews:commentText">{{ comment.comment|safe }}</div>
                        <div class="commentfooter"><a href="{{ comment.get_absolute_url }}">Permalink</a></div>
                    </div>
                    </aside>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    <div style="display:none;">
        <div property="rnews:language">en</div>
        <div property="rnews:wordCount">{{ object.body_html|striptags|wordcount }}</div>
    </div>
{% endblock %}
