{% extends "coltrane/base.html" %}

{% block extrahtmlattrs %}itemscope itemtype="https://schema.org/Article"{% endblock %}

{% block title %}{{ object.title|lower }} . {{ block.super }}{% endblock %}

{% block canonicalurl %}https://palewi.re{{ object.get_absolute_url }}{% endblock %}

{% block ogtitle %}{{ object.title }}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block ogurl %}https://palewi.re{{ object.get_absolute_url }}{% endblock %}
{% block ogdescription %}{{ object.body_html|striptags|truncatechars:180 }}{% endblock %}

{% block twittertitle %}{{ object.title }}{% endblock %}
{% block twitterdescription %}{{ object.body_html|striptags|truncatechars:180 }}{% endblock %}
{% block twitterurl %}https://palewi.re{{ object.get_absolute_url }}{% endblock %}

{% block extrameta %}
    {{ block.super }}
    <meta itemprop="headline" content="{{ object.title }}">
    <meta itemprop="url" content="https://palewi.re{{ object.get_absolute_url }}">
    <meta itemprop="author" content="Ben Welsh">
    <meta itemprop="datePublished" content="{{ object.pub_date|date:"c" }}">
    <meta itemprop="inLanguage" content="en">
{% endblock %}

{% block googleurl %}https://palewi.re{{ object.get_absolute_url }}{% endblock %}
{% block googleheadline %}{{ object.title|lower }}{% endblock %}
{% block googledescription %}{{ object.body_html|striptags|truncatechars:180 }}{% endblock %}

{% block googlemeta %}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            "headline": "{{ object.title|escapejs }}",
            "description": "{{ object.body_html|striptags|truncatechars:180|escapejs }}",
            "inLanguage": "en-US",
            "url": "https://palewi.re{{ object.get_absolute_url }}",
            "datePublished": "{{ object.pub_date|date:"c" }}",
            "dateModified": "{{ object.pub_date|date:"c" }}",
            "author": {
                "@type": "Person",
                "name": "Ben Welsh",
                "url": "https://palewi.re/who-is-ben-welsh/"
            },
            "publisher": {
                "@type": "Organization",
                "name": "palewire"
            }{% if object.repr_image %},
            "image": "{{ object.repr_image|escapejs }}"{% endif %}
        }
        </script>
{% endblock %}

{% block extrabody %}{% endblock %}

{% block content %}

    <article class="twelvecol last" itemscope itemtype="https://schema.org/Article">
        <div id="headline" class="row">
            <div class="twelvecol last">
                <h1 itemprop="headline">
                    {{ object.title }}
                </h1>
            </div>
        </div>

        <div id="detailpubdate" class="row">
            <div class="twelvecol last">
                <p>
                    By
                    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <span itemprop="name">
                            <a rel="author" href="/who-is-ben-welsh/">Ben Welsh</a>
                        </span>
                    </span>
                    •
                    <time datetime="{{ object.pub_date|date:"Y-m-d" }}" itemprop="datePublished">
                        {{ object.pub_date|date:"F j, Y" }}
                    </time>
                </p>
            </div>
        </div>

        <div id="detailbody" class="row">
            <div class="twelvecol last" itemprop="articleBody">
                {{ object.body_html|safe }}
            </div>
        </div>
    </article>

    <div style="display:none;">
        <div property="rnews:language">en</div>
        <div property="rnews:wordCount">{{ object.body_html|striptags|wordcount }}</div>
    </div>
{% endblock %}
