{% extends "coltrane/base.html" %}

{% block title %}posts . {{ block.super }}{% endblock %}

{% block canonicalurl %}https://{{ current_site }}/posts/{% endblock %}

{% block ogtitle %}posts{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}https://{{ current_site }}/posts/{% endblock %}
{% block ogdescription %}A complete list of articles written for this site.{% endblock %}

{% block twittertitle %}posts{% endblock %}
{% block twitterdescription %}A complete list of articles written for this site.{% endblock %}
{% block twitterurl %}https://{{ current_site }}/posts/{% endblock %}

{% block googleurl %}https://{{ current_site }}/posts/{% endblock %}
{% block googleheadline %}posts{% endblock %}
{% block googledescription %}A complete list of articles written for this site.{% endblock %}
{% block googletype %}CollectionPage{% endblock %}

{% block content %}
    <div class="interiorlist twelvecol last">
        <h1>Posts</h1>
        <p class="description">A complete list of articles written for this site</p>
        {% for object in object_list %}
            {% ifchanged object.pub_date.year %}
            <div class="row">
                <div class="section-hed twelvecol last">
                    {{ object.pub_date|date:"Y" }}
                </div>
            </div>
            {% endifchanged %}
            <div class="row">
                <article class="listitem twelvecol last">
                    {{ object.pub_date|date:"N d" }} •
                    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}
