{% extends "coltrane/base.html" %}

{% block title %}talks . {{ block.super }}{% endblock %}
{% block description %}Recordings, slides and other materials from my public-speaking appearances.{% endblock %}

{% block canonicalurl %}https://palewi.re/talks/{% endblock %}

{% block ogtitle %}talks{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}https://palewi.re/talks/{% endblock %}
{% block ogdescription %}Recordings, slides and other materials from my public-speaking appearances.{% endblock %}

{% block twittertitle %}talks{% endblock %}
{% block twitterdescription %}Recordings, slides and other materials from my public-speaking appearances.{% endblock %}
{% block twitterurl %}https://palewi.re/talks/{% endblock %}

{% block googleurl %}https://palewi.re/talks/{% endblock %}
{% block googleheadline %}talks{% endblock %}
{% block googledescription %}Recordings, slides and other materials from my public-speaking appearances.{% endblock %}
{% block googlecreated %}2019-11-10T00:00:00{% endblock %}
{% block googlepublished %}2019-11-10T00:00:00{% endblock %}
{% block googletype %}CollectionPage{% endblock %}

{% block googlemeta %}
        {{ block.super }}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "url": "https://palewi.re/talks/",
            "itemListOrder": "Descending",
            "numberOfItems": {{ object_list|length }},
            "itemListElement": [
                {% for object in object_list %}
                {
                    "@type": "ListItem",
                    "position": {{ forloop.counter }},
                    "name": "{{ object.title|escapejs }}",
                    "url": "https://palewi.re/talks/"
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        }
        </script>
{% endblock %}

{% block content %}
    <div class="interiorlist applist twelvecol last">
        <h1>Talks</h1>
        <p class="description">
            Recordings, slides and other materials from my public-speaking appearances
        </p>

        {% if object_list %}
        <section>
        {% for object in object_list %}
            {% ifchanged object.date.year %}
            {% if not forloop.first %}</ul>{% endif %}
            <div class="row">
                <h2 class="section-hed twelvecol last">
                    {{ object.date|date:"Y" }}
                </h2>
            </div>
            <ul class="catalog-list">
            {% endifchanged %}
            <li class="row">
                <article class="listitem twelvecol last">
                    <time datetime="{{ object.date|date:"Y-m-d" }}">{{ object.date|date:"N" }}</time> •
                    “{{ object.title }}” at {{ object.venue }}{% if object.location %} in {{ object.location }}{% endif %}
                    {% if object.video_url or object.slides_url %}({% if object.video_url %}<a target="_blank" href="{{ object.video_url }}">Video &raquo;</a>{% if object.slides_url %} {% endif %}{% endif %}{% if object.slides_url %}<a target="_blank" href="{{ object.slides_url }}">Materials &raquo;</a>{% endif %}){% endif %}
                </article>
            </li>
        {% endfor %}
            </ul>
        </section>
        {% endif %}
    </div>
    {% endblock %}
