{% extends "coltrane/base.html" %}

{% block title %}talks . {{ block.super }}{% endblock %}

{% block canonicalurl %}https://{{ current_site }}/talks/{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="talks"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://{{ current_site }}/talks/"/>
{% endblock %}

{% block googleurl %}https://{{ current_site }}/talks/{% endblock %}
{% block googleheadline %}talks{% endblock %}
{% block googledescription %}A selection of slides and videos from my public-speaking appearances.{% endblock %}
{% block googlecreated %}2019-11-10T00:00:00{% endblock %}
{% block googlepublished %}2019-11-10T00:00:00{% endblock %}
{% block googlemodified %}{{ object_list.0.date|date:'c' }}{% endblock %}

{% block content %}
    <div class="interiorlist applist twelvecol last">
        <h1>Talks</h1>
        <p class="description">
            A selection of recordings, slides and other materials from my public-speaking appearances.
        </p>

        {% for object in object_list %}
            {% ifchanged object.date.year %}
            <div class="row">
                <div class="section-hed twelvecol last">
                    {{ object.date|date:"Y" }}
                </div>
            </div>
            {% endifchanged %}
            <div class="row">
                <div class="listitem twelvecol last">
                    {{ object.date|date:"N" }} •
                    “{{ object.title }}” at {{ object.venue }} in {{ object.location }}
                    {% if object.video_url or object.slides_url %}({% if object.video_url %}<a target="_blank" href="{{ object.video_url }}">Video &raquo;</a>{% if object.slides_url %} {% endif %}{% endif %}{% if object.slides_url %}<a target="_blank" href="{{ object.slides_url }}">Slides &raquo;</a>{% endif %}){% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
