@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;0,800;1,400;1,800&display=swap');
$font-family-sans-serif: 'Libre Franklin', "Helvetica", "Liberation Sans", Arial, sans-serif;

body {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  line-height: 1.55;
  text-align: left;
  @media (max-width: 550px) {
    font-size: 0.85em;
  }
}
