#ft {
  margin-top: 1em;
  font-size: 0.75em;
  border-top: solid 2px #e5e5e5;
  padding-top: 0.3em;
  margin-bottom: 1.5em;
  text-align: left;
}
#django-link {
  color: rgb(72, 120, 88);
  font-weight: bold;
}

@media handheld, only screen and (max-width: 550px) {
  #ft {
    font-size: 0.65em;
  }
}
