#ft {
  margin-top: 1em;
  font-size: .8em;
  border-top: var(--border-rule);
  padding-top: 0.4em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  .twelvecol {
    display: flex;
    justify-content: space-between;
  }
  .footer-revision {
    margin-left: auto;
    white-space: nowrap;
  }
  @media (max-width: $breakpoint-compact) {
    font-size: 0.65em;
  }
}
