#ft {
  margin-top: 1em;
  font-size: .8em;
  border-top: solid 2px #e5e5e5;
  padding-top: 0.4em;
  margin-bottom: 1em;
  text-align: left;
  padding-top: 0.5em;
}
#django-link {
  color: rgb(72, 120, 88);
  font-weight: bold;
}

@media (max-width: 550px) {
  #ft {
    font-size: 0.65em;
  }
}
