/* The header */
#hd {
  display: block;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-size: 1em;
}
/* the "palewire" title in the upper left hand corner */
#hd .shingle {
  font-size: 1.7em;
  font-weight: bold;
  text-align: left;
  padding-left: 0.15em;
  a {
    text-decoration: none;
    font-weight: bold;
  }
  @media (max-width: 550px) {
    float: left;
    margin-bottom: 5px;
  }
}

#whois {
  text-align: right;
  margin-top: 0.2em;
  font-size: 1.1em;
} /* the WHOIS link in the upper right hand corner */
#whois div {
  font-size: 1em;
  display: inline;
}
#whois {
  text-align: right;
}
#whois ul {
  float: right;
  list-style-type: none;
  font-size: 1em;
}
#whois ul li {
  float: left;
  list-style-position: inside;
  margin-left: 0.5em;
}
#hd span {
  font-size: 0.55em;
  clear: both;
  text-transform: lowercase;
} /* The random phrase that appears on hoverover of the title */

/* The horizontal gray bar that appears beneath the title line */
#topbar {
  border-bottom: solid 10px #e5e5e5;
  margin-bottom: 20px;
}

@media handheld, only screen and (max-width: 550px) {
  #whois {
    font-size: 1em;
    float: right;
  }
}
