a:link {
  text-decoration: none;
  color: var(--color-link);
}
a:visited {
  text-decoration: none;
  color: var(--color-link);
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
  color: var(--color-text);
}
