a:link {
  text-decoration: underline;
  color: $dark-gray;
}
a:visited {
  text-decoration: underline;
  color: $dark-gray;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: underline;
  color: red;
}
