a:link {
  text-decoration: underline;
  color: black;
}
a:visited {
  text-decoration: underline;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: gray;
}
a:active {
  text-decoration: underline;
  color: red;
}
