img,
object,
embed {
  max-width: 100%;
}

img {
  height: auto;
}

picture.photo,
picture.photo img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
}

figure {
  margin: 0;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
