/* The header */
nav {
  display: block;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-size: 1em;
  line-height: 1.7em;
  .shingle {
      font-size: 1.7em;
      font-weight: bold;
      text-align: left;
      padding-left: 0.15em;
      a {
        text-decoration: none;
        font-weight: bold;
        color: $black;
      }
      a:hover {
        color: $dark-gray;
      }
      @media (max-width: 550px) {
        float: left;
        margin-bottom: 5px;
        padding-left: 0;
      }
  }
  .links {
    text-align: right;
    ul {
      float: right;
      list-style-type: none;
    }
    li {
      float: left;
      list-style-position: inside;
      margin-left: 0.5em;
      font-size: .9em;
      font-weight: 300;
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      @media (max-width: 550px) {
        font-size: .825em;
      }
    }
  }
}

.topbar {
  border-bottom: solid 10px #e5e5e5;
  margin-bottom: 20px;
}
