#detailbody {
  margin: 0 1.1em 1.1em 0em;
  text-align: left;
  p {
    margin-bottom: var(--space-body-copy);
    font-weight: var(--font-weight-light);
  }
  strong, b {
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-size: 1.15em;
    font-weight: bold;
    margin: 1.5em 0 0.3em 0;
  }
  ol, ul, li {
    margin-bottom: var(--space-body-copy);
    margin-left: 0.8em;
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  blockquote {
    margin-bottom: 1.15em;
    background: var(--color-code-background) none repeat scroll 0 0;
    margin-left: 1.2em;
    line-height: 1.3em;
    padding: 1em;
    font-family: monospace;
  }
  pre {
    margin-left: 1em;
    line-height: 1.3em;
  }
}

#detailpubdate p {
  margin-bottom: 1.5em;
  font-size: 0.8em;
  font-weight: var(--font-weight-light);
}

.latimes-tour video {
  width: 100%;
  height: auto;
}

@media (max-width: $breakpoint-narrow) {
  figure.latimes-tour {
    margin-left: 0;
    margin-right: 0;
  }
  #headline .twelvecol,
  #detailpubdate .twelvecol,
  #detailbody .twelvecol {
    margin: 0;
    padding: 0;
  }
}
