[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
akismet = "==0.2.0"
boto = "==2.45.0"
django-admin-sortable = "==2.1"
django-autoarchive = "==0.0.3"
django-contrib-comments = "==1.8.0"
django-debug-toolbar = "==1.0.1"
django-localflavor = "==1.0"
django-memcached = "==0.1.2"
docutils = "==0.8.1"
fabric = "==1.13.1"
greeking = "==0.13"
httplib2 = "==0.8"
newrelic = "==2.78.0.57"
oauth2 = "==1.5.211"
oauthlib = "==0.6.0"
paramiko = "==1.9.0"
pep8 = "==0.5.0"
psycopg2 = "==2.7.1"
pycrypto = "==2.6"
python-dateutil = "==1.4.1"
python-magic = "==0.4.6"
python-memcached = "==1.58"
python-twitter = "==1.1"
pytz = "==2017.2"
requests = "==2.0.0"
requests-oauthlib = "==0.4.0"
simplejson = "==3.3.1"
six = "==1.10.0"
sqlparse = "==0.1.11"
yolk = "==0.4.3"
BeautifulSoup = "==3.2.0"
Django = "==1.11.1"
Jinja2 = "==2.6"
PrettyTable = "==0.6.1"
Pygments = "==1.2.2"
Sphinx = "==1.1.2"
flake8 = "*"

[requires]
python_version = "2.7"
