[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django-admin-sortable = "==2.3"
django-contrib-comments = "==2.1.0"
greeking = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-twitter = "*"
pytz = "*"
requests = "*"
bs4 = "*"
Django = "==4.0.6"
Jinja2 = "*"
Pygments = "*"
dj-database-url = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
flake8 = "*"
black = "*"
libsass = "*"
django-sass-processor = "*"
django-compressor = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
