[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-admin-sortable = "==2.1"
django-contrib-comments = "==1.8.0"
django-localflavor = "==1.0"
greeking = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-twitter = "*"
pytz = "*"
requests = "*"
bs4 = "*"
Django = "==1.11.29"
Jinja2 = "*"
Pygments = "*"
dj-database-url = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
