{% extends "admin/change_form.html" %}

	{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript" src="/media/jquery-1.2.6.min.js"></script>
	
	<script>
	 $(document).ready(function(){
		$(".object_id").append("<div id='lookup_box'></div>");
		$("#id_content_type").change(function () {
			var type = $("#id_content_type option:selected").text();
			var link_root = '../../../coltrane/';
			$("#lookup_box").html("<a onclick='return showRelatedObjectLookupPopup(this);' id='lookup_id_object_id' class='related-lookup' href='../../../coltrane/'>lookup</a>");
			$("#lookup_id_object_id").text("Lookup " + type);
			$("#lookup_id_object_id").attr('href', link_root + type + '/');
		});

	 });
	</script>
	
	{% endblock %}
