<div align="center" class="left">

    <object type="application/x-shockwave-flash" data="http://palewire.s3.amazonaws.com/voteinator.swf" width="592" height="333">

        <param name="movie" value="http://palewire.s3.amazonaws.com/voteinator.swf"/>

        <param name="FlashVars" value="xml_path=http://www.palewire.com/applications/nicar2011/{{ project.id }}/data.xml&post_path=http://www.palewire.com/applications/nicar2011/{{ project.id }}/vote/"/>

        <param name="bgcolor" value="#FFFFFF"/>

        <param name="allowScriptAccess" value="always"/>

        <param name="allowFullScreen" value="true"/>

        <param name="wmode" value="opaque"/>

        <embed src="http://palewire.s3.amazonaws.com/voteinator.swf" FlashVars="xml_path=http://www.palewire.com/applications/nicar2011/{ project.id }}/data.xml&post_path=http://www.palewire.com/applications/nicar2011/{{ project.id }}/vote/" bgcolor="#FFFFFF" width="592" height="333" wmode="opaque" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash"></embed>

    </object>

</div>
