{% extends "coltrane/base.html" %}

{% block title %}applications . {{ block.super }}{% endblock %}

{% block content %}

    <div class="interiorlist">
        <h2><img style="vertical-align:text-bottom;" src="/media/icons/apps.gif" alt="apps"/>&nbsp;Applications</h2>
        
        <ul>

            <li class="interior-date">
                Kennedy Name Generator
            </li>
            <li style="font-size:1.1em;">
                <a class="dark" href="/kennedy/">Find your place</a> in the Democratic Party's royal family.
            </li>
            
            <br>

            <li class="interior-date">
                Questionheds
            </li>
            <li style="font-size:1.1em;">
                <a class="dark" href="http://questionheds.palewire.com/">The latest headlines</a> that end with a question mark.
            </li>

            {% comment %}
            <li class="interior-date">
                The Rapture Index Archive
            </li>
            <li style="font-size:1.1em;">
                <a class="dark" href="/rapture/">A freely available database</a> chronicling 
                the "speedometer of end-time activity."
            </li>
            {% endcomment %}
        </ul>
    </div>
    
{% endblock %}
