{% extends "coltrane/base.html" %}
{% load greeking_tags %}

{% block title %}applications . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="applications"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://palewi.re/apps/"/>
{% endblock %}

{% block content %}

    <div class="applist twelvecol last">
        <h1><img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/apps.gif" alt="apps"/>&nbsp;Applications</h1>
        
        <p>A selection of my programming work, professional and open source. Everything was a team effort. I tried to pitch in.</p>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://www.pastpages.org">
                    <img src="{{ STATIC_URL }}applications/pastpages.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://www.pastpages.org">PastPages</a></h3>
                <p>The news homepage archive. Updating hourly, it captures the shift­ing homepages of ma­jor me­dia sites so they can be stud­ied.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://graphics.latimes.com/how-fast-is-lafd/">
                    <img src="{{ STATIC_URL }}applications/lafdmap.jpg">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://graphics.latimes.com/how-fast-is-lafd/">
                        How fast in LAFD where you live?
                    </a>
                </h3>
                <p>A interactive map of 911 response times across the city of Los Angeles.</p>
            </div>
        </div>
        

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://projects.latimes.com/mapping-la/crime/">
                    <img src="{{ STATIC_URL }}applications/crimela.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://projects.latimes.com/mapping-la/crime/">Mapping L.A.: Crime</a></h3>
                <p>With daily up­dates, read­ers can keep cur­rent on loc­al crime and com­pare crime levels across more than 200 neigh­bor­hoods. When crimes rise sharply, the sys­tem de­liv­ers a crime alert.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://projects.latimes.com/mapping-la/neighborhoods/">
                    <img src="{{ STATIC_URL }}applications/mappingla.png">
                </a>
                    <div style="font-size:9px; line-height:9px;">Map: Thomas Suh Lauder</div>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://projects.latimes.com/mapping-la/neighborhoods/">
                        Mapping L.A.: Neighborhoods
                    </a>
                </h3>
                <p>Maps and stat­ist­ics for more than 200 neigh­bor­hoods with­in L.A. County. Map­ping L.A. began in 2009 with pub­lic­a­tion of The Times&rsquo; map of 87 neigh­bor­hoods in the city of L.A., re­drawn with the help of read­ers.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://graphics.latimes.com/la-mayoral-maps/">
                    <img src="{{ STATIC_URL }}applications/mayoralmaps.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://graphics.latimes.com/la-mayoral-maps/">
                        L.A. Mayoral Election Results
                    </a>
                </h3>
                <p>A map of every ballot cast stretching back to 2001.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://graphics.latimes.com/2012-election-results-national-map/">
                    <img src="{{ STATIC_URL }}applications/election2012.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://graphics.latimes.com/2012-election-results-national-map/">
                        2012 Election Results
                    </a>
                </h3>
                <p>A framework for publishing interactive maps plotting U.S. election returns as they were reported for <a href="http://graphics.latimes.com/2012-election-gop-results-map-iowa/">state primaries</a> and the <a href="http://graphics.latimes.com/2012-election-results-national-map/">general election</a>&mdash;with a special focus on <a href="http://graphics.latimes.com/2012-election-results-california/">California</a>.</p>
            </div>
        </div>
    
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://datadesk.github.com/python-elections/">
                    <img src="{{ STATIC_URL }}applications/pythonelections.jpg">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://datadesk.github.com/python-elections/">
                        python-elections
                    </a>
                </h3>
                <p>A Python wrapper for the Associated Press U.S. election data service open sourced by our team and now in use by a number of other newsrooms.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://projects.latimes.com/wardead/">
                    <img src="{{ STATIC_URL }}applications/wardead.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://projects.latimes.com/wardead/">
                        California&rsquo;s War Dead
                    </a>
                </h3>
                <p>The Times&rsquo; collection of stories about California servicemembers who died during the wars in Iraq and Afghanistan.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://spreadsheets.latimes.com">
                    <img src="{{ STATIC_URL }}applications/spreadsheets.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://spreadsheets.latimes.com">
                        spreadsheets.latimes.com</a> and <a href="http://datadesk.github.com/latimes-table-stacker/">Table Stacker</a>
                </h3>
                <p>A framework for publishing interactive tables, and doing it on deadline. In use by The Times and open-sourced under the name Table Stacker.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://documents.latimes.com">
                    <img src="{{ STATIC_URL }}applications/documents.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://documents.latimes.com">
                        documents.latimes.com
                    </a>
                </h3>
                <p>A framework for publishing tends of thousands of doc­uments to the Times site via DocumentCloud. ranging from <a href="http://documents.latimes.com/ruben-salazar/">Ruben Sal­azar&rsquo;s killing</a> to <a href="http://documents.latimes.com/bell-police-baseball/">the Bell scandal</a>.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://timelines.latimes.com/">
                    <img src="{{ STATIC_URL }}applications/timelines.jpg">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://timelines.latimes.com/">
                        timelines.latimes.com
                    </a>
                </h3>
                <p>A newsroom tool for quickly publishing an interactive timeline that integrates a redesigned version of <a href="http://propublica.github.com/timeline-setter/">ProPublica's TimelineSetter</a> with Django's administration panel and Amazon S3.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://projects.latimes.com/hollywood/star-walk/">
                    <img src="{{ STATIC_URL }}applications/starwalk.png">
                </a>
                 <div style="font-size:9px; line-height:9px;">Photo: Los Angeles Times</div>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://projects.latimes.com/hollywood/star-walk/">
                        Hollywood Star Walk
                    </a>
                </h3>
                <p>The Times&rsquo; virtual tour puts readers on the streets of Hollywood to visit the nearly 2,400 stars on the Walk of Fame. Also available for iPhone.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://datadesk.latimes.com/posts/2012/11/introducing-quiet-la/">
                    <img src="{{ STATIC_URL }}applications/quietla.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://datadesk.latimes.com/posts/2012/11/introducing-quiet-la/">
                        Quiet L.A.
                    </a>
                </h3>
                <p>An open-source template for a muted base map about Southern California. Designed for overlaying loud data visualizations. Created with open data.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://datadesk.latimes.com/posts/2012/03/introducing-django-bakery/">
                    <img src="{{ STATIC_URL }}applications/bakery.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://datadesk.latimes.com/posts/2012/03/introducing-django-bakery/">
                        Django Bakery
                    </a>
                </h3>
                <p>A set of helpers for baking out your Django site as flat files.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://datadesk.github.com/jquery-geocodify/">
                    <img src="{{ STATIC_URL }}applications/geocodify.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://datadesk.github.com/jquery-geocodify/">
                        jQuery Geocodify
                    </a>
                </h3>
                <p>A jQuery plug-in that provides autocomplete for address searches.</p>
            </div>
        </div>
        

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="https://github.com/datadesk/latimes-calculate">
                    <img src="{{ STATIC_URL }}applications/calculate.png">
                </a>
                <div style="font-size:9px; line-height:9px;">Photo: <a href="http://www.flickr.com/photos/jonsphotos/218663312/in/photostream/">Jon Delory</a></div>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="https://github.com/datadesk/latimes-calculate/">
                        Calculate
                    </a>
                </h3>
                <p>A collection of simple math functions useful for doing journalism.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="https://github.com/datadesk/python-documentcloud/">
                    <img src="{{ STATIC_URL }}applications/doccloud.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://datadesk.github.com/python-documentcloud/">
                        DocumentCloud API for Python
                    </a>
                </h3>
                <p>A simple python wrapper for the DocumentCloud API.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://datadesk.github.com/python-lametro-api/">
                    <img src="{{ STATIC_URL }}applications/metroapi.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://datadesk.github.com/python-lametro-api/">
                        L.A. Metro API for Python
                    </a>
                </h3>
                <p>A simple Python wrapper for the L.A. Metro’s API for bus stops, routes and vehicles.</p>
            </div>
        </div>        
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://datadesk.latimes.com/posts/2011/12/django-softhyphen/">
                    <img src="{{ STATIC_URL }}applications/softhyphen.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://datadesk.latimes.com/posts/2011/12/django-softhyphen/">
                        Django Soft Hyphen
                    </a>
                </h3>
                <p>Automates the hyphenation of text, allowing easy formatting of HTML in more bookish style.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="https://github.com/datadesk/django-yamlfield">
                    <img src="{{ STATIC_URL }}applications/yamlfield.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="https://github.com/datadesk/django-yamlfield">
                        Django YAMLField
                    </a>
                </h3>
                <p>A Django database field for storing YAML data.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="https://github.com/datadesk/python-googlegeocoder">
                    <img src="{{ STATIC_URL }}applications/googlegeocoder.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="https://github.com/datadesk/python-googlegeocoder">
                        Google's Geocoder for Python
                    </a>
                </h3>
                <p>A simple Python wrapper for version three of Google's geocoder API.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="https://github.com/datadesk/latimes-statestyle">
                    <img src="{{ STATIC_URL }}applications/statestyle.gif">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="https://github.com/datadesk/latimes-statestyle">
                        State Style
                    </a>
                </h3>
                <p>A Python library that standardizes U.S. state names.<p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="https://github.com/datadesk/latimes-appengine-template">
                    <img src="{{ STATIC_URL }}applications/appengine.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="https://github.com/datadesk/latimes-appengine-template">
                        Google App Engine Template
                    </a>
                </h3>
                <p>Bootstrap a Google App Engine project with Django and other goodies.</p>
            </div>
        </div>
        
       <div class="row appitem">
            <div class="threecol appimage">
                <a href="https://github.com/palewire/django-greeking">
                    <img src="{{ STATIC_URL }}applications/greeking.jpg">
                </a>
                 <div style="font-size:9px; line-height:9px;">Photo: <a href="http://placekitten.com">placekitten.com</a></div>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="https://github.com/datadesk/latimes-appengine-template">
                        Django Greeking
                    </a>
                </h3>
                <p>Tools for printing filler text in your Django templates, a technique from the days of hot type known as greeking.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="https://twitter.com/#!/questionheds/">
                    <img src="{{ STATIC_URL }}applications/questionheds.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="https://twitter.com/#!/questionheds/">
                        Questionheds
                    </a>
                </h3>
                <p>Is it news?</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="https://github.com/datadesk/copyboy">
                    <img src="{{ STATIC_URL }}applications/copyboy.png">
                </a>
                <div style="font-size:9px; line-height:9px;">Photo: <a href="http://ctva.biz/US/Crime/Roaring20s.htm">Classic TV archive</a></div>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="https://github.com/datadesk/copyboy">
                        copyboy
                    </a>
                </h3>
                <p>A fork of GitHub's Campfire bot, hubot, for IRC. He is aware of all Internet traditions.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="/apps/bring-the-news-back/">
                    <img src="{{ STATIC_URL }}applications/bringthenewsback.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="/apps/bring-the-news-back/">
                        BRING THE NEWS BACK!
                    </a>
                </h3>
                <p>Excellence in art / We must preserve that / We must improve that / Bring the news back / Balance the views that / truly inspire / Like when you was hired.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="/kennedy/">
                    <img src="{{ STATIC_URL }}applications/kennedy.png">
                </a>
                <div style="font-size:9px; line-height:9px;">Photo: JFK Presidential Library and Museum</div>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="/kennedy/">
                        Kennedy Name Generator
                    </a>
                </h3>
                <p>Find your place in the Democratic Party's royal family.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://www.iesaysno.com">
                    <img src="{{ STATIC_URL }}applications/iesaysno.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://www.iesaysno.com">
                        iesaysno.com
                    </a>
                </h3>
                <p>For those special moments of denial, known to every web developer.</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="/apps/random-oscars-ballot/">
                    <img src="{{ STATIC_URL }}applications/oscars.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="/apps/random-oscars-ballot/">
                        Random Oscars Ballot Generator
                    </a>
                </h3>
                <p>Roll the dice.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://www.whogetsthegasface.com">
                    <img src="{{ STATIC_URL }}applications/whogetsthegasface.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="http://www.whogetsthegasface.com">
                        whogetsthegasface.com
                    </a>
                </h3>
                <p><b>gas·face, the</b> <i>noun</i> <br>a stupid face directed towards someone you don't like</p>
            </div>
        </div>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="/mack/">
                    <img src="{{ STATIC_URL }}applications/mack.png">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3>
                    <a href="/mack/">
                        Return of the Mack: The Ringtone
                    </a>
                </h3>
                <p>You lied to me!</p>
            </div>
        </div>

    </div>
    
{% endblock %}
