{% extends "coltrane/base.html" %}
{% load greeking_tags %}

{% block title %}applications . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="applications"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://{{ current_site }}/apps/"/>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://palewire.s3.amazonaws.com/laziestloader-0.0.1/jquery.laziestloader.js"></script>
{% endblock %}

{% block extradocready %}
$('img').laziestloader({threshold:300});
{% endblock %}

{% block content %}
    <div class="interiorlist applist twelvecol last">
        <h1>Applications</h1>
        <p class="description">
            A selection of my programming work, both professional and open source. 
            Samples of my news writing can be found <a href="{% url 'coltrane_clip_list' %}">here</a>.
        </p>
        
        {% for object in app_list %}
            <a name="{{ object.name|slugify }}"></a>
            <div class="row appset">
                <div class="twelvecol section-hed">
                     {{ object.name }}
                    <p>{{ object.description|safe }}</p>
                </div>
                {% for app in object.app_list %}
                    {% if not forloop.counter|divisibleby:'2' %}
                    <div class="row">
                    {% endif %}
                        <div class="sixcol appitem {% if forloop.counter|divisibleby:'2' %}last{% endif %}">
                            <div class="threecol appimage">
                                <a href="{{ app.url }}">
                                    <img src="{{ STATIC_URL }}img/blank-white.jpg" data-src="{{ STATIC_URL }}applications/{{ app.image }}">
                                    <noscript>
                                      <img src="{{ STATIC_URL }}applications/{{ app.image }}" />
                                    </noscript>
                                </a>
                            </div>
                            <div class="ninecol last apptext">
                                <h3><a href="{{ app.url }}">{{ app.name }}</a></h3>
                                <p>{{ app.description|safe }}</p>
                            </div>
                        </div>
                    {% if forloop.counter|divisibleby:'2' or forloop.last %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
