<!doctype html>
<html lang="en"
      xmlns:rnews="http://iptc.org/std/rNews/2011-05-17#"
      xmlns:og="http://ogp.me/ns#" {% block extrahtmlattrs %}{% endblock %}>
{% load coltrane_tags %}
{% get_random_slogan %}
<head>
    <title>{% block title %}palewire{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Ben Welsh" />
    <meta name="description" content="{% block description %}Blog. Editor and Proprietor Ben Welsh.{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}palewire, ben welsh, benjamin welsh, computer-assisted reporting, journalism{% endblock %}" />
    <meta name="verify-v1" content="gY50FIiS1ZkWlR0vmMn+q/qv5ihAfW8cRQIFBU1+5d0=" />
    <meta name="google-site-verification" content="yrVbQvYyAcy-Xa_1JbW8IErxVsErovb8oN6I54H01H4" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    {% block facebookmeta %}
    <meta property="fb:admins" content="1257725335"/>
    <meta property="fb:app_id" content="190069391088781"/>
    <meta property="og:image" content="{{ STATIC_URL }}img/facebook-icon.png"/>
    <meta property="og:site_name" content="palewire"/>
    <meta property="og:description"
          content="Blog. Editor and Publisher Ben Welsh."/>
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}reset-fonts-grids.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles.css?rev={{ now.isoformat }}" type="text/css" media="screen" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ STATIC_URL }}ie.css" type="text/css" media="screen" /><![endif]-->

    {% block extrarss %}
    {% endblock %}

    {% block extralinktags %}
    {% endblock %}

    <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}css3-mediaqueries.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){
        {% block extradocready %}
        {% endblock %}
    });
    //]]>
    </script>
    {% block extrahead %}
    {% endblock %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-701730-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>
<body {%block extrabody %}{% endblock %}>

    <div id="container" class="container">

        <nav>
            <div id="hd" class="row">
                <div class="ninecol">
                    <div id="shingle">
                        <a href="/" title="{{ random_slogan }}">
                            <div rel="rnews:copyrightedBy rnews:hasSource rnews:providedBy">
                                <div about="http://{{ current_site }}"
                                      typeof="rnews:Organization">
                                    <div property="rnews:name">palewire</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="threecol last" id="whois">
                    <div>
                        <a rel="author" href="{% url 'coltrane_bio' %}"
                            title="All about Ben">Who is Ben Welsh?</a>
                    </div>
                </div>
            </div>

            <div id="topbar" class="row">
                <div class="twelvecol last"></div>
            </div>
            <div id="navbar" class="row">
                <div class="eightcol"></div>
                <div class="fourcol last">
                    <ul>
                        <li>
                            <a href="{% url 'coltrane_post_list' %}" title="Posts">
                                Posts
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'coltrane_work_list' %}" title="Work">
                                Work
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'coltrane_talk_list' %}" title="Talks">
                                Talks
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="bd" class="row">
            {% block content %}
            {% endblock %}
        </div>

        {% get_current_year %}
        <footer>
            <div id="ft" class="row">
                <div class="twelvecol last">
                    <span property="rnews:copyrightNotice">© <span property="rnews:copyrightYear">{{ current_year }}</span> palewire</span> .
                    <a href="{% url 'coltrane_colophon' %}">colophon</a> .
                    powered by <a id="django-link" href="http://www.djangoproject.com/">django</a> .
                </div>
            </div>
        </footer>

    </div>
{% block extrabottom %}
{% endblock %}
</body>
</html>
