<!doctype html>
<html lang="en" xmlns:rnews="http://iptc.org/std/rNews/2011-05-17#" xmlns:og="http://ogp.me/ns#">
{% load coltrane_tags %}
{% get_random_slogan %}

<head>
    <title>{% block title %}palewire{% endblock %}</title>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Ben Welsh" />
    <meta name="description" content="{% block description %}Blog. Editor and Proprietor Ben Welsh.{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}palewire, ben welsh, benjamin welsh, computer-assisted reporting, journalism{% endblock %}" />
    <meta name="verify-v1" content="gY50FIiS1ZkWlR0vmMn+q/qv5ihAfW8cRQIFBU1+5d0=" />
    <meta name="google-site-verification" content="yrVbQvYyAcy-Xa_1JbW8IErxVsErovb8oN6I54H01H4" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    
    {% block facebookmeta %}
    <!-- Facebook Open Graph tags -->
    <meta property="fb:admins" content="1257725335"/>
    <meta property="fb:app_id" content="190069391088781"/>
    <meta property="og:image" content="{{ STATIC_URL }}img/facebook-icon.png"/>
    <meta property="og:site_name" content="palewire"/>
    <meta property="og:description"
          content="Blog. Editor and Proprietor Ben Welsh."/>
    {% endblock %}
    
    {% block extrameta %}
    {% endblock %}
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}reset-fonts-grids.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles.css" type="text/css" media="screen" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ STATIC_URL }}ie.css" type="text/css" media="screen" /><![endif]-->
    
    <link rel="alternate" type="application/rss+xml" title="the full feed" href="/feeds/the-full-feed/"/>
    <link rel="alternate" type="application/rss+xml" title="less noise" href="/feeds/less-noise/"/>
    <link rel="alternate" type="application/rss+xml" title="posts" href="/feeds/posts/"/>
    <link rel="alternate" type="application/rss+xml" title="beers" href="/feeds/beers/"/>
    <link rel="alternate" type="application/rss+xml" title="books" href="/feeds/books/"/>
    <link rel="alternate" type="application/rss+xml" title="code commits" href="/feeds/commits/"/>
    <link rel="alternate" type="application/rss+xml" title="comments" href="/feeds/comments/"/>
    <link rel="alternate" type="application/rss+xml" title="corrections" href="/feeds/corrections/"/>
    <link rel="alternate" type="application/rss+xml" title="shouts" href="/feeds/shouts/"/>
    <link rel="alternate" type="application/rss+xml" title="links" href="/feeds/links/"/>
    <link rel="alternate" type="application/rss+xml" title="locations" href="/feeds/locations/"/>
    <link rel="alternate" type="application/rss+xml" title="movies" href="/feeds/movies/"/>
    <link rel="alternate" type="application/rss+xml" title="videos" href="/feeds/videos/"/>
    <link rel="alternate" type="application/rss+xml" title="photos" href="/feeds/photos/"/>
    <link rel="alternate" type="application/rss+xml" title="tracks" href="/feeds/tracks/"/>
    {% block extrarss %}
    {% endblock %}
    
    {% block extralinktags %}
    {% endblock %}
    
    <script type="text/javascript" src="{{ STATIC_URL }}css3-mediaqueries.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    {#<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.4.4.min.js"></script>#}
    
    <script type="text/javascript"> 
    //<![CDATA[
    $(document).ready(function(){
        {% block extradocready %}
        {% endblock %}
    });
    //]]>
    </script>
    {% block extrahead %}
    {% endblock %}
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-701730-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>
<body {%block extrabody %}{% endblock %}>
    
    <div id="container" class="container">
        <div id="hd" class="row">
            <div class="ninecol">
                <h1>
                    <a href="/" title="{{ random_slogan }}" id="shingle">
                        <div rel="rnews:copyrightedBy rnews:hasSource rnews:providedBy">
                            <div about="http://palewi.re"
                                  typeof="rnews:Organization">
                                <div property="rnews:name">palewire</div>
                            </div>
                        </div>
                    </a>
                </h1>
            </div>
            <div class="threecol last" id="whois">
                <h2>
                    <a rel="author" href="{% url coltrane_bio %}" title="All about Ben">Who is Ben Welsh?</a>
                </h2>
            </div>
        </div>
            
        <div id="topbar" class="row">
            <div class="twelvecol last"></div>
        </div>
        <div id="navbar" class="row">
            <div class="ninecol"></div>
            <div class="threecol last">
                <div class="smalliconwrapper">
                    <a href="{% url coltrane_app_list %}" title="Apps">
                        <img src="{{ STATIC_URL }}icons/apps.gif" width="30" alt="apps" />
                    </a>
                    <div class="smalliconlabel">Apps</div>
                </div>
                <div class="smalliconwrapper">
                    <a href="{% url coltrane_clip_list %}" title="Clips">
                        <img src="{{ STATIC_URL }}icons/clips.png" width="30" alt="clips" />
                    </a>
                    <div class="smalliconlabel">Clips</div>
                </div>
                <div class="smalliconwrapper">
                    <a href="{% url coltrane_post_list %}" title="Posts">
                        <img src="{{ STATIC_URL }}icons/posts.gif" width="30" alt="posts" />
                    </a>
                    <div class="smalliconlabel">Posts</div>
                </div>
                <div class="smalliconwrapper">
                    <a href="{% url coltrane_ticker_list %}" title="Ticker">
                        <img src="{{ STATIC_URL }}icons/ticker.gif" width="30" alt="ticker" />
                    </a>
                    <div class="smalliconlabel">Ticker</div>
                </div>
            </div>
        </div>
            
        <div id="bd" class="row">
            {% block content %}
            {% endblock %}
        </div>
            
        {% get_current_year %}
        <div id="ft" class="row">
            <div class="twelvecol last">
                <span property="rnews:copyrightNotice">© <span property="rnews:copyrightYear">{{ current_year }}</span> palewire</span> . 
                <a href="/colophon/">colophon</a> . 
                <a href="/feeds/list/" title="Feeds">rss feeds</a> . 
                </a>
                powered by <a id="django-link" href="http://www.djangoproject.com/">django</a> . 
                hosted on an <a href="http://en.wikipedia.org/wiki/OpenStack">openstack</a> in the <a href="http://www.rackspace.com/">rackspace</a> cloud
            </div>
        </div>
        
    </div>

<script type="text/javascript">
    $(".smalliconwrapper").hover(
        function() {
            $(".smalliconlabel", $(this)).show();
        },
        function () {
            $(".smalliconlabel", $(this)).hide();
        }
    );
</script>

{% block extrabottom %}
{% endblock %}
</body>
</html>
