{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}who is ben welsh? . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="Who is Ben Welsh?"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://{{ current_site }}/who-is-ben-welsh/"/>
{% endblock %}

{% block content %}
<div class="vcard twelvecol last">

        <div class="row">
            <div class="twocol"></div>
            <div class="eightcol">
                <img class="photo" alt="Ben Welsh" title="Ben Welsh" src="{{ STATIC_URL }}img/ben-blue-800.jpg" />
            </div>
            <div class="twocol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>

        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol">
                <p>
                    Hello. My name is <span class="fn n"><span class="given-name">Ben</span> <span class="family-name">Welsh</span></span>.
                    I’m a native Iowan living in <span class="adr"><span class="locality">Los Angeles</span></span>.
                </p>
                <p>
                    I am a journalist, albeit an unconventional one. I specialize in what some people call
                    <a href="http://en.wikipedia.org/wiki/Computer-assisted_reporting">computer-assisted reporting</a>,
                    and some others call <a href="http://datajournalismhandbook.org/1.0/en/introduction_0.html">data journalism</a>.

                    Journalists in the past were often
                    hack novelists. I'm a hack computer programmer. I write code to collect, organize, analyze and present large amounts of information.
                </p>
                <p>
                    I am the editor of a team called the Data Desk at the <a href="http://www.latimes.com">Los Angeles Times</a>, a 24-hour
                    website and daily newspaper based in <span class="adr"><span class="region">Southern California</span></span>. Before working at The Times, I worked on investigative projects at <a href="http://www.publicintegrity.org">The Center for Public Integrity</a> and helped produce long-form documentaries for cable channels like CNN.
                </p>
                <p>
                    I am also the publisher of <a href="http://pastpages.org">PastPages</a>, an archive dedicated to the preservation of online news, and a co-founder of the <a href="http://www.californiacivicdata.org/">California Civic Data Coalition</a>, a network of developers dedicated to opening up public data.
                </p>

                <p>
                    My education includes a master&rsquo;s degree from the Missouri School of Journalism &mdash; where I worked at the
                    <a href="http://www.nicar.org">National Institute for Computer-Assisted Reporting</a> (NICAR). I received my undergraduate training at DePaul University in Chicago. I <a href="<a href="http://journalismcourses.org/PDJ0517.html">">frequently</a> <a href="http://first-news-app.readthedocs.io/en/latest/">teach</a> practical computer programming skills to journalism students and professionals.
                </p>

                <p>
                    Projects I've contributed to have been awarded <a href="http://www.pulitzer.org/winners/los-angeles-times-staff">The Pulitzer Prize</a>,
                    the <a href="http://blogs.loc.gov/digitalpreservation/2015/10/announcing-the-2015-innovation-award-winners/">Library of Congress' Innovation Award</a>, a <a href="https://www.californiacivicdata.org/2015/07/22/knight-news-challenge/">Knight News Challenge grant</a> and <a href="#honors">numerous other prizes</a> for investigative reporting, digital design and online journalism.
                </p>

                <p>
                    My work has been favorably mentioned by
                    <a href="http://blogs.wsj.com/digits/2012/05/08/la-times-developer-begins-archiving-newspaper-websites/">The Wall Street Journal</a>,
                    <a href="http://www.nytimes.com/2014/10/08/upshot/healthcaregov-still-suffers-from-lack-of-transparency.html?smid=nytcore-ipad-share&smprod=nytcore-ipad&_r=0&abt=0002&abg=1">The New York Times</a>,
                    <a href="http://towcenter.org/blog/debugging-the-backlash-to-data-journalism/">Columbia Journalism School</a>,
                    <a href="http://www.cjr.org/behind_the_news/code_talking.php?page=all">the Columbia</a> <a href="http://www.cjr.org/the_second_opinion/la_times_obamacare_database_doctor.php?page=all">Journalism Review</a>,
                    <a href="http://www.poynter.org/how-tos/newsgathering-storytelling/chip-on-your-shoulder/91590/train-crash-leads-la-times-to-create-django-database-on-deadline/">the Poynter Institute</a>,
                    <a href="http://www.niemanlab.org/2014/10/light-everywhere-the-california-civic-data-coalition-wants-to-make-public-datasets-easier-to-crunch/">Nieman</a> <a href="http://www.niemanlab.org/2014/11/storytracker-is-a-new-tool-to-track-how-news-homepages-change/">Journalism</a> <a href="http://www.niemanlab.org/2010/10/los-angeles-times-collaborates-across-the-newsroom-and-with-readers-to-map-neighborhood-crime/">Lab</a>,
                    <a href="https://projects.propublica.org/firewall/">ProPublica</a>,
                    <a href="http://strata.oreilly.com/2012/03/profile-of-the-data-journalist-2.html">O'Reilly Radar</a>,
                    <a href="http://mashable.com/2013/10/30/new-media-technology/">Mashable</a>,
                    <a href="http://www.laweekly.com/informer/2013/03/08/los-angeles-mayoral-election-map-bodacious-digital-tool-reveals-how-every-neighborhood-has-voted-since-2001">alternative weeklies</a>,
                    <a href="http://la.curbed.com/archives/2014/02/mapping_where_240_people_say_the_eastside_of_los_angeles_is.php">real estate blogs</a>,
                    <a href="https://www.youtube.com/watch?v=CCYe_9MrJDc">conservative talk radio</a>
                    and
                    <a href="http://www.journalism.co.uk/news/robot-reporters-how-computers-are-writing-la-times-articles/s2/a552359/">the</a> <a href="http://www.elperiodico.com/es/noticias/tecnologia/radicalidad-democratica-hacer-publicos-todos-los-datos-ponerlos-servicio-del-ciudadano-3760598">foreign</a> <a href="http://www.lavanguardia.com/tecnologia/innovacion/20141211/54421293735/robots-periodistas-ordenador-noticias.html">press</a></a>.
                </p>
                <p>
                    Elsewhere on the site you can find samples of
                    <a href="{% url 'coltrane_work_list' %}">work</a>,
                    and <a href="{% url 'coltrane_talk_list' %}">my public-speaking engagements</a>.
                </p>
            </div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>

        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
                <div class="row"><div class="listitem twelvecol last">
                    <a href="#contact" name="contact"><b>Email</b></a>
                </div>
            </div>
            <div class="row" style="height:70px;">
                <div class="listitem sixcol">
                    <a rel="me" href="mailto:ben.welsh@latimes.com">
                        ben.welsh@latimes.com
                    </a>
                </div>
                <div class="listitem sixcol last" >
                    <a rel="me" href="mailto:ben.welsh@gmail.com">
                        ben.welsh@gmail.com
                    </a>
                </div>
            </div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>

        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
            <div class="row"><div class="listitem twelvecol last">
                <a href="#social" name="social"><b>Social media</b></a>
            </div></div>
                {% for obj in socialmedia_list %}
                {% if not forloop.counter|divisibleby:"2" %}<div class="row">{% endif %}
                    <div class="listitem sixcol {% if forloop.counter|divisibleby:"2" %}last{% endif %}">&nbsp;&bull;&nbsp;
                        <a rel="me" class="url" href="{{ obj.url }}">{{ obj.title }}</a>
                    </div>
                {% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}
                {% endfor %}
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>

        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
                    <div class="row">
                        <div class="listitem twelvecol last">
                            <a href="#skills" name="skills">
                                <b>Technical skills</b>
                            </a>
                        </div>
                    </div>
                    {% for obj in skill_list %}
                    <div class="row">
                        <div class="listitem twelvecol last">
                            &nbsp;&bull;&nbsp; {{ obj }}
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>

        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
                <div class="row">
                    <div class="listitem twelvecol last">
                        <a href="#honors" name="honors"><b>Honors</b></a>
                    </div>
                </div>
                {% for obj in award_list %}
                <div class="row">
                    <div class="listitem twelvecol last">&nbsp;&bull;&nbsp;
                        {% if obj.url %}<a href="{{ obj.url }}">{% endif %}
                            {{ obj.title }}
                        {% if obj.url %}</a>{% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="onecol last"></div>
        </div>
</div>
{% endblock %}
