{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}who is ben welsh? . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="Who is Ben Welsh?"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://palewi.re/who-is-ben-welsh/"/>
{% endblock %}

{% block content %}
<div class="vcard twelvecol last">
    
        <div class="row">
            <div class="twocol"></div>
            <div class="eightcol">
                <img class="photo" alt="Ben Welsh" title="Ben Welsh" src="{{ STATIC_URL }}img/ben-blue-800.jpg" />
            </div>
            <div class="twocol last"></div>
        </div>
        
        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>
        
        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol">
                <p>
                    Hello. My name is <span class="fn n"><span class="given-name">Ben</span> <span class="family-name">Welsh</span></span>. I’m a native Iowan living in <span class="adr"><span class="locality">Los Angeles</span></span>.
                </p>
                <p>
                    I am a reporter, albeit an unconventional one. I specialize in what is called <a href="http://en.wikipedia.org/wiki/Computer-assisted_reporting">computer-assisted reporting</a>. Journalists in the past were often
    hack novelists. I'm a hack computer programmer. I use computers to collect, organize, analyze and present large amounts of information.
                </p>
                <p>
                    I work at the <a href="http://www.latimes.com">Los Angeles Times</a>, a daily newspaper and 24-hour website based in <span class="adr"><span class="region">Southern California</span></span>. Before working at The Times, I worked on investigative projects at <a href="http://www.publicintegrity.org">The Center for Public Integrity</a>, helped produce long-form documentaries for cable channels like CNN, and pitched in on some television and newspaper reporting.</p>
               <p>I earned a master&rsquo;s degree from the Missouri School of Journalism &mdash; where I worked at the <a href="http://www.nicar.org">National Institute for Computer-Assisted Reporting</a> (NICAR). I received my undergraduate training at DePaul University in Chicago.
                </p>
                <p>I am also the editor and publisher of <a href="http://pastpages.org">PastPages</a>, an archive dedicated to the preservation of online news.</p>
                <p>Elsewhere on the site you can find samples of <a href="/apps/">my programming work</a> and <a href="/clips/">my news clips</a>.</p>
            </div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>

        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
                    <div class="row"><div class="listitem twelvecol last"><b>Technical Skills</b></div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Programming with Python and Perl</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Database-driven web development with Django</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Online cartography with GeoDjango, PostGIS, TileMill and JavaScript UI libraries</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Database administration with PostgreSQL, MySQL and Microsoft SQL Server</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;UI development with JavaScript, CSS and HTML5 web standards</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Development and deployment with Rackspace, Amazon Web Services and Google App Engine</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Getting it done on deadline</div></div>
            </div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>
        
        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
            <div class="row"><div class="listitem twelvecol last">
                <b>Honors</b>
            </div></div>

                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://journalists.org/2013/09/16/2013-online-journalism-awards-finalists-announced/">
                        2013 Online Journalism Awards, Finalist, Topical Reporting (Large)
                    </a>
                </div></div>

                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://journalists.org/2013/09/16/2013-online-journalism-awards-finalists-announced/">
                        2013 Online Journalism Awards, Finalist, Gannett Foundation Award for Innovative Investigative Journalism (Large)
                    </a>
                </div></div>

                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.amazon.com/The-Best-American-Infographics-2013/dp/0547973373">
                        2013 Best American Infographics, One of 10 Best Interactive Infographics
                    </a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://blogs.laweekly.com/informer/2013/08/ben_welsh_web_awards.php">
                        2013 L.A. Weekly Web Awards, Winner, Savviest Online Presence
                    </a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://datadrivenjournalism.net/news_and_analysis/2013_data_journalism_awards_finalists_announced">
                        2013 Data Journalism Awards, Finalist, Data-Driven Investigative Journalism in Big Media
                    </a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    2012 California Newspaper Publishers Assn, Winner, Best Coverage of Local Government
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.latimes.com/news/local/readers-rep/la-me-rr-winners-of-times-2012-editorial-awards-20130418,0,1152447.story">2012 Los Angeles Times Editorial Awards, Winner, President's Prize</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.latimes.com/news/local/readers-rep/la-me-rr-winners-of-times-2012-editorial-awards-20130418,0,1152447.story">2012 Los Angeles Times Editorial Awards, Winner, Graphics</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.snd.org/2013/02/snd34-best-of-digital-design-unofficial-results-including-awards-of-excellence-and-medal-winners/">SND34, Best of Digital Design, Data Project (Breaking News), Award of Excellence</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.ire.org/blog/2012-car-conference-blog/2013/01/17/winning-t-shirt-selected-nicar-2013/">2013 NICAR T-shirt Contest, Winner</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://journalists.org/2012/08/29/2012-online-journalism-awards-finalists-announced/">2012 Online Journalism Awards, Finalist, Technical Innovation in the Service of Digital Journalism</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://journalists.org/2012/09/24/2012-online-journalism-award-winners-announced/">2012 Online Journalism Awards, Winner, Breaking News (Large)</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://nieman.harvard.edu/newsitem.aspx?id=100193">2012 Worth Bingham Prize for Investigative Journalism, Winner</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://annenberg.usc.edu/News%20and%20Events/News/120227SeldenRing.aspx">2012 Selden Ring Award for Investigative Reporting, Finalist</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://ire.org/conferences/nicar-2012/nicar-t-shirt/">2012 NICAR T-shirt Contest, Winner</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://latimesblogs.latimes.com/readers/2012/05/la-times-2011-editorial-awards-1.html">2011 Los Angeles Times Editorial Awards, Winner, Digital Presentation</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://latimesblogs.latimes.com/readers/2012/05/la-times-2011-editorial-awards-1.html">2011 Los Angeles Times Editorial Awards, Winner, Publisher's Prize</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.ire.org/awards/ire-awards/winners/2011-ire-awards-winners/">2011 IRE Finalist, Print/Online (Large)</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://journalists.org/awards/2011-awards/">2011 Online Journalism Awards, Finalist, Outstanding Informational Graphic or Data Visualization</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.flickr.com/photos/palewire/5638065157/in/photostream">2011 "25 under 35" list, Editor and Publisher magazine</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://journalists.org/awards/past-winners-2010/">2010 Online Journalism Awards, Finalist, Community Collaboration</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://depaul.edu/magazine/#Welsh">2009 "14 under 40" list of alumni success stories, DePaul University Magazine</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://latimesblogs.latimes.com/readers/2010/05/winners-of-times-editorial-awards.html">2009 Los Angeles Times Editorial Awards, Winner, Multimedia</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://latimesblogs.latimes.com/readers/2010/05/winners-of-times-editorial-awards.html">2009 Los Angeles Times Editorial Awards, Winner, Online Presentation</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://journalists.org/awards/past-winners-2009/">2009 Online Journalism Awards, Finalist, Community Collaboration</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://journalists.org/awards/past-winners-2009/">2009 Online Journalism Awards, Finalist, Multimedia Feature Presentation</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.ire.org/awards/ire-awards/winners/2008-ire-awards-winners/">2008 IRE Certificate, Winner, Local Circulation Weeklies</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://scripps.com/foundation/news/releases/09march13.html">2008 Scripps Howard Foundation, Winner, Web Reporting</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.sej.org/contest/index.htm">2008 SEJ Awards, Winner, Outstanding Online Reporting</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    2008 SPJ-Fort Worth First Amendment Awards, Winner, Green News
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://journalists.org/awards/past-winners-2009/">2008 Online Journalism Awards, Finalist, Outstanding Use of Digital Technology</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.marketwire.com/press-release/Society-Of-Professional-Journalists-843541.html">2007 SPJ Sigma Delta Chi Awards, Winner, Online Non-Deadline Reporting (Independent) and Online Investigative Reporting (Independent)</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://www.healthjournalism.org/awards-winners.php?Year=2007">2007 AHCJ Awards, Winner, Trade/Online Journals/Newsletters</a>
                </div></div>
                <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                    <a href="http://ire.org/awards/ire-awards/winners/2007-ire-awards-winners/">2007 IRE Certificate, Winner, Online</a>
                </div></div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>
        
        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
            <div class="row"><div class="listitem twelvecol last">
                <b>Social Media</b>
            </div></div>
                <div class="row">
                    <div class="listitem sixcol">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://delicious.com/palewire">Delicious</a>
                    </div>
                    <div class="listitem sixcol last">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://www.donorschoose.org/palewire">Donors Choose</a>
                    </div>
                </div>
                <div class="row">
                    <div class="listitem sixcol">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://www.facebook.com/palewire">Facebook</a>
                    </div>
                    <div class="listitem sixcol last">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://www.flickr.com/photos/77114776@N00/">Flickr</a>
                    </div>
                </div>
                <div class="row">
                    <div class="listitem sixcol">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://www.flixster.com/user/palewire">Flixster</a>
                    </div>
                    <div class="listitem sixcol last">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://foursquare.com/user/palewire">Foursquare</a>
                    </div>
                </div>
                <div class="row">
                    <div class="listitem sixcol">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://github.com/palewire/">GitHub</a>
                    </div>
                    
                    <div class="listitem sixcol last">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://www.goodreads.com/user/show/15990772-ben-welsh
">GoodReads</a>
                    </div>
                </div>
                <div class="row">
                    <div class="listitem sixcol">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me publisher" class="url" href="https://plus.google.com/106133448962646193402?rel=author">Google+</a>
                    </div>
                    <div class="listitem sixcol last">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://www.kiva.org/lender/palewire">Kiva</a>
                    </div>
                </div>
                <div class="row">
                    <div class="listitem sixcol">&nbsp;&bull;&nbsp;&nbsp;
                       <a rel="me" class="url" href="http://www.last.fm/user/palewire">Last.FM</a>
                    </div>
                    <div class="listitem sixcol last">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://www.linkedin.com/pub/ben-welsh/9/3b4/256">LinkedIn</a>
                    </div>
                </div>
                <div class="row">
                    <div class="listitem sixcol">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://www.openstreetmap.org/user/palewire/">OpenStreetMap</a>
                    </div>
                    <div class="listitem sixcol last">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://stackoverflow.com/users/281558/palewire">StackOverflow</a>
                    </div>
                </div>
                <div class="row">
                    <div class="listitem sixcol">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://twitter.com/palewire">Twitter</a>
                    </div>
                    <div class="listitem sixcol last">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="http://untappd.com/user/palewire">Untapped</a>
                    </div>
                </div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>
        
        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
            <div class="row"><div class="listitem twelvecol last">
                <b>Contacts</b>
            </div></div>
                <div class="row" style="height:70px;"><div class="listitem sixcol">
                    <a rel="me" class="url" href="aim:GoIM?screenname=palewiredotcom"><img src="http://api.oscar.aol.com/presence/icon?k=pa1veJZRXJ9a45iK&amp;t=palewiredotcom" style="border:0;"/></a> &nbsp;palewiredotcom
                </div>
                <div class="listitem sixcol last" >
                    <img style="vertical-align:text-bottom;" alt="my email" src="{{ STATIC_URL }}img/email.png"/>
                </div></div>
            <div class="onecol last"></div>
        </div>
        
        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>

        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
                <div class="row">
                    <div class="listitem twelvecol last">
                        <b>GPG Public Key</b>
                    </div>
                </div>
                <div class="row" style="">
                    <pre style="">
Version: GnuPG v1.4.12 (GNU/Linux)

mQENBFG+m2gBCADQmbEYPTKHlF1eykr+BHU6OhW4InhwkMMNLDaJ5AicP79NNzGS
u7CWXWGFAk8l6UJhjbUF4ZUICw5UibgQJwSHwI+bagkidMQ/PhERaa7hCoycZzxf
d3o9QfHp/al5Ma0jZ4+zyz0x7TWy9VIDiqj9BCot4gvrR+edbb6E6xjWDmFJcYGU
OzsvpzSFwE4HOSmRjS3sWK89HPqTXmzTw5MivZsazD0LTrp6hBVPhJB9MP8JEqO5
eIw43Z8ZvGqkOrvGcL22ABfOpUeMoplrvBInyD25PhBWDtpGQk5xRgSTikaOLKn/
/3E8c9vRmUqf1Z/F8bICNCyLOQm9Lk7RR1HdABEBAAG0H0JlbiBXZWxzaCA8YmVu
LndlbHNoQGdtYWlsLmNvbT6JAT4EEwECACgFAlG+m2gCGwMFCQHhM4AGCwkIBwMC
BhUIAgkKCwQWAgMBAh4BAheAAAoJEIW2f+23I9VSUQYIAK4zUxzbnA0RqIaEzUCX
o1h8YiqLt5hGv0mrdwkNulqllaYdinhbs00Wf2aAKT72PGqMOdA7Zu4IagfUs8Wv
CGBd1KnsyZMF1ojkiiEoT4tOxxCAj8qxV7sglFXCTMwrOcu9HoZltsIjCWibFKSW
woSDbYQSoATa2THe7Jj7EWrYLTWGuGjCtChZ70KvKcolMl7sKZuLRSz+0FDPUQEp
j0kSeh8U5kMRVT0W314fP+L9vj8XBGDOs2v2OJAZ/eHpfu7/gvhzB2qGPgFtKxSZ
fyutnpFvqlyRPT8mua01/DIQKt43xBTI7c0AFvg98AYPI52592bqnpSAGbw027d+
miW5AQ0EUb6baAEIANgB6Mo3SxBt0/iJxSIhPxRCSO5GQ3YRoddPbUhLLaN+fTUX
CVWzLqtDxtWhyfqn/M51323kvxqlyeFAuHlex0aqEsz6RFpSU73gahzAUBp6DGyZ
rqguETkESFGCCM+5OgDqIVfBM2+HWNH3/NI/3VKgPTSMH3hWTGeFSJnwmyhAoyFk
M70gLUgTSxHJShGMFzn/zLQZj7d6CQcNHMaJqLT8oqySArjibvwII7SICKYxwMx/
HEQLJxuNoC5tAeZo6/RQedjrDIzcpWv1x8WQ1QPggEOsm5FjWzlHk9Um5K4Gy8Um
Dqi55+xEE2KbW7SR1cbUCzFMQGd/5QCZXrYbf2MAEQEAAYkBJQQYAQIADwUCUb6b
aAIbDAUJAeEzgAAKCRCFtn/ttyPVUtNECACJ4WIu//v/95qQLcpWz5s2UXra+2Ra
ygzk1oEZvP1ztB/lHvjnlCWSl671jVSLY68AvqxAaHZyB89sQZMcGBFeNwr9QN49
kBuDG0rm/cnzN9SrNZs8fBwDIjX221XFuh51vWNKEWGcT964QplY4t9XuCJfeGK9
i7fiaWaDGkXyNbDQq2r/f4xcrohBtLA3NoN+gDwjS6fdvfg5LqQTVqsbWDtaYZOl
gHovaDK419tBF638EIvrsHPoyeJw7MYvv3Ro2jwhfV94DUIY4oVMQl5JEJ5Mm2I5
lHMoZCJntqX+NA7GHcS65IgyvrewzuKz5BJASB/kAs80ushgV6PkpuvW
=+sGx
                    </pre>
                </div>
            </div>
            <div class="onecol last"></div>
        </div>
</div>
{% endblock %}
