{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}who is ben welsh? . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="Who is Ben Welsh?"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://{{ current_site }}/who-is-ben-welsh/"/>
{% endblock %}

{% block content %}
<div class="vcard twelvecol last">
    
        <div class="row">
            <div class="twocol"></div>
            <div class="eightcol">
                <img class="photo" alt="Ben Welsh" title="Ben Welsh" src="{{ STATIC_URL }}img/ben-blue-800.jpg" />
            </div>
            <div class="twocol last"></div>
        </div>
        
        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>
        
        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol">
                <p>
                    Hello. My name is <span class="fn n"><span class="given-name">Ben</span> <span class="family-name">Welsh</span></span>. I’m a native Iowan living in <span class="adr"><span class="locality">Los Angeles</span></span>.
                </p>
                <p>
                    I am a reporter, albeit an unconventional one. I specialize in what is called <a href="http://en.wikipedia.org/wiki/Computer-assisted_reporting">computer-assisted reporting</a>. Journalists in the past were often
    hack novelists. I'm a hack computer programmer. I use computers to collect, organize, analyze and present large amounts of information.
                </p>
                <p>
                    I work at the <a href="http://www.latimes.com">Los Angeles Times</a>, a daily newspaper and 24-hour website based in <span class="adr"><span class="region">Southern California</span></span>. Before working at The Times, I worked on investigative projects at <a href="http://www.publicintegrity.org">The Center for Public Integrity</a>, helped produce long-form documentaries for cable channels like CNN, and pitched in on some television and newspaper reporting.</p>
               <p>I earned a master&rsquo;s degree from the Missouri School of Journalism &mdash; where I worked at the <a href="http://www.nicar.org">National Institute for Computer-Assisted Reporting</a> (NICAR). I received my undergraduate training at DePaul University in Chicago.
                </p>
                <p>I am also the editor and publisher of <a href="http://pastpages.org">PastPages</a>, an archive dedicated to the preservation of online news.</p>
                <p>Elsewhere on the site you can find samples of
                    <a href="{% url 'coltrane_app_list' %}">my programming work</a>,
                    <a href="{% url 'coltrane_clip_list' %}">my news clips</a>
                    and <a href="{% url 'coltrane_talk_list' %}">my public-speaking engagements</a>.</p>
            </div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>

        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
                    <div class="row">
                    <div class="listitem twelvecol last">
                        <a href="#skills" name="skills">
                            <b>Technical skills</b>
                        </a>
                    </div>
                    </div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Programming with Python and Perl</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Database-driven web development with Django</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Database administration with PostgreSQL, MySQL and Microsoft SQL Server</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;UI development with JavaScript, CSS and HTML5 web standards</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Development and deployment with Rackspace, Amazon Web Services and Google App Engine</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Online cartography with GeoDjango, PostGIS, TileMill and JavaScript UI libraries</div></div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Data visualization with D3 and other browser-based libraries</div>
                    <div class="row"><div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;Getting it done on deadline</div></div>
            </div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>
        
        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
                <div class="row">
                    <div class="listitem twelvecol last">
                        <a href="#honors" name="honors"><b>Honors</b></a>
                    </div>
                </div>
                {% for obj in award_list %}
                <div class="row">
                    <div class="listitem twelvecol last">&nbsp;&bull;&nbsp;&nbsp;
                        {% if obj.url %}<a href="{{ obj.url }}">{% endif %}
                            {{ obj.title }}
                        {% if obj.url %}</a>{% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>
        
        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
            <div class="row"><div class="listitem twelvecol last">
                <a href="#social" name="social"><b>Social media</b></a>
            </div></div>
                {% for obj in socialmedia_list %}
                {% if not forloop.counter|divisibleby:"2" %}<div class="row">{% endif %}
                    <div class="listitem sixcol {% if forloop.counter|divisibleby:"2" %}last{% endif %}">&nbsp;&bull;&nbsp;&nbsp;
                        <a rel="me" class="url" href="{{ obj.url }}">{{ obj.title }}</a>
                    </div>
                {% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}
                {% endfor %}
            <div class="onecol last"></div>
        </div>

        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>
        
        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
            <div class="row"><div class="listitem twelvecol last">
                <a href="#contact" name="contact"><b>Contact me</b></a>
            </div></div>
                <div class="row" style="height:70px;"><div class="listitem sixcol">
                    <a rel="me" class="url" href="aim:GoIM?screenname=palewiredotcom"><img src="http://api.oscar.aol.com/presence/icon?k=pa1veJZRXJ9a45iK&amp;t=palewiredotcom" style="border:0;"/></a> &nbsp;palewiredotcom
                </div>
                <div class="listitem sixcol last" >
                    <img style="vertical-align:text-bottom;" alt="my email" src="{{ STATIC_URL }}img/email.png"/>
                </div></div>
            <div class="onecol last"></div>
        </div>
        
        <div class="row">
            <div class="twocol"></div>
            <div class="detailborderbumper eightcol"></div>
            <div class="twocol last"></div>
        </div>

        <div class="biotext row">
            <div class="onecol"></div>
            <div class="tencol interiorlist">
                <div class="row" style="clear:both;">
                    <div class="listitem twelvecol last">
                        <a href="#crypto" name="crypto">
                            <b>Encryption</b>
                        </a>
                    </div>
                </div>
                <div class="row" style="clear:both; min-height:75px; font-size:14px;">
                    <div class="listitem twelvecol last">
                        <pre style="overflow:auto; min-height:75px;">
pub   2048R/6FFB3C05 2013-12-29
      Key fingerprint = 041B DD3C E233 4F32 CF34  A058 ACB7 D74B 6FFB 3C05
uid                  Ben Welsh (palewire) &lt;ben.welsh@gmail.com&gt;
sub   2048R/AABAE420 2013-12-29
                        </pre>
                    </div>
                </div>
                <div class="row" style="clear:both;"></div>
                <div class="row" style="clear:both; padding-top:10px; min-height:500px; font-size:14px;">
                    <div class="listitem twelvecol last">
                    <pre style="overflow:auto;min-height:500px;"">
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.14 (GNU/Linux)

mQENBFK/cn4BCAC9B1VnLtBVAd2v2YLuBydboamXaZmaloqWm1jvWQkkWQaGzhue
1/wxVAWXHsHrgM8aCqDtg4CxVGK+coMdSD6+sSHw6/RC513L6x5bm0YqG6N15bgf
o/7X46l1ERih/zBY2QAsEThwR7UamxBHDdi2BU/RSIpvHkU1O5RNYdlBz5haroKx
rrtWqfrLPOt73HkeADm/wRFL6ukb89Jbu6GnnRJp07HWmqcI95R8NZtI2wytFrhv
Kbe6oWxOWmKoAKoTqZstZ8hJmgCQYCjOHIukA0XvVhWSScSzDf0upNJxpEhGKCL/
EYZ5Vc/4AMqPVyV1d89XbAYYuwOwY1/hZR4ZABEBAAG0KkJlbiBXZWxzaCAocGFs
ZXdpcmUpIDxiZW4ud2Vsc2hAZ21haWwuY29tPokBOAQTAQIAIgUCUr9yfgIbAwYL
CQgHAwIGFQgCCQoLBBYCAwECHgECF4AACgkQrLfXS2/7PAW98Qf/UfbgmQJz7D78
sg8wijWcV3bbmqo6NCYBOrtzS4Qhk/9Bc3KexmWwF0aKivwPCFMPCbJqtAAdebBm
Z2X0jPi41EJRUvvUs3qnyR4pGjcE6DxGXaaL6/mS0Ao3qH52t1fTIhvcZvkj167B
4+ZJvKzBMjXOmTnf7Qqn76st8MANVenIwMoU2BtBU3axYLLR+TY/Ae2+amB1Iclk
hDd/1ddhjbnM+vxHWyGzl5FtzwsY0Nc0s7J/zgQkhR2mDQU3OTRml8o3M3sdCa8j
C/8VILsCe1m+bGBz9Wrzfdv6QYaqyhWco36eOm1QAWELoS1dS7enfcpn+iWxWHaP
Xp6cXrz2i7kBDQRSv3J+AQgAvRlLFLAJ1DjMmZ2aYiU0XU6LrWufSBIXKR5LtSjb
RX482O/u4v5Q0ojIX40QGWRQLdcbnI0og8OvUuLIVPPCgyFWDsQU9FgrSLUoq8KY
Nzn19PpF/kmzsASOJgIGwOVB0dMxUHXs83507ucLao2Czpu+I/1GM5bsD8THTke6
UPfHDqjjHL6qoAGzxgkklSsDIalQAVo+nGE7a7eMCqGjyke1fH1nDp+HochNSJlz
FhqT+xCUB8etneAuaQ8ZxugG4J+mOWUVXh3fFLf0yN50m/BKpYjd2iEsaR2xQ4/U
3CNly1Gw7H53bxmUJMbiz5CP8wFgxlvcTsh/U2fQf+Gs3wARAQABiQEfBBgBAgAJ
BQJSv3J+AhsMAAoJEKy310tv+zwF1owIAKlbkd9YApcVjLO7dB5f2X0GQbywrdmk
opETjjmGb4/oby2kACF6FaYt8idZ0cOSsrnMNQOZiFMWHDb1qLB1jE32YRnXuEPb
su7vucyMNF4LRNWbbjt6cKpX08gOd9TWiCcrfNMpqaQ7UxGxKhWBtTjwLp0Ni2EC
Tt+Cc9qkk2LTV6FpQk6tIT5Ej+S8POk6AqOW1PojpP2XCmnQcIRbmDUKbiviH+1L
ZZ62o1j1TEUpeFyTtxnIXzrJlby1nb+WqzFl6CUYXd4pEBOikVdhgCX8/1iixkgs
WfkMyvvPP8GbyD1VHOdgV3UEeVsakRowwn3EZjXUhddsErb04pfPX/0=
=RBj4
-----END PGP PUBLIC KEY BLOCK-----
                    </pre>
                </div>
                </div>
            </div>
            <div class="onecol last"></div>
        </div>
</div>
{% endblock %}
