{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}{{ category.title|lower }} . categories . {{ block.super }}{% endblock %}

{% block extrarss %}
    <link rel="alternate" type="application/rss+xml" title="{{ category.title|lower }}" href="/feeds/category/{{ category.slug }}/"/>
{% endblock%}

{% block content %}
    <div class="interiorlist twelvecol last">
        <h2><img style="vertical-align:text-bottom;" src="{{ MEDIA_URL }}icons/posts.gif" alt="posts"/>&nbsp;Posts about {{ category.title }}</h2>
        
        <ul>
        {% for object in object_list %}
            {% ifchanged object.pub_date.year %}
            <li class="interior-date">{{ object.pub_date|date:"Y" }}</li>
            {% endifchanged %}
            <li>
                {{ object.pub_date|date:"N d" }}&nbsp;&nbsp;&nbsp;
                <a href="{{ object.get_absolute_url }}">{{ object }}</a> 
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
