{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}{{ category.title|lower }} . categories . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="Posts about {{ category }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://{{ current_site }}/categories/{{ category.slug }}/"/>
{% endblock %}

{% block extrarss %}
    <link rel="alternate" type="application/rss+xml" title="{{ category.title|lower }}" href="/feeds/category/{{ category.slug }}/"/>
{% endblock%}

{% block content %}
    <div class="interiorlist twelvecol last">
        <h1>Posts about {{ category.title }}</h1>
        {% for object in object_list %}
            {% ifchanged object.pub_date.year %}
            <div class="row">
                <div class="section-hed twelvecol last">
                    {{ object.pub_date|date:"Y" }}
                </div>
            </div>
            {% endifchanged %}
            <div class="row">
                <div class="listitem twelvecol last">
                    {{ object.pub_date|date:"N d" }}&nbsp;&nbsp;&nbsp;
                    <a href="{{ object.get_absolute_url }}">{{ object }}</a> 
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
