{% extends "coltrane/base.html" %}

{% block title %}clips . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="clips"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://palewire.com/clips/"/>
{% endblock %}

{% block content %}

    <div class="applist twelvecol last">
        <h1><img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/clips.png" alt="clips"/>&nbsp;Clips</h1>
        
        <p>A selection of news stories I've authored, often in partnership with another reporter.</p>
        
        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://articles.latimes.com/print/2009/jul/09/local/me-lapd-crimemap9">
                    <img src="{{ STATIC_URL }}clips/lapdmap.jpg">
                </a>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://articles.latimes.com/print/2009/jul/09/local/me-lapd-crimemap9">
                    LAPD&rsquo;s public database omits nearly 40% of this year's crimes</a></h3>
                <p>The map, touted as a way for residents to monitor the safety of their neighborhoods, doesn't include about 19,000 serious crimes reported in other LAPD data. Officials say they're looking into it.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://articles.latimes.com/print/2011/apr/17/local/la-me-uprates-20110418">
                    <img src="{{ STATIC_URL }}clips/uprates.jpg">
                </a>
                    <div style="font-size:9px; line-height:9px;">Photo: <a href="http://www.flickr.com/photos/colinwood0">colinwood0</a></div>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://articles.latimes.com/print/2011/apr/17/local/la-me-uprates-20110418">
                    U.S. is increasing nuclear power through uprating</a></h3>
                <p>Turning up the power is a little-publicized way of getting more electricity from existing nuclear plants. But scrutiny is likely to increase in the wake of Japan&rsquo;s nuclear crisis.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://projects.latimes.com/mapping-la/debates/westside/">
                    <img src="{{ STATIC_URL }}clips/westside.png">
                </a>
                    <div style="font-size:9px; line-height:9px;">Illustration: Thomas Suh Lauder</div>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://projects.latimes.com/mapping-la/debates/westside/">
                    Where does the Westside start?</a></h3>
                <p>Is it a fixed place, with its own borders, customs and society, or only a state of mind?</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://archive.fwweekly.com/content.asp?article=6967">
                    <img src="{{ STATIC_URL }}clips/txu.jpg">
                </a>
                    <div style="font-size:9px; line-height:9px;">Illustration: Fort Worth Weekly</div>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://archive.fwweekly.com/content.asp?article=6967">
                    Hear No Evil, Smell No Evil</a></h3>
                <p>State regulators don’t seem worried about TXU&rsquo;s lapses in reporting power plant pollution.</p>
            </div>
        </div>


        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://latimesblogs.latimes.com/lanow/2011/12/occupy-la-a-portrait-of-the-arrested-protesters.html">
                    <img src="{{ STATIC_URL }}clips/occupy.jpg">
                </a>
                    <div style="font-size:9px; line-height:9px;">Photo: Mark Boster</div>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://latimesblogs.latimes.com/lanow/2011/12/occupy-la-a-portrait-of-the-arrested-protesters.html
">Occupy L.A.: A portrait of the arrested protesters</a></h3>
                <p>The nearly 300 protesters arrested near City Hall skewed young, white, male and local.</p>
            </div>
        </div>




        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://projects.publicintegrity.org/telecom/telecomwatch.aspx?eid=2816">
                    <img src="{{ STATIC_URL }}clips/tate.jpg">
                </a>
                <div style="font-size:9px; line-height:9px;">Photo: <a href="http://www.nndb.com/people/277/000172758/">NNDB</a></div>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://projects.publicintegrity.org/telecom/telecomwatch.aspx?eid=2816">
                    Clear Channel gives Tate talking points against XM-Sirius merger</a></h3>
                <p>Federal Communications Commissioner Deborah Tate has received talking points against the proposed satellite radio XM-Sirius merger from Clear Channel Radio, one of the country's biggest radio broadcasters and an ardent opponent of the deal.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://projects.publicintegrity.org/MilitaryAid//report.aspx?aid=831">
                    <img src="{{ STATIC_URL }}clips/pakistan.jpg">
                </a>
                <div style="font-size:9px; line-height:9px;">Photo: <a href="http://www.flickr.com/photos/aus_defence_force">aus defence force</a></div>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://projects.publicintegrity.org/MilitaryAid//report.aspx?aid=831">
                    Pakistan's $4.7 billion 'blank check' for U.S. military aid</a></h3>
                <p>After 9/11, funding to country soars with little oversight.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://articles.latimes.com/print/2008/sep/05/local/me-scores5">
                    <img src="{{ STATIC_URL }}clips/highschool.jpg">
                </a>
                <div style="font-size:9px; line-height:9px;">Photo: <a href="http://www.flickr.com/photos/bigmikelakers/">bigmikelakers</a></div>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://articles.latimes.com/print/2008/sep/05/local/me-scores5">
                    Half of high schools met U.S. goals</a></h3>
                <p>The figure would have been even lower if the state hadn&rsquo;t used an easier measure than it does for lower grades.</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://articles.latimes.com/print/2011/may/22/local/la-me-torrance-crimes-20110522">
                    <img src="{{ STATIC_URL }}clips/torrance.jpg">
                </a>
                <div style="font-size:9px; line-height:9px;">Photo: <a href="http://www.flickr.com/photos/ozzywu1974/">ozzywu1974</a></div>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://articles.latimes.com/print/2011/may/22/local/la-me-torrance-crimes-20110522">
                    Torrance's crime map omits hundreds of violations</a></h3>
                <p>Unlike the LAPD and Sheriff&rsquo;s Department, Torrance&rsquo;s online crime map doesn't include rapes, shoplifting and other incidents police deem &lsquo;confidential.&rsquo;</p>
            </div>
        </div>

        <div class="row appitem">
            <div class="threecol appimage">
                <a href="http://www.columbiamissourian.com/stories/2005/12/27/federal-loans-go-for-risky-business/">
                    <img src="{{ STATIC_URL }}clips/columbia.jpg">
                </a>
                <div style="font-size:9px; line-height:9px;">Photo: <a href="http://www.flickr.com/photos/zesmerelda/">zesmerelda</a></div>
            </div>
            <div class="ninecol last apptext">
                <h3><a href="http://www.columbiamissourian.com/stories/2005/12/27/federal-loans-go-for-risky-business/">
                    Federal loans go for risky business</a></h3>
                <p>The high percentage of loans to Columbia bars and restaurants surpasses a national trend.</p>
            </div>
        </div>

{% endblock %}
