{% extends "coltrane/base.html" %}

{% block title %}clips . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="clips"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://{{ current_site }}/clips/"/>
{% endblock %}

{% block content %}

    <div class="interiorlist applist twelvecol last">
        <h1>Clips</h1>
        <p class="description">A selection of news stories I've authored, typically based on an original data analysis and often in partnership with other reporters. Examples of my work developing software can be found <a href="{% url 'coltrane_app_list' %}">here</a>.</p>

        {% for object in clip_list %}
            <a name="{{ object.name|slugify }}"></a>
            <div class="row appset">
                <div class="twelvecol section-hed">
                     {{ object.name }}
                    <p>{{ object.description|safe }}</p>
                </div>
                {% for clip in object.app_list %}
                    {% if not forloop.counter|divisibleby:'2' %}
                    <div class="row">
                    {% endif %}
                        <div class="sixcol appitem {% if forloop.counter|divisibleby:'2' %}last{% endif %}">
                            <div class="threecol appimage">
                                <a href="{{ clip.url }}">
                                    <img src="{{ STATIC_URL }}clips/{{ clip.image }}">
                                </a>
                            </div>
                            <div class="ninecol last apptext">
                                <h3><a href="{{ clip.url }}">{{ clip.name }}</a></h3>
                                <p>{{ clip.description|safe }}</p>
                            </div>
                        </div>
                    {% if forloop.counter|divisibleby:'2' or forloop.last %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

{% endblock %}
