{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}feeds . {{ block.super }}{% endblock %}

{% block content %}
    <div class="interiorlist">
        <h2><img style="vertical-align:text-bottom;" src="/media/icons/feeds.gif" alt="feeds"/>&nbsp;Feeds</h2>
        <ul>
            <li class="interior-date">Bundles</li>
            <li><a href="{% url coltrane_feeds "the-full-feed" %}">The Full Feed</a></li>
            <li><a href="{% url coltrane_feeds "less-noise" %}">Less Noise ("Everything except tracks")</a></li>
            <li class="interior-date">Singletons</li>
            <li><a href="{% url coltrane_feeds "books" %}">Books</a></li>
            <li><a href="{% url coltrane_feeds "commits" %}">Code commits</a></li>
            <li><a href="{% url coltrane_feeds "comments" %}">Comments</a></li>
            <li><a href="{% url coltrane_feeds "corrections" %}">Corrections</a></li>
            <li><a href="{% url coltrane_feeds "links" %}">Links</a></li>
            <li><a href="{% url coltrane_feeds "locations" %}">Locations</a></li>
            <li><a href="{% url coltrane_feeds "movies" %}">Movies</a></li>
            <li><a href="{% url coltrane_feeds "photos" %}">Photos</a></li>
            <li><a href="{% url coltrane_feeds "posts" %}">Posts</a></li>
            <li><a href="{% url coltrane_feeds "tracks" %}">Tracks</a></li>
            <li><a href="{% url coltrane_feeds "shouts" %}">Shouts</a></li>
        </ul>
    </div>
{% endblock %}
