{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}feeds . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="feeds"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://palewire.com/feeds/list/"/>
{% endblock %}

{% block content %}
    <div class="interiorlist twelvecol last feeds">
        <h1><img style="vertical-align:text-bottom;" src="{{ MEDIA_URL }}icons/feeds.gif" alt="feeds"/>&nbsp;Feeds</h1>
        <p>Subscribe to palewire.com via RSS.</p>
        <ul>
            <div class="row"><div class="twelvecol last interior-date">Bundles</div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-the-full-feed %}">The Full Feed</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-less-noise %}">Less Noise ("Everything but tracks")</a></div></div>
            <div class="row"><div class="twelvecol last interior-date">Singletons</div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-beers %}">Beers</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-books %}">Books</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-commits %}">Code commits</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-comments %}">Comments</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-corrections %}">Corrections</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-links %}">Links</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-locations %}">Locations</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-movies %}">Movies</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-photos %}">Photos</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-posts %}">Posts</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-tracks %}">Tracks</a></div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-shouts %}">Shouts</a></div></div>
            <div class="row"><div class="twelvecol last interior-date">Other applications</div></div>
            <div class="row"><div class="listitem twelvecol last"><a href="{% url feeds-questionheds %}">Questionheds</a></div></div>
        </ul>
    </div>
{% endblock %}
