<!-- Start Advanced Gallery Html Containers -->

<div id="gallery" class="content">
	<div id="slideshow" class="slideshow"></div>
</div>

<div id="thumbs" class="navigation">
	<ul class="thumbs noscript">
		{% for name, data in favorite_photos.items %}
		
		<li style="margin-top:0px;">

			<a class="thumb" href="{{ data.image }}" title="{{ name }}">
				<img src="{{ data.thumbnail }}" alt="{{ name }}" />
			</a>

		</li>
		
		{% endfor %}
		
	</ul>
</div>
<!-- End Advanced Gallery Html Containers -->
