{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}posts . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="posts"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://{{ current_site }}/posts/"/>
{% endblock %}

{% block content %}
    <div class="interiorlist twelvecol last">
        <h1>Posts</h1>
        <p class="description">A complete list of articles written for this site.</p>
        {% for object in object_list %}
            {% ifchanged object.pub_date.year %}
            <div class="row">
                <div class="section-hed twelvecol last">
                    {{ object.pub_date|date:"Y" }}
                </div>
            </div>
            {% endifchanged %}
            <div class="row">
                <div class="listitem twelvecol last">
                    {{ object.pub_date|date:"N d" }} •
                    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
