{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}posts . {{ block.super }}{% endblock %}

{% block content %}
    <div class="interiorlist twelvecol last">
        <h1><img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/posts.gif" alt="posts"/>&nbsp;Posts</h1>
        <p>A complete list of articles written for palewire.com.</p>
        {% for object in object_list %}
            {% ifchanged object.pub_date.year %}
            <div class="row">
                <div class="interior-date twelvecol last">
                    {{ object.pub_date|date:"Y" }}
                </div>
            </div>
            {% endifchanged %}
            <div class="row">
                <div class="listitem twelvecol last">
                    {{ object.pub_date|date:"N d" }}&nbsp;&nbsp;&nbsp;
                    <a href="{{ object.get_absolute_url }}">{{ object }}</a> 
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
