{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}posts . {{ block.super }}{% endblock %}

{% block content %}
    <div class="interiorlist twelvecol last">
        <h1><img style="vertical-align:text-bottom;" src="{{ MEDIA_URL }}icons/posts.gif" alt="posts"/>&nbsp;Posts</h1>
        <p>A complete list of articles written for palewire.com.</p>
        <ul>
        {% for object in object_list %}
            {% ifchanged object.pub_date.year %}
            <li class="interior-date">{{ object.pub_date|date:"Y" }}</li>
            {% endifchanged %}
            <li>
                {{ object.pub_date|date:"N d" }}&nbsp;&nbsp;&nbsp;
                <a href="{{ object.get_absolute_url }}">{{ object }}</a> 
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
