{% extends "coltrane/base.html" %}
{% load coltrane_tags %}
{% load humanize %}

{% block title %}{{ tag }} . tags . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="{{ tag }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://palewire.com/tags/{{ tag }}/"/>
{% endblock %}

{% block extrarss %}
    <link rel="alternate" type="application/rss+xml" title="latest tagged {{ tag }}" href="/feeds/tag/{{ tag }}/"/>
{% endblock %}

{% block content %}
    <div class="interiorlist twelvecol last">
        <h1><img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/tags.gif" alt="ticker"/>&nbsp;Tags</h1>
        {% if maxed_out %}
        <p>The 500 most recent things tagged "{{ tag }}"</p>
        {% else %}
        <p>{{ object_list|length|apnumber|title }} thing{{ object_list|pluralize }} tagged "{{ tag }}"</p>
        {% endif %}
        {% for object in object_list %}
            {% ifchanged object.pub_date.month %}
            <div class="row">
                <div class="interior-date twelvecol last">
                {{ object.pub_date|date:"N Y" }}
                </div>
            </div>
            {% endifchanged %}
            <div class="row">
                <div class="listitem twelvecol last">
                {{ object.get_rendered_html }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
