{% extends "coltrane/base.html" %}
{% load greeking_tags %}

{% block title %}talks . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="talks"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://{{ current_site }}/talks/"/>
{% endblock %}

{% block content %}

    <div class="interiorlist applist twelvecol last">
        <h1>Talks</h1>
        <p class="description">
            A selection of slides and videos from my public-speaking appearances.
        </p>

        {% for object in object_list %}
            {% ifchanged object.date.year %}
            <div class="row">
                <div class="section-hed twelvecol last">
                    {{ object.date|date:"Y" }}
                </div>
            </div>
            {% endifchanged %}
            <div class="row">
                <div class="listitem twelvecol last">
                    {{ object.date|date:"N" }}&nbsp;&nbsp;&nbsp;
                    {{ object.title }} @ {{ object.venue }} ({{ object.location }})
                    {% if object.video_url %}
                        <a href="{{ object.video_url }}">Video</a>
                    {% endif %}
                    {% if object.slides_url %}
                        <a href="{{ object.slides_url }}">Slides</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
