{% extends "coltrane/base.html" %}
{% load greeking_tags %}

{% block title %}talks . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="talks"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://{{ current_site }}/talks/"/>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://palewire.s3.amazonaws.com/laziestloader-0.0.1/jquery.laziestloader.js"></script>
<script type="text/javascript" src="http://palewire.s3.amazonaws.com/jquery.fitvids.1.1.0.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.responsiveiframe.js"></script>
{% endblock %}

{% block extradocready %}
$('.iframe').laziestloader({threshold:300}, function() {
    $(".interiorlist").fitVids({ customSelector: "iframe[data-src*='docs.google.com']" });
});
$(".interiorlist").fitVids({ customSelector: "iframe[data-src*='docs.google.com']" });
{% endblock %}

{% block content %}

    <div class="interiorlist applist twelvecol last">
        <h1>Talks</h1>
        <p class="description">
            A selection of slides, videos and other materials 
            from my public-speaking appearances.
        </p>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>What is a Data Desk?</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1QdiQvVzUf1N7BkDZyo-XFgIQ8xqYWUR0de-BGaCijVQ/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>You Must Learn @ NICAR 2014</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1f9RJO8-6pxJn1LWvVmWaLPuVzklxiTSJL5PScl3NcPI/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="533" height="428"
                    allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>El Cartografo en su Laberinto @ Data Fest 2013 (Buenos Aires)</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe width="533" height="300" class="iframe video"
                    data-src="http://www.youtube.com/embed/1vpYv0KBOTc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1r7xANBupherX9z_FdKTnhkeg1L5pu2oe94eHgGka_-k/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>L.A.'s Political Calculus @ Festival of Books 2013</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1k1-5i0vQQLIwiid_Ov2d_beiLkbyMXoSviFHtBZC4Kw/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>


        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Django Retrained @ NICAR 2013</h3>
            </div>
        </div>

        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe video" data-src="http://player.vimeo.com/video/61290205?title=0&amp;byline=0&amp;portrait=0" width="533" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1mwzJ4494rdSEhex2aPjBH2se3F-UBZjrgoLzfD1tYGc/embed?start=false&loop=false&delayms=3000" frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Is 911 a joke in your town? @ NICAR 2013</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1_1BCtJVJuDQKy99X9tSHc4veSVrX3UX040Gmrn6kL8M/embed?start=false&loop=false&delayms=3000" frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>How we use DocumentCloud at the Los Angeles Times @ NICAR 2013</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1ym7axgHp8KddfYsxond9r2t9w9Tzv48z02N1ySPcXOc/embed?start=false&loop=false&delayms=3000" frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>What is a Data Desk? @ ONALA May 16, 2012</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe width="533" height="429"
                    class="iframe video" data-src="http://www.youtube.com/embed/S62J6SssxNE#t=6m36s"
                    frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Human-assisted reporting @ NICAR 2012, ISOJ 2012</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe width="533" height="429"
                    class="iframe video" data-src="http://www.youtube.com/embed/iP-On8PzEy8"
                    frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1sW3iLUDXs7NTdo7EUUxD7X3vnIWYo7G8orMf5FT05Zk/embed?start=false&loop=false&delayms=3000" frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>How I learned to stop worrying and love flat files @ NICAR 2012</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframes slides" data-src="https://docs.google.com/presentation/d/1IybYcc0eVL-Rchm7lEQNwrM-AHRfr_M8ewfGYYNjeu8/embed?start=false&loop=false&delayms=3000" frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Locating the story @ NICAR 2012</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/11_6sSd31mEy7VkQdG-YY_mQtlktKPt0ZuuaFwFy6H3w/embed?start=false&loop=false&delayms=3000" frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>PostGIS is your new bicycle @ NICAR 2011</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1uhVAiEKlJWCfOOEldPQUl0_tErm-E-2Xvlv0IURh0CE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>
        
        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Guido's way: How to break news on Google App Engine @ NICAR 2011</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/1lwf4yowXoSz8P6RsnTyFRY-45z7q3vklciMY5uzLQgA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>

        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Pluggable Maps @ Hacks/Hackers Dec. 15, 2010</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe class="iframe slides" data-src="https://docs.google.com/presentation/d/19_cEPdkLJS3Z5POylyEqPH6R9TTEzXcox4KZkclSXUc/embed?start=false&loop=false&delayms=3000" frameborder="0" width="533" height="428" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>
        
        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Django in Journalism @ DjangoCon 2008</h3>
            </div>
        </div>
        <div class="row">
            <div class="eightcol last">
                <iframe width="533" height="399"
                    class="iframe video" data-src="http://www.youtube.com/embed/eLQ9xc_Dm3g"
                    frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>

    </div>
{% endblock %}
