{% extends "coltrane/base.html" %}
{% load greeking_tags %}

{% block title %}talks . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="talks"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://palewi.re/talks/"/>
{% endblock %}

{% block content %}

    <div class="applist twelvecol last">
        <h1><img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/talks.png" alt="talks"/>&nbsp;Talks</h1>
        
        <p>A selection of slides, videos and other materials from my public-speaking apperances.</p>
        
        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>What is a Data Desk? @ ONALA May 16, 2012</h3>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol last">
                <iframe width="533" height="429"
                    src="http://www.youtube.com/embed/S62J6SssxNE#t=6m36s"
                    frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol last">
                <iframe src="https://docs.google.com/presentation/d/1QdiQvVzUf1N7BkDZyo-XFgIQ8xqYWUR0de-BGaCijVQ/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="533" height="429"
                    allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Human-assisted reporting @ NICAR 2012, ISOJ 2012</h3>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol last">
                <iframe width="533" height="429"
                    src="http://www.youtube.com/embed/iP-On8PzEy8"
                    frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol last">
                <iframe src="https://docs.google.com/presentation/d/1sW3iLUDXs7NTdo7EUUxD7X3vnIWYo7G8orMf5FT05Zk/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="533" height="429"
                    allowfullscreen="true" mozallowfullscreen="true"
                    webkitallowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>How I learned to stop worrying and love flat files @ NICAR 2012</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixcol">
                <iframe src="https://docs.google.com/presentation/d/1IybYcc0eVL-Rchm7lEQNwrM-AHRfr_M8ewfGYYNjeu8/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="533" height="429"
                    allowfullscreen="true" mozallowfullscreen="true"
                    webkitallowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Locating the story @ NICAR 2012</h3>
            </div>
        </div>
        <div class="row">
            <div class="sixcol">
                <iframe src="https://docs.google.com/presentation/d/11_6sSd31mEy7VkQdG-YY_mQtlktKPt0ZuuaFwFy6H3w/embed?start=false&loop=false&delayms=3000"
                    frameborder="0"
                    width="533" height="429"
                    allowfullscreen="true" mozallowfullscreen="true"
                    webkitallowfullscreen="true"></iframe>
            </div>
        </div>
        
        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>PostGIS is your new bicycle @ NICAR 2011</h3>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol last">
                <iframe src="https://docs.google.com/presentation/d/1uhVAiEKlJWCfOOEldPQUl0_tErm-E-2Xvlv0IURh0CE/embed?start=false&loop=false&delayms=3000"
                    frameborder="0"
                    width="533" height="429"
                    allowfullscreen="true" mozallowfullscreen="true"
                    webkitallowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Pluggable Maps @ Hacks/Hackers Dec. 15, 2010</h3>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol last">
                <iframe src="https://docs.google.com/presentation/d/19_cEPdkLJS3Z5POylyEqPH6R9TTEzXcox4KZkclSXUc/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="533" height="429"
                    allowfullscreen="true" mozallowfullscreen="true"
                    webkitallowfullscreen="true">
                </iframe>
            </div>
        </div>
        
        <div class="row talkitem">
            <div class="twelvecol last talktext">
                <h3>Django in Journalism @ DjangoCon 2008</h3>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol last">
                <iframe width="533" height="399"
                    src="http://www.youtube.com/embed/eLQ9xc_Dm3g"
                    frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    
    </div>
    
{% endblock %}
