{% extends "coltrane/base.html" %}

{% block title %}ticker . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="ticker"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://{{ current_site }}/ticker/"/>
{% endblock %}

{% block extrabottom %}
    <script type="text/javascript">
        // Scroll globals
        var pageNum = {{ page.number }}; // The latest page loaded
        var hasNextPage = {{ page.has_next|lower }}; // Indicates whether to expect another page after this one
        var baseUrl = '/ticker/page/'; // The root for the JSON calls
        {% with object_list|last as last_item %}
        var prevPubDate = "{{ last_item.pub_date|date:"N d, Y" }}";
        {% endwith %}
        
        // loadOnScroll action
        var loadItems = function(url) {
            // If the next page doesn't exist, just quit now 
            if (hasNextPage === false) {
                return false
            }
            // Update the page number and set the url if an url is not providsed
            $.ajax({
                url: url, 
                dataType: 'json',
                success: function(data) {
                    // Update global next page variable
                    hasNextPage = data.hasNext;
                    // Loop through all items
                    var html = [];
                    $.each(data.itemList, function(index, item){
                        
                        /* Add a date header if its changed since the last item */
                        if (prevPubDate != item.pub_date) {
                            html.push(
                                '<div class="row tumblelog"><div class="section-hed twelvecol last">',
                                item.pub_date,
                                '</div></div>'
                            );
                        }
                        
                        // Set this items date as the one to check next time
                        prevPubDate = item.pub_date;
                        
                        // Format the item in our HTML style
                        html.push(
                            '<div class="row tumblelog"><div class="listitem twelvecol last">',
                            item.html,
                            '</div></div>'
                        )
                    });
                    // Pop all our items out into the page
                    $("#ticker").append(html.join(""));
                },
                complete: function(data, textStatus){
                    // Close out the loading variable 
                    loadInProgress = false;
                    // Turn the scroll monitor back on
                    $(window).bind('scroll', loadOnScroll);
                }
            });
        };

        // Fire up the scroll monitor
        var loadOnScroll = function() {
            // If the user gets near the bottom of the page
            if ($(window).scrollTop() > $(document).height() - ($(window).height()*3)) {
                // Temporarily unhook the scroll monitor
                $(window).unbind();
                // Bump up the page number
                pageNum += 1;
                // Build the url
                var url = baseUrl + pageNum + '.json'
                // Add any filters the user has applied
                if (window.location.hash) {
                    url += '?filters=' + window.location.hash.replace("#", "");
                }
                // Hit the database and append another page of records
                loadItems(url);
            }
        };
        $(window).bind('scroll', loadOnScroll);
        
        // Figure out what boxes should be selected 
        var preSelected;
        // If there is a hash in the url, try to use that to filter the ticker
        if (window.location.hash) {
            // Pull the desired filterset from the url hash
            preSelected = window.location.hash.replace("#", "").split(",");
            // Set the page number to the start
            pageNum = 1;
            // Build the url
            var url = baseUrl + pageNum + '.json?filters=' + preSelected.join(",");
            // Clear the tumblelog box
            $(".tumblelog", "#ticker").remove();
            // Fetch and load a fresh first page
            loadItems(url);
        } else {
            // Otherwise, we'll assume everything is preselected
            preSelected = [
                {% for x in selected_slugs %}
                    "{{ x }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];
        }
        
        // Check on all the preselected boxes
        $(preSelected).each(function(index) {
            $("#filterset-" + preSelected[index]).attr("checked", true);
        });
        
        // What to do when somebody clicks on a box
        var onFiltersetChange = function() {
          // Get all the checked boxes
          var checked = $("#tickerfilter input:checked");
          // Assuming there is at least one checked...
          if (checked.length > 0) {
              // Get their names
              var valueList = [];
              checked.each(function(index) {
                valueList.push($(checked[index]).attr("value"));
              });
              // Reset the page settings since we'll be loading from scratch
              pageNum = 1;
              hasNextPage = true;
              // Build the url
              var url = baseUrl + pageNum + '.json?filters=' + valueList.join(",");
              // Set the user's filteset request into the url as a hash
              window.location.hash = valueList.join(",");
              // Clear out the tumblelog box
              $(".tumblelog", "#ticker").remove();
              // Fetch and load the requested filterset
              loadItems(url);
          } else {
              // If nothing is checked, then clear it out.
              $(".tumblelog", "#ticker").remove();
          }
        };
        
        // Hook the change function to the boxes
        $('#tickerfilter input').change(onFiltersetChange);
        
        // What to do when somebody clicks the clear button
        $("button#clear").click(function() {
            // Select the boxes
            var boxes = $('#tickerfilter input');
            // Temporarily remove the change function from the boxes
            boxes.unbind("change");
            // Clear out the tumblelog block
            $(".tumblelog", "#ticker").remove();
            // Clear out the hash
            window.location.hash = '';
            // Clear out all the boxes
            boxes.each(function(index) {
                $(boxes[index]).attr("checked", false);
            });
            // Hook the change function back up
            boxes.change(onFiltersetChange);
        });
        // After everything is set, let the user see the filter
        $("#tickerfilter").show();
    </script>
{% endblock %}

{% block content %}
<div id="ticker" class="interiorlist twelvecol last">
    <h1>Ticker</h1>
    <p class="description">My latest online activity compiled from around the World Wide Web.</p>
    <div id="tickerfilter">
        <div class="row">
            <div class="filterset twelvecol last">
                <b>Filter:</b>
                <input id="filterset-beer" class="filterset" type="checkbox" value="beer" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/beers.gif" alt="beers" title="beers"/>
                <input id="filterset-book" class="filterset" type="checkbox" value="book" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/books.gif" alt="books" title="books"/>
                <input id="filterset-change" class="filterset" type="checkbox" value="change" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/loop.png" alt="corrections" title="corrections"/>
                <input id="filterset-comment" class="filterset" type="checkbox" value="comment" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/comments.gif" alt="comments" title="comments"/>
                <input id="filterset-commit" class="filterset" type="checkbox" value="commit" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/commits.gif" alt="commits" title="commits"/>
                <input id="filterset-link" class="filterset" type="checkbox" value="link" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/links.gif" alt="links" title="links"/>
                <input id="filterset-location" class="filterset" type="checkbox" value="location" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/locations.gif" alt="locations" title="locations"/>
                <input id="filterset-movie" class="filterset" type="checkbox" value="movie" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/movies.gif" alt="movies" title="movies"/>
                <input id="filterset-photo" class="filterset" type="checkbox" value="photo" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/photos.gif" alt="photos" title="photos"/>
                <input id="filterset-shout" class="filterset" type="checkbox" value="shout" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/shouts.gif" alt="shouts" title="shouts"/>
                <input id="filterset-track" class="filterset" type="checkbox" value="track" />
                <img style="vertical-align:text-bottom;" src="{{ STATIC_URL }}icons/tracks.gif" alt="tracks" title="tracks"/>
                <button id="clear">Clear</button>
            </div>
        </div>
    </div>
    {% for object in object_list %}
        {% ifchanged object.pub_date.date %}
        <div class="row tumblelog">
            <div class="section-hed twelvecol last">
                {{ object.pub_date|date:"N d, Y" }}
            </div>
        </div>
        {% endifchanged %}
        <div class="row tumblelog">
            <div class="listitem twelvecol last">
                {{ object.get_rendered_html }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
