{% extends "coltrane/base.html" %}

{% block title %}the rapture index archive - {{ block.super }}{% endblock %}

{% block content %}

<h1>
	<img style="vertical-align:text-bottom;" height="40" src="http://www.palewire.com/media/icons/posts-big.gif" alt="post"/>&nbsp;
	The Rapture Index Archive
</h1>

<div id="detailbody">
	<p>
		Below is a list of all snapshots collected in the archive.
	</p>
	<p>
		Downloads of the raw data are <a href="/">elsewhere</a>.
	</p>

	<h2>Archived snapshots</h2>
	
	<br>
	
	<ul>
	{% for obj in scrape_list %}

			<li><a href="{{ obj.get_absolute_url }}">{{ obj.end_date|date:"N d, Y, P" }}</a></li>

	{% endfor %}
	

	</ul>

</div>
{% endblock %}
