{% extends "coltrane/base.html" %}

{% block title %}the rapture index archive - {{ block.super }}{% endblock %}

{% block content %}

<h1>
	<img style="vertical-align:text-bottom;" height="40" src="http://www.palewire.com/media/icons/posts-big.gif" alt="post"/>&nbsp;
	The Rapture Index Archive
</h1>

<div id="detailbody">
	<p>Below is a snapshot of The Rapture Index captured on {{ update_log.end_date|date:"N d, Y" }}, at {{ update_log.end_date|date:"P" }}
	</p>
	<p>
		<a href="/">Click here</a> to further examine the archives.</a>
	</p>
</div>

<center>
	
<div style="width:55em;">

	<iframe src="{{ update_log.get_iframe_url }}" width=100% height=800px>

</div>
</center>
{% endblock %}
