{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} . {% trans 'palewire' %}{% endblock %}

{% block extrastyle %}
<style type="text/css">
body {
  font-family: "Helvetica", "Liberation Sans", Arial, sans-serif;
}
#header {
  background: 0;
  color: black;
  border-bottom:1px solid black;
}
#header a:link {
  color:black;
}
#branding h1 {
  color:black;
  font-weight:bold;
  font-size:1.8em;
}
.module h2, .module caption, .inline-group h2 {
  background: gray;
}
a:link, a:visited {
  color:black;
  font-weight:normal;
  text-decoration: underline;
}
a:hover {
  color:gray;
}
.row1 {
  background: #EEE;
}
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'palewire' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
