{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}Free L.A. County flu shots, 2011. {{ block.super }}{% endblock %}

{% block content %}
    <div class="twelvecol last">

        <div id="headline" class="row">
            <div class="twelvecol last">
                <h1>
                <img src="{{ STATIC_URL }}icons/apps-big.gif" alt="post"/>
                    Free L.A. County flu shots
                </h1>
            </div>
        </div>

        <div id="detailbody" class="row">
            <div class="onecol last"></div>
            <div class="tencol">
                <p>
                    If you don't have health insurance, you can get a free flu vaccine from the Los Angeles County Department of Public Health.
                    Below is a list of the {{ object_list|length }} chance{{ object_list|length|pluralize }} you have left in 2011.</p>

                <p>The health department recommends that everyone get a flu shot, and says
                    it is especially important for the young, old, pregnent and anyone else at a greater risk of getting sick. More information
                    is available at <a href="http://publichealth.lacounty.gov/ip/flu/FluLocatorMain.htm">the county's website</a>.
                </p>
            </div>
            <div class="onecol"></div>
        </div>

        <div class="row">
            <div class="onecol last"></div>
            <div class="interiorlist tencol">
                {% for obj in object_list %}
                    {% ifchanged obj.date %}
                    <div class="row">
                        <div class="interior-date twelvecol last">
                            {{ obj.date|date:"l, N j" }}
                        </div>
                    </div>
                    {% endifchanged %}
                    <div class="row" style="margin:20px 0 50px 0;">
                        <div class="fourcol last">
                            <a href="{{ obj.map_search }}" target="_blank">
                                <img src="{{ STATIC_URL }}flushots/{{ obj.id }}.png" style="border: 2px solid #CCC; cursor:pointer;">
                            </a>
                        </div>
                        <div class="eightcol">
                            <h3 style="font-size:18px; font-weight:bold; margin: 10px 0 0 0;">{{ obj.name }}</h3>
                            {{ obj.time_range }}<br>{{ obj.address }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="onecol"></div>
        </div>

    </div>

{% endblock %}
