{% extends 'coltrane/base.html' %}

{% block content %}
<div class="interiorlist">
	<h2><a href="/search/">Search{% if form.data.q %} for "{{ form.data.q }}"{% endif %}</a></h2>

	<form method="get" action=".">
	
		<div id="searchbox">

				<input id="id_q" type="text" value="" name="q"/>
				<input lass="searchboxinput" type="submit" value="Search">
				
		</div>
		
	</form>
		
	<div style="clear:both;"></div>
	
	{{ results }}
	
	<div id="searchbar">
			
		{% if page.object_list %}

			<h4>{{ page.object_list|length }} result{{ page.object_list|length|pluralize }}</h4>

		{% else %}
			{% if form.data.q %}
			
				<h4>No results</h4>
			
			{% endif %}
		{% endif %}

	</div>

	<div style="clear:both;"></div>

	<div id="searchlower">

		{% if page.object_list %}
			{% for result in page.object_list|dictsortreversed:"score" %}
			
				{% include "search/search_result.html" %}
			
			{% endfor %}
		{% endif %}
		
	</div>
		
</div>
{% endblock %}