<section>
  <h3>Slide 1</h3>
  <pre>DATA JOURNALISM ON DEADLINE
   WHAT IT’S REALLY LIKE TO PRACTICE “SOCIAL SCIENCE IN A HURRY”</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>My name is Ben
Sometimes I go by @palewire</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>All our slides are belong to

bit.ly/dataondeadline</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>Who am I?</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>Who am I?

Do you know?</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>Who am I?

Do you know?

You don’t. But you should.</pre>
</section>
<section>
  <h3>Slide 7</h3>
  <pre>I’m Philip Meyer.</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>In 1973 I wrote the book
“Precision Journalism,”
crystalizing the ideas
behind today’s “data
journalism.”</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>You don’t have to take my
word for it. Read the new
history of data journalism,
“Apostles of Certainty.”
I’m all over it.</pre>
</section>
<section>
  <h3>Slide 10</h3>
  <pre>Why is Ben trotting out
my esteemed image only
to treat it like a debased
meme? Because I once
wrote the following:</pre>
</section>
<section>
  <h3>Slide 11</h3>
  <pre>To cope with the
acceleration of social
change in today’s world,
journalism must become
social science in a hurry.</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>IN THEORY</pre>
</section>
<section>
  <h3>Slide 13</h3>
  <pre>IN PRACTICE</pre>
</section>
<section>
  <h3>Slide 21</h3>
  <pre>We’re ﬂattering him here,
but one generous way to
describe the situation is
to say our boy Ben has
developed a hypothesis.</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>I admit it’s a stretch, but
you might describe what
our dunce has done as
operationializing his
research question</pre>
</section>
<section>
  <h3>Slide 28</h3>
  <pre>I know what you’re
thinking. Before anyone
else is exposed to this
ﬂimsy work, we need
some peer review</pre>
</section>
<section>
  <h3>Slide 31</h3>
  <pre>Okay, so if so-called
theory is true, you should
be able to make
predictions, right?</pre>
</section>
<section>
  <h3>Slide 46</h3>
  <pre>Walt Whitman once said,
“I like the scientiﬁc
spirit—the holding off,
the being sure but not too
sure…</pre>
</section>
<section>
  <h3>Slide 47</h3>
  <pre>… the willingness to
surrender ideas when the
evidence is against them:
this is ultimately ﬁne…</pre>
</section>
<section>
  <h3>Slide 48</h3>
  <pre>…it always keeps the way
beyond open—always
gives life, thought,
affection, the whole man,
a chance…</pre>
</section>
<section>
  <h3>Slide 49</h3>
  <pre>… to try over again after a
mistake—after a wrong
guess.”</pre>
</section>
<section>
  <h3>Slide 51</h3>
  <pre>Walt Whitman didn’t have
to put out a newspaper.</pre>
</section>
<section>
  <h3>Slide 58</h3>
  <pre>Cool story bro.

But if you’re really doing
science, you work needs
to be replicable.</pre>
</section>
<section>
  <h3>Slide 62</h3>
  <pre>No corrections is good.

What do you got for me
today, though?</pre>
</section>
