<section>
  <h3>Slide 1</h3>
  <pre>DJANGO
RETRAINED
Five ways coding like a web developer can
make you a better investigative reporter</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>END
DRUDGERY</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>PREVENT
MISTAKES</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>IMPROVE
TEAMWORK</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>COMMAND
ROBOTS</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>NUMBER ONE:
YOUR LAPTOP
 SHOULD BE
 DISPOSABLE</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>NEVER AGAIN</pre>
</section>
<section>
  <h3>Slide 10</h3>
  <pre>REVISION
CONTROL</pre>
</section>
<section>
  <h3>Slide 11</h3>
  <pre>DATABASE
BACKUPS</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>NUMBER TWO:
FIND A RELIGION</pre>
</section>
<section>
  <h3>Slide 13</h3>
  <pre>NIHILISM</pre>
</section>
<section>
  <h3>Slide 14</h3>
  <pre>SAY WHAT YOU WANT ABOUT
THE TENETS OF
MICROSOFT
SHAREPOINT,
DUDE...
AT LEAST IT&#x27;S AN ETHOS</pre>
</section>
<section>
  <h3>Slide 15</h3>
  <pre>NUMBER THREE:
STOP FEEDING YOUR
  DATABASE CRAP</pre>
</section>
<section>
  <h3>Slide 16</h3>
  <pre>SHALL WE
STOP THIS
BLEEDING?</pre>
</section>
<section>
  <h3>Slide 17</h3>
  <pre>PULLDOWNS
 CAN END
 THE PAIN</pre>
</section>
<section>
  <h3>Slide 18</h3>
  <pre>NUMBER FOUR:
   FOLLOW THE
FOURFOLD PATH OF
  REUSABLE APPS</pre>
</section>
<section>
  <h3>Slide 19</h3>
  <pre>DO ONE THING
AND DO IT WELL</pre>
</section>
<section>
  <h3>Slide 20</h3>
  <pre>DON&#x27;T BE AFRAID
OF MULTIPLE APPS</pre>
</section>
<section>
  <h3>Slide 21</h3>
  <pre>WRITE FOR
FLEXIBILITY</pre>
</section>
<section>
  <h3>Slide 22</h3>
  <pre>PACKAGE
TO DISTRIBUTE</pre>
</section>
<section>
  <h3>Slide 23</h3>
  <pre>NUMBER FIVE:
  AUTOMATE
YOURSELF OUT
   OF A JOB</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>How we code now
                      You
      Your computer




Photo: ThomasHawk</pre>
</section>
<section>
  <h3>Slide 25</h3>
  <pre>The story




   Your computer     Your computer



How we ought to code</pre>
</section>
<section>
  <h3>Slide 26</h3>
  <pre>DJANGO
RETRAINED
Five ways acting like a reporter can
make you a better web developer</pre>
</section>
<section>
  <h3>Slide 27</h3>
  <pre>TRUST
NO ONE</pre>
</section>
<section>
  <h3>Slide 28</h3>
  <pre>PICK UP
THE PHONE</pre>
</section>
<section>
  <h3>Slide 29</h3>
  <pre>SEEK A
RABBI</pre>
</section>
<section>
  <h3>Slide 30</h3>
  <pre>TAKE
THE STORY
 AND RUN</pre>
</section>
<section>
  <h3>Slide 31</h3>
  <pre>FINISH</pre>
</section>
<section>
  <h3>Slide 32</h3>
  <pre>ALL THAT SAID</pre>
</section>
<section>
  <h3>Slide 33</h3>
  <pre>WE ARE VAST</pre>
</section>
<section>
  <h3>Slide 34</h3>
  <pre>palewi.re/talks</pre>
</section>
