<section>
  <h3>Slide 1</h3>
  <pre>EL CARTÓGRAFO
EN SU LABERINTO
How hack journalists managed to map out
a local crime database — and how you can too.




                                A remembrance by @palewire</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>¡Perdón!</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>I can’t speak Spanish, but I am a fan.</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>My name is Ben.
  I sometimes go by @palewire.</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>I work in
#DTLA.</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>Our team is called the Data Desk.
       We turn databases into news.</pre>
</section>
<section>
  <h3>Slide 7</h3>
  <pre>That means we write code.</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>But we still remember English.</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>We make things like...</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>TIMELINES</pre>
</section>
<section>
  <h3>Slide 26</h3>
  <pre>YOU GET THE POINT
  (Now back to the lecture at hand.)</pre>
</section>
<section>
  <h3>Slide 28</h3>
  <pre>CHECK IT OUT
http://maps.latimes.com/crime</pre>
</section>
<section>
  <h3>Slide 36</h3>
  <pre>LET’S REWIND</pre>
</section>
<section>
  <h3>Slide 37</h3>
  <pre>Hey. You.
Build us a
crime site.



                Meredith Artley
              latimes.com boss, circa 2008</pre>
</section>
<section>
  <h3>Slide 38</h3>
  <pre>WHAT WE WANTED
● Consolidate across departments

   ○ 15 PDs cover 88 cities in LA County

● Be more than a zillion points on a map

   ○ By spotting short term trends

   ○ Giving long-term context

   ○ And grouping crimes into geographic areas
     people can relate with. (Neighborhoods!)</pre>
</section>
<section>
  <h3>Slide 39</h3>
  <pre>WHAT WE WANTED
● Consolidate across departments

   ○ 15 PDs cover 88 cities in L.A. County

● Be more than a zillion points on a map

   ○ By spotting short term trends

   ○ Giving long-term context

   ○ And grouping crimes into geographic areas
     people can relate with. (Neighborhoods!)</pre>
</section>
<section>
  <h3>Slide 40</h3>
  <pre>WHAT WE WANTED
● Consolidate across departments

   ○ 15 PDs cover 88 cities in L.A. County

● Be more than a zillion points on a map

   ○ By spotting short term trends

   ○ Giving long-term context

   ○ And grouping crimes into geographic areas
     people can relate with. (Neighborhoods!)</pre>
</section>
<section>
  <h3>Slide 41</h3>
  <pre>WHAT WE WANTED
● Consolidate across departments

   ○ 15 PDs cover 88 cities in L.A. County

● Be more than a zillion points on a map

   ○ By spotting short term trends

   ○ Giving long-term context

   ○ And grouping crimes into geographic areas
     people can relate with. (Neighborhoods!)</pre>
</section>
<section>
  <h3>Slide 42</h3>
  <pre>WHAT WE WANTED
● Consolidate across departments

   ○ 15 PDs cover 88 cities in L.A. County

● Be more than a zillion points on a map

   ○ By spotting short term trends

   ○ Giving long-term context

   ○ And grouping crimes into geographic areas
     people can relate with. (Neighborhoods!)</pre>
</section>
<section>
  <h3>Slide 43</h3>
  <pre>WHAT WE WANTED
● Consolidate across departments

   ○ 15 PDs cover 88 cities in L.A. County

● Be more than a zillion points on a map

   ○ By spotting short term trends

   ○ Giving long-term context

   ○ And grouping crimes into geographic areas
     people can relate with. (Neighborhoods!)</pre>
</section>
<section>
  <h3>Slide 44</h3>
  <pre>You have a right to the
data.




                          THE LAW</pre>
</section>
<section>
  <h3>Slide 45</h3>
  <pre>You have a right to the
data.



But the police don’t
have to automate a
feed for you.



                          THE LAW</pre>
</section>
<section>
  <h3>Slide 46</h3>
  <pre>That put us here.</pre>
</section>
<section>
  <h3>Slide 47</h3>
  <pre>These two departments




Cover 69% of population and
      89% of territory</pre>
</section>
<section>
  <h3>Slide 48</h3>
  <pre>We’ll give a secured FTP
ﬁle to you, and only you,
becase you’re the
newspaper, you asked
nicely and you won’t go
away.




                            Los Angeles (city)
                            Police Department</pre>
</section>
<section>
  <h3>Slide 49</h3>
  <pre>We’ll post a ﬁle on the
WWW, for anybody, because
then we can point anybody
who asks for this data at it.




                                 Los Angeles County
                                Sheriff’s Department</pre>
</section>
<section>
  <h3>Slide 50</h3>
  <pre>UH OH


 !=</pre>
</section>
<section>
  <h3>Slide 52</h3>
  <pre>PLEASE STAND BY</pre>
</section>
<section>
  <h3>Slide 53</h3>
  <pre>Back here again.</pre>
</section>
<section>
  <h3>Slide 54</h3>
  <pre>Set up server to do the math.</pre>
</section>
<section>
  <h3>Slide 55</h3>
  <pre>Per capita for broad context
● All violent crimes

● In each neighborhood

● Over the past 6 months

● Divided into neighborhood population

● Results in crime rate per 10,000 people

● Repeat with property crimes</pre>
</section>
<section>
  <h3>Slide 56</h3>
  <pre>Per capita for broad context
● All violent crimes

● In each neighborhood

● Over the past 6 months

● Divided into neighborhood population

● Results in crime rate per 10,000 people

● Repeat with property crimes</pre>
</section>
<section>
  <h3>Slide 57</h3>
  <pre>Per capita for broad context
● All violent crimes

● In each neighborhood

● Over the past 6 months

● Divided into neighborhood population

● Results in crime rate per 10,000 people

● Repeat with property crimes</pre>
</section>
<section>
  <h3>Slide 58</h3>
  <pre>Per capita for broad context
● All violent crimes

● In each neighborhood

● Over the past 6 months

● Divided into neighborhood population

● Results in crime rate per 10,000 people

● Repeat with property crimes</pre>
</section>
<section>
  <h3>Slide 59</h3>
  <pre>Per capita for broad context
● All violent crimes

● In each neighborhood

● Over the past 6 months

● Divided into neighborhood population

● Results in crime rate per 10,000 people

● Repeat with property crimes</pre>
</section>
<section>
  <h3>Slide 60</h3>
  <pre>Per capita for broad context
● All violent crimes

● In each neighborhood

● Over the past 6 months

● Divided into neighborhood population

● Results in crime rate per 10,000 people

● Repeat with property crimes</pre>
</section>
<section>
  <h3>Slide 63</h3>
  <pre>Spikes for narrow context
● All violent crimes</pre>
</section>
<section>
  <h3>Slide 64</h3>
  <pre>Spikes for narrow context
● All violent crimes

● In each neighborhood</pre>
</section>
<section>
  <h3>Slide 65</h3>
  <pre>Spikes for narrow context
● All violent crimes

● In each neighborhood

● Over the past 7 days</pre>
</section>
<section>
  <h3>Slide 66</h3>
  <pre>Spikes for narrow context
● All violent crimes

● In each neighborhood

● Over the past 7 days

● Calculate deviation from that neighborhood’s
  weekly average over last 3 months</pre>
</section>
<section>
  <h3>Slide 67</h3>
  <pre>Spikes for narrow context
● All violent crimes

● In each neighborhood

● Over the past 7 days

● Calculate deviation from that neighborhood’s
  weekly average over last 3 months

● Measure against our editorial standard for alert</pre>
</section>
<section>
  <h3>Slide 68</h3>
  <pre>Spikes for narrow context
● All violent crimes

● In each neighborhood

● Over the past 7 days

● Calculate deviation from that neighborhood’s
  weekly average over last 3 months

● Measure against our editorial standard for alert

● Repeat with property crimes</pre>
</section>
<section>
  <h3>Slide 72</h3>
  <pre>Wired it up to the web.</pre>
</section>
<section>
  <h3>Slide 73</h3>
  <pre>The app stack, roughly</pre>
</section>
<section>
  <h3>Slide 76</h3>
  <pre>Every morning.</pre>
</section>
<section>
  <h3>Slide 79</h3>
  <pre>THAT’S NICE,
AMERICANO.
But we can’t get data.</pre>
</section>
<section>
  <h3>Slide 80</h3>
  <pre>We turn databases into news.
      (You remember this bit.)</pre>
</section>
<section>
  <h3>Slide 81</h3>
  <pre>We turn news into databases.
        (Try reversing it.)</pre>
</section>
<section>
  <h3>Slide 83</h3>
  <pre>CHECK IT OUT
http://projects.latimes.com/homicide</pre>
</section>
<section>
  <h3>Slide 92</h3>
  <pre>THE
END</pre>
</section>
<section>
  <h3>Slide 93</h3>
  <pre>Follow us.
datadesk.latimes.com

@LATdatadesk


github.com/datadesk</pre>
</section>
