<section>
  <h3>Slide 1</h3>
  <pre>&gt;MAKING GOOD
  TROUBLE
  WITH AI</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>&gt;SHALL WE
PLAY A GAME?</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>&gt;WORD
ASSOCIATION</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>&gt;READY?</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>&gt;WHAT’S THE
FIRST THING
  YOU THINK
WHEN WE SAY…</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>&gt;“SCIENTIST”</pre>
</section>
<section>
  <h3>Slide 7</h3>
  <pre>&gt;“TECHIE”</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>&gt;“ENGINEER”</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>&gt;“MATHLETE”</pre>
</section>
<section>
  <h3>Slide 10</h3>
  <pre>&gt;“JOURNALIST”</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>&gt;SCIENTIST</pre>
</section>
<section>
  <h3>Slide 14</h3>
  <pre>&gt;TECHIE</pre>
</section>
<section>
  <h3>Slide 16</h3>
  <pre>&gt;ENGINEER</pre>
</section>
<section>
  <h3>Slide 18</h3>
  <pre>&gt;MATHLETE</pre>
</section>
<section>
  <h3>Slide 20</h3>
  <pre>&gt;THEY’RE ALL
JOURNALISTS</pre>
</section>
<section>
  <h3>Slide 22</h3>
  <pre>1967</pre>
</section>
<section>
  <h3>Slide 23</h3>
  <pre>&gt;JOURNALISM
 IS A STEM
   MAJOR</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>&gt;WHAT IS
JOURNALISM
  ANYWAY?</pre>
</section>
<section>
  <h3>Slide 25</h3>
  <pre>&gt;JOURNALISTS START WITH
A QUESTION NOT AN
ANSWER. JOURNALISTS GO
WHERE THE FACTS LEAD,
EVEN IF THEY DON’T LIKE
IT.JOURNALISM ISN’T JUST
WRITING. JOURNALISM IS A
MINDSET AND A SET OF
RULES.</pre>
</section>
<section>
  <h3>Slide 27</h3>
  <pre>&gt;THE MOST
IMPORTANT
 SKILL IS
 GIVING A
   💩</pre>
</section>
<section>
  <h3>Slide 28</h3>
  <pre>&gt;WHAT IS
GENERATIVE
    AI?</pre>
</section>
<section>
  <h3>Slide 30</h3>
  <pre>&gt;LET’S USE AI
TO MAKE GOOD
   TROUBLE</pre>
</section>
