<section>
  <h3>Slide 1</h3>
  <pre>How to tell a story with charts in
ﬁve charts: A newsroom taxonomy




                             https://en.wikipedia.org/wiki/Man%27s_Place_in_Nature</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>My name is Ben
 I sometimes go by @palewire</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>My name is Ingrid
My nickname is Yeye. My handle: @yeyelobet</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>Find our slides here
bit.ly/ire-sandiego-2016</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>NAME THIS MAN   http://www.ucmp.berkeley.edu/history/linnaeus.html</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>http://www.ucmp.berkeley.edu/history/linnaeus.html</pre>
</section>
<section>
  <h3>Slide 7</h3>
  <pre>http://www.visual-literacy.org/periodic_table/periodic_table.html</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>IF THEY CAN DO IT, WHY NOT US?</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>Five graphics</pre>
</section>
<section>
  <h3>Slide 10</h3>
  <pre>Five categories</pre>
</section>
<section>
  <h3>Slide 11</h3>
  <pre>Five toolsets</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>Five tutorials</pre>
</section>
<section>
  <h3>Slide 13</h3>
  <pre>Five changes</pre>
</section>
<section>
  <h3>Slide 14</h3>
  <pre>One:
Reporters</pre>
</section>
<section>
  <h3>Slide 15</h3>
  <pre>Two:
Miners</pre>
</section>
<section>
  <h3>Slide 16</h3>
  <pre>Three:
Sculptors</pre>
</section>
<section>
  <h3>Slide 17</h3>
  <pre>Four:
Debaters</pre>
</section>
<section>
  <h3>Slide 18</h3>
  <pre>Five:
Tailors</pre>
</section>
<section>
  <h3>Slide 20</h3>
  <pre>One:
Reporters</pre>
</section>
<section>
  <h3>Slide 21</h3>
  <pre>re·port·er, noun. 1. a stack of
maps, charts and other
diagrams that summarize and
retell a breaking-news event in
chronological order.</pre>
</section>
<section>
  <h3>Slide 22</h3>
  <pre>http://www.univision.com/noticias/masacre-en-orlando/nuevos-detalles-de-la-masacre-en-orlando-reconstruccion-graﬁca</pre>
</section>
<section>
  <h3>Slide 23</h3>
  <pre>Google Earth
               https://www.google.com/earth/</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>SketchUp
           http://www.sketchup.com/products/sketchup-pro</pre>
</section>
<section>
  <h3>Slide 25</h3>
  <pre>HTML
       https://en.wikipedia.org/wiki/HTML</pre>
</section>
<section>
  <h3>Slide 26</h3>
  <pre>http://designerhacks.com/sketchupgooglemaps/</pre>
</section>
<section>
  <h3>Slide 27</h3>
  <pre>http://usatoday30.usatoday.com/weather/wildﬁres/2007-10-23-california_ﬁres_N.htm</pre>
</section>
<section>
  <h3>Slide 28</h3>
  <pre>Two:
Miners</pre>
</section>
<section>
  <h3>Slide 29</h3>
  <pre>min·er, noun. 1. an interactive
graphic that gradually reveals a
series of concepts by digging
through a data set.</pre>
</section>
<section>
  <h3>Slide 30</h3>
  <pre>https://www.theguardian.com/us-news/ng-interactive/2015/oct/19/homan-square-chicago-police-detainees</pre>
</section>
<section>
  <h3>Slide 31</h3>
  <pre>JavaScript
             https://en.wikipedia.org/wiki/HTML</pre>
</section>
<section>
  <h3>Slide 32</h3>
  <pre>http://vallandingham.me/scroller.html</pre>
</section>
<section>
  <h3>Slide 33</h3>
  <pre>http://www.nytimes.com/interactive/2008/09/19/nyregion/20080920_LIRR_GRAPHIC.html</pre>
</section>
<section>
  <h3>Slide 34</h3>
  <pre>Three:
Sculptors</pre>
</section>
<section>
  <h3>Slide 35</h3>
  <pre>sculp·tor, noun. 1. a single
graphic that stands alone and
reveals more to the reader as
they careful study its detail.</pre>
</section>
<section>
  <h3>Slide 36</h3>
  <pre>http://qz.com/677833/the-languages-the-world-is-trying-to-learn-according-to-duolingo/</pre>
</section>
<section>
  <h3>Slide 37</h3>
  <pre>Static chart generators
                          https://quartz.github.io/Chartbuilder/</pre>
</section>
<section>
  <h3>Slide 39</h3>
  <pre>https://en.wikipedia.org/wiki/Charles_Joseph_Minard</pre>
</section>
<section>
  <h3>Slide 40</h3>
  <pre>Four:
Debaters</pre>
</section>
<section>
  <h3>Slide 41</h3>
  <pre>de·bat·er, noun. 1. a pointed
argument made by interweaving
a series of charts within a
larger text.</pre>
</section>
<section>
  <h3>Slide 42</h3>
  <pre>http://www.vox.com/2016/8/31/12368246/charts-explain-obesity</pre>
</section>
<section>
  <h3>Slide 43</h3>
  <pre>Static chart generators
                          https://quartz.github.io/Chartbuilder/</pre>
</section>
<section>
  <h3>Slide 44</h3>
  <pre>Adobe Illustrator
                    https://quartz.github.io/Chartbuilder/</pre>
</section>
<section>
  <h3>Slide 45</h3>
  <pre>https://www.coursera.org/learn/infographic-design</pre>
</section>
<section>
  <h3>Slide 46</h3>
  <pre>http://www.vox.com/2016/8/31/12368246/charts-explain-obesity</pre>
</section>
<section>
  <h3>Slide 47</h3>
  <pre>Five:
Tailors</pre>
</section>
<section>
  <h3>Slide 48</h3>
  <pre>tai·lor, noun. 1. a graphic that
encourages users to explore
and personalize a dataset using
searches, ﬁlters, quizzes and
other interactive tools</pre>
</section>
<section>
  <h3>Slide 49</h3>
  <pre>http://inewsource.org/2016/09/12/opioid-san-diego-county/</pre>
</section>
<section>
  <h3>Slide 50</h3>
  <pre>Tableau
          http://www.tableau.com/</pre>
</section>
<section>
  <h3>Slide 51</h3>
  <pre>http://www.tableau.com/learn/training</pre>
</section>
<section>
  <h3>Slide 53</h3>
  <pre>THE END</pre>
</section>
<section>
  <h3>Slide 54</h3>
  <pre>OUR STORYTELLERS
Mariano Zafra @mariano_zafra        Nikhil Sonnad @nkl

A. Verde                            Eliza Barclay @elizabarclay
Javier Figueroa @ﬁgueroaledon       Julia Belluz @juliaoftoronto
Luis Melgar @asincopado             Javier Zarracina @JZarracina
Spencer Ackerman @attackerman       Leo Castañeda @LeoMCastaneda

Zach Stafford @zachstafford

Guardian Visuals @guardianvisuals</pre>
</section>
<section>
  <h3>Slide 55</h3>
  <pre>YOUR HOSTS
Ben Welsh             Ingrid Lobet

ben.welsh@gmail.com   yeyelobet@gmail.com

@palewire             @yeyelobet

213-473-2624          310-930-6738</pre>
</section>
<section>
  <h3>Slide 56</h3>
  <pre>Find our slides here
bit.ly/ire-sandiego-2016</pre>
</section>
