<section>
  <h3>Slide 1</h3>
  <pre>Human-assisted reporting

How to create robot reporters in your own image
Art by Mark S. Fisher</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>All URLs available at

http://lat.ms/robotreporters</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>How we act now
You
Your
computer

Photo: ThomasHawk</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>The story

Your computer

Your computer

How it ought to be</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>You</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>Here&#x27;s when it hit me</pre>
</section>
<section>
  <h3>Slide 7</h3>
  <pre>That&#x27;s news!!!</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>Teach me how to Dougie!</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>Find a simple, repetitive and moving data stream</pre>
</section>
<section>
  <h3>Slide 10</h3>
  <pre>Do standard pull and parse, but put it on loop.</pre>
</section>
<section>
  <h3>Slide 11</h3>
  <pre>- What has happened lately?

You again

- What is trending in short term?
- What is typical over long term?
- What are the outliers?
- How do entities compare?
- Have newsmakers been active?
- What matches other data sets?
- Answer me! I&#x27;m a newspaperman!

Train it to answer the questions you would ask</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>This doesn&#x27;t have to be complicated</pre>
</section>
<section>
  <h3>Slide 13</h3>
  <pre>Train the system to send you alerts</pre>
</section>
<section>
  <h3>Slide 14</h3>
  <pre>Make a dashboard to drilldown</pre>
</section>
<section>
  <h3>Slide 15</h3>
  <pre>Train it to write a nut graf...</pre>
</section>
<section>
  <h3>Slide 16</h3>
  <pre>...which comes out like this.</pre>
</section>
<section>
  <h3>Slide 17</h3>
  <pre>WHAT DO I GET OUT OF IT?</pre>
</section>
<section>
  <h3>Slide 18</h3>
  <pre>BREAKING NEWS</pre>
</section>
<section>
  <h3>Slide 19</h3>
  <pre>A WAY AROUND PIOs</pre>
</section>
<section>
  <h3>Slide 20</h3>
  <pre>INSTANT ANALYSIS</pre>
</section>
<section>
  <h3>Slide 22</h3>
  <pre>AUTOMATED COPY</pre>
</section>
<section>
  <h3>Slide 26</h3>
  <pre>OPPORTUNITIES
- Election results

- SEC filings

- Home sales

- Environmental data

- Money in politics

- Crime reports, arrests, etc.

- Legislatures

- Gov&#x27;t inspections

- Court filings

- Gas prices

- 990 forms

- Gov&#x27;t contracting

- Sports results

- Stock tickers</pre>
</section>
<section>
  <h3>Slide 27</h3>
  <pre>PEOPLE DOING THIS</pre>
</section>
<section>
  <h3>Slide 30</h3>
  <pre>“In five years, a computer
program will win a
Pulitzer Prize — and I’ll
be damned if it’s not our
technology.”
- Kris Hammond to The New York Times</pre>
</section>
<section>
  <h3>Slide 31</h3>
  <pre>TOO LATE, DUDE</pre>
</section>
<section>
  <h3>Slide 32</h3>
  <pre>BE CAREFUL
WHAT YOU BUILD!</pre>
</section>
<section>
  <h3>Slide 33</h3>
  <pre>Downtown
Santa Monica

South L.A.

What&#x27;s wrong with this picture?</pre>
</section>
<section>
  <h3>Slide 34</h3>
  <pre>THANK YOU!
I am

Ben Welsh
Follow me at

@palewire, @LATdatadesk
All URLs available at

http://lat.ms/robotreporters</pre>
</section>
