<section>
  <h3>Slide 1</h3>
  <pre>StoryTracker 1.0
A brief introduction by Ben Welsh</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>My name is Ben
Sometimes I go by @palewire</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>I work here
The @latimes in #DTLA</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>TK</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>Screenshots
 are good</pre>
</section>
<section>
  <h3>Slide 13</h3>
  <pre>Screenshots
 are good

    But
also stupid</pre>
</section>
<section>
  <h3>Slide 14</h3>
  <pre>Screenshots
 are good

     But
 also stupid

   HTML is
the gold mine</pre>
</section>
<section>
  <h3>Slide 17</h3>
  <pre>&gt;&gt;&gt; import storytracker
&gt;&gt;&gt; obj = storytracker.archive(&#x27;http://www.stltoday.com&#x27;, output_dir=&#x27;/home/ben/Desktop/&#x27;)
&gt;&gt;&gt; obj.gzip_archive_path
&#x27;/home/ben/Desktop/http!www.stltoday.com!|!!!@2014-11-08T23:49:08.188549+00:00.gz&#x27;</pre>
</section>
<section>
  <h3>Slide 18</h3>
  <pre>&gt;&gt;&gt; obj.write_hyperlinks_csv_to_path(&#x27;/home/ben/Desktop/stltoday.csv&#x27;)</pre>
</section>
<section>
  <h3>Slide 19</h3>
  <pre>&gt;&gt;&gt; obj.write_overlay_to_directory(&#x27;/home/ben/Desktop/&#x27;)
&#x27;/home/ben/Desktop/overlay-http!www.cnn.com!|!!!@2014-11-08T23:49:08.188549+00:00.png&#x27;</pre>
</section>
<section>
  <h3>Slide 20</h3>
  <pre>&gt;&gt;&gt; urlset.write_overlay_animation_to_directory(&#x27;/home/ben/Desktop/&#x27;)
&#x27;/home/ben/Desktop/urlset-overlay.gif&#x27;</pre>
</section>
<section>
  <h3>Slide 21</h3>
  <pre>&gt;&gt;&gt; urlset.write_href_overlay_animation_to_directory(
&gt;&gt;&gt;     &#x27;http://www.stltoday.com/sports/columns/bernie-miklasz/bernie-big-red-thrive-under-you
&gt;&gt;&gt;     &#x27;/home/ben/Desktop/&#x27;
&gt;&gt;&gt; )
&#x27;/home/ben/Desktop/urlset-href-overlay.gif&#x27;</pre>
</section>
<section>
  <h3>Slide 22</h3>
  <pre>So what?</pre>
</section>
<section>
  <h3>Slide 23</h3>
  <pre>So what?


Automated
 analysis</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>So what?


Automated
 analysis


Here’s how</pre>
</section>
<section>
  <h3>Slide 26</h3>
  <pre>Who does Drudge love the most?</pre>
</section>
<section>
  <h3>Slide 27</h3>
  <pre>Who does Drudge love the most?

Nov. 4</pre>
</section>
<section>
  <h3>Slide 28</h3>
  <pre>Who does Drudge love the most?

Nov. 4      7 days</pre>
</section>
<section>
  <h3>Slide 29</h3>
  <pre>Who does Drudge love the most?

Nov. 4      7 days     96 archives</pre>
</section>
<section>
  <h3>Slide 30</h3>
  <pre>Who does Drudge love the most?

 Nov. 4     7 days     96 archives


953 links</pre>
</section>
<section>
  <h3>Slide 31</h3>
  <pre>Who does Drudge love the most?

 Nov. 4       7 days      96 archives


953 links   448 stories</pre>
</section>
<section>
  <h3>Slide 32</h3>
  <pre>Who does Drudge love the most?

 Nov. 4       7 days      96 archives


953 links   448 stories   142 domains</pre>
</section>
<section>
  <h3>Slide 33</h3>
  <pre>9.</pre>
</section>
<section>
  <h3>Slide 34</h3>
  <pre>9.   8.</pre>
</section>
<section>
  <h3>Slide 35</h3>
  <pre>9.   8.   5.




5.   5.</pre>
</section>
<section>
  <h3>Slide 36</h3>
  <pre>9.   8.   5.




5.   5.   4.</pre>
</section>
<section>
  <h3>Slide 37</h3>
  <pre>9.   8.   5.




5.   5.   4.




3.</pre>
</section>
<section>
  <h3>Slide 38</h3>
  <pre>9.   8.   5.




5.   5.   4.




3.   1.   1.</pre>
</section>
<section>
  <h3>Slide 41</h3>
  <pre>&gt;&gt;&gt; import storytracker
&gt;&gt;&gt; obj = storytracker.open_wayback_machine_url(
&gt;&gt;&gt;     &#x27;https://web.archive.org/web/20010911223655/http://www.cnn.com/&#x27;
&gt;&gt;&gt; )</pre>
</section>
<section>
  <h3>Slide 42</h3>
  <pre>What next?</pre>
</section>
<section>
  <h3>Slide 43</h3>
  <pre>What next?

Real world
 feedback</pre>
</section>
<section>
  <h3>Slide 44</h3>
  <pre>What next?

Real world     Grow, via
 feedback     partnerships</pre>
</section>
<section>
  <h3>Slide 45</h3>
  <pre>What next?

Real world     Grow, via      PastPages
 feedback     partnerships   integration</pre>
</section>
<section>
  <h3>Slide 46</h3>
  <pre>What next?

Real world      Grow, via      PastPages
 feedback      partnerships   integration

SVG outputs</pre>
</section>
<section>
  <h3>Slide 47</h3>
  <pre>What next?

Real world      Grow, via      PastPages
 feedback      partnerships   integration

SVG outputs    Storysniffer
                 refactor</pre>
</section>
<section>
  <h3>Slide 48</h3>
  <pre>What next?

Real world      Grow, via      PastPages
 feedback      partnerships   integration

SVG outputs    Storysniffer      Your
                 refactor     wild ideas</pre>
</section>
<section>
  <h3>Slide 49</h3>
  <pre>http://storytracker.p
astpages.org




                        Questions?</pre>
</section>
<section>
  <h3>Slide 50</h3>
  <pre>Sorry, haters.
Still standing.</pre>
</section>
