<section>
  <h3>Slide 1</h3>
  <pre>LA&#x27;S
POLITICAL
CALCULUS
A BRIEF TUTORIAL BY THE @LATDATADESK</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>THE DATA DESK IS A TEAM OF REPORTERS AND
         PROGRAMMERS IN #DTLA</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>WE TURN DATABASES INTO NEWS</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>HOW DID WE END
 UP WITH THESE
     TWO?</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>MARCH 5 PRIMARY
1          33.1%
     ERIC GARCETTI
     121,930 VOTES


2          29.0%
     WENDY GREUEL
     106,748 VOTES


3          16.3%
     KEVIN JAMES
     60,154 VOTES


4          15.9%
     JAN PERRY
     58,472 VOTES</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>THE GEOGRAPHY OF THE
        VOTE
  PRECINCTS FILLED IN FOR THE LEADER</pre>
</section>
<section>
  <h3>Slide 7</h3>
  <pre>&quot;MEASURE A&quot; SHOWED DIVIDE
           YES         NO
    PRECINCTS FILLED IN FOR THE LEADER</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>CHECK YOUR
http://www.latimes.com/mayormap
            HOOD</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>MOST PEOPLE DIDN&#x27;T VOTE




                   20.8% OF
                REGISTERED
              VOTERS VOTED</pre>
</section>
<section>
  <h3>Slide 10</h3>
  <pre>RIDICULOUS!</pre>
</section>
<section>
  <h3>Slide 11</h3>
  <pre>THIS WON&#x27;T STOP.
WHO CAN I BLAME?</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>PEOPLE LIKE THIS
MAN...</pre>
</section>
<section>
  <h3>Slide 13</h3>
  <pre>PEOPLE LIKE THIS
MAN...      JUST LESS
          INTERESTING</pre>
</section>
<section>
  <h3>Slide 14</h3>
  <pre>THEY AIN&#x27;T FREE</pre>
</section>
<section>
  <h3>Slide 15</h3>
  <pre>$1,120</pre>
</section>
<section>
  <h3>Slide 16</h3>
  <pre>$1,600</pre>
</section>
<section>
  <h3>Slide 17</h3>
  <pre>$8,000</pre>
</section>
<section>
  <h3>Slide 18</h3>
  <pre>YOUR FRIENDS AND NEIGHBORS</pre>
</section>
<section>
  <h3>Slide 19</h3>
  <pre>CAN GIVE UP TO A LIMIT

$1,300</pre>
</section>
<section>
  <h3>Slide 20</h3>
  <pre>PER PERSON

$1,300
         $1,300</pre>
</section>
<section>
  <h3>Slide 21</h3>
  <pre>PER ELECTION

$1,300
       $1,300
$1,300 $1,300</pre>
</section>
<section>
  <h3>Slide 22</h3>
  <pre>NECK AND NECK?

$



    $5,710,312   $5,639,280</pre>
</section>
<section>
  <h3>Slide 23</h3>
  <pre>NOT SO FAST!</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>INDEPENDENT GROUPS
 CAN GIVE UNLIMITED</pre>
</section>
<section>
  <h3>Slide 25</h3>
  <pre>AND THEY HAVE

$



    $6,971,810   $9,859,165</pre>
</section>
<section>
  <h3>Slide 26</h3>
  <pre>MOSTLY UNIONS FOR GREUEL



       $3,153,044</pre>
</section>
<section>
  <h3>Slide 27</h3>
  <pre>ONLY $12.2 MILLION</pre>
</section>
<section>
  <h3>Slide 28</h3>
  <pre>STATE OF THE RACE

                %


                                                                                                           ?
                                            50%                              40%                           10%
Telephone survey of 500 likely voters, taken Monday through Wednesday. Margin of sampling error of 4.4 percentage points in either direction.</pre>
</section>
<section>
  <h3>Slide 29</h3>
  <pre>datadesk.latimes.com

@LATdatadesk

github.com/datadesk

  FOLLOW US</pre>
</section>
<section>
  <h3>Slide 30</h3>
  <pre>STAY INFORMED
http://www.latimes.com/mayorsrace</pre>
</section>
<section>
  <h3>Slide 31</h3>
  <pre>THE
END</pre>
</section>
