<section>
  <h3>Slide 1</h3>
  <pre>Locating the story

The latest in online maps</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>URLs for all examples

http://lat.ms/2012maps</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>Theme 1

Escape from Google Maps</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>Google Maps is no longer free. New usage limits will charge users
who draw a lot of traffic. If you draw a lot of traffic, you
probably have to pay.</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>Four options
1. Stay below the limits
Stay under 25,000 hits/day, or only use for one-offs that spike and fade.

2. Pay Google
It will cost lots of money. Could be six figures.

3. Create a copycat
This is work. But new open-source tools make it easier.

4. Use HTML5 alternatives
Many maps don&#x27;t need tiles. A simple HTML5 map is often superior.</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>A copycat needs three things...

a data source, like
OpenStreetMap

a tile set, like
you can make
with TileMill

a JavaScript
interface, like
Leaflet</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>OSM

Google</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>OSM

Google</pre>
</section>
<section>
  <h3>Slide 13</h3>
  <pre>An HTML5 alternative needs two things...

a way to convert data to
HTML5 formats

an HTML5 interface, like
Raphael</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>Theme 2

That said, Google Fusion Tables</pre>
</section>
<section>
  <h3>Slide 25</h3>
  <pre>This Fusion Table powers...</pre>
</section>
<section>
  <h3>Slide 26</h3>
  <pre>...Google&#x27;s Map...</pre>
</section>
<section>
  <h3>Slide 27</h3>
  <pre>...and this map from WNYC.</pre>
</section>
<section>
  <h3>Slide 30</h3>
  <pre>Theme 3

Census 2010 goes dotty</pre>
</section>
<section>
  <h3>Slide 33</h3>
  <pre>Theme 4

Before and after maps go viral</pre>
</section>
<section>
  <h3>Slide 41</h3>
  <pre>Where can you get them?
http://groups.google.com/group/google-geo-media</pre>
</section>
<section>
  <h3>Slide 44</h3>
  <pre>Theme 5

Redistricting</pre>
</section>
<section>
  <h3>Slide 50</h3>
  <pre>Coda

Other interesting things</pre>
</section>
<section>
  <h3>Slide 55</h3>
  <pre>THE END</pre>
</section>
<section>
  <h3>Slide 57</h3>
  <pre>Meet Ben Welsh
- Native Iowan living in Downtown LA
- Works for the Data Desk at latimes.com
- Initiated as NICAR graduate assistant
- Online handle is palewire</pre>
</section>
<section>
  <h3>Slide 58</h3>
  <pre>WWW:
datadesk.latimes.com
palewire.com
Twitter:
@LATdatadesk
@palewire</pre>
</section>
<section>
  <h3>Slide 59</h3>
  <pre>URLs for all examples

http://lat.ms/2012maps</pre>
</section>
