<section>
  <h3>Slide 1</h3>
  <pre>Package data like software
and stories will ﬂow like wine
Unsolicited advice from yet another loud American</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>My name is Ben
Sometimes I go by @palewire</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>I work here
The @latimes in #DTLA</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>¡Perdón!</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>bit.ly/packaged-data
All the slides and links in this talk</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>ACT ONE
The way we code now is barbaric</pre>
</section>
<section>
  <h3>Slide 19</h3>
  <pre>Remind me why we have
a data journalist.</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>ACT TWO
We’re getting better, but we’re still coding alone</pre>
</section>
<section>
  <h3>Slide 36</h3>
  <pre>ACT THREE
To truly open news, we’ve got to get nerdier</pre>
</section>
<section>
  <h3>Slide 38</h3>
  <pre>$ pip install requests</pre>
</section>
<section>
  <h3>Slide 39</h3>
  <pre>$ pip install requests
$ python</pre>
</section>
<section>
  <h3>Slide 40</h3>
  <pre>$ pip install requests
$ python
&gt; import requests</pre>
</section>
<section>
  <h3>Slide 41</h3>
  <pre>$ pip install requests
$ python
&gt; import requests
&gt; requests.get(‘http://time.gov’)</pre>
</section>
<section>
  <h3>Slide 42</h3>
  <pre>$ pip install requests
$ python
&gt; import requests
&gt; requests.get(‘http://time.gov’)
&lt;Response [200]&gt;</pre>
</section>
<section>
  <h3>Slide 44</h3>
  <pre>dotadiw</pre>
</section>
<section>
  <h3>Slide 52</h3>
  <pre>$ pip install requests</pre>
</section>
<section>
  <h3>Slide 53</h3>
  <pre>$ pip install ba-election-results</pre>
</section>
<section>
  <h3>Slide 54</h3>
  <pre>$ pip install blue-dollar</pre>
</section>
<section>
  <h3>Slide 60</h3>
  <pre>THURSDAY
Media Fair, Noon - 2 p.m.
Workshops, 3 p.m. - 5 p.m.


FRIDAY
The hallways, just grab me


SATURDAY
Hackathon, all day</pre>
</section>
<section>
  <h3>Slide 61</h3>
  <pre>THE END
bit.ly/packaged-data
bit.ly/code-rush-2

palewi.re/who-is-ben-welsh/
ben.welsh@gmail.com
@palewire

www.californiacivicdata.org
cacivicdata@gmail.com
@CAcivicdata</pre>
</section>
