<section>
  <h3>Slide 1</h3>
  <pre>Introducing the
Reuters Climate Monitor
Tracking climate change at the speed of news</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>Table of contents
❖   Who I am

❖   The problem with climate data

❖   How we think we can solve it

❖   What we’ve made

❖   We hear from you</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>Who I am
I’m Ben Welsh. I’m from Iowa.

I joined Reuters three years
ago.

I lead a specialized team that
automates data to cover
breaking news.</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>What does that look like?
❖   Our goal is to learn from the speed, scale
    and extreme success of live election
    results, coronavirus trackers and similar
    products

❖   Our automated systems collect raw data,
    reﬁne them into journalism and then
    deliver charts, dashboards, databases
    and other outputs to our customers.

❖   With continual updates, interactive inputs
    and limitless scale, they serve clients and
    readers in ways a traditional story cannot.</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>For example…
We’ve developed a pipeline
that automatically plots data
using our newsroom’s
chart-marking tool.

It produces hundreds of
ready-to-run charts each
week, covering markets,
economics and public
opinion.</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>Aiming high
Because we focus on
coverage of the top
storylines, our automated
charts appear on Reuters
homepage more than ﬁve
times per week.</pre>
</section>
<section>
  <h3>Slide 7</h3>
  <pre>Our new front
Now we’re expanding our
focus to extreme weather,
another routine source of
breaking news.</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>The problem with climate data
❖   The challenge: Can our newsroom use
    data to better cover the day-to-day
    impact of climate change?

❖   The issue: Most climate data is global in
    scope, slow to update and centered on
    the upward creep of arcane statistics.

❖   The result: It has little to add to coverage
    of fast-moving catastrophes, such as last
    summer’s European heat wave. A key
    piece of context is missing from our
    reporting.</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>How we think we can solve it
❖   We sought out more timely climate
    coverage demands data that’s localized,
    easy to grasp and quick to update.

❖   We surveyed our competitors, interviewed
    more than a dozen climate experts and
    reviewed the open-source science.

❖   We found an emerging set of data sources
    yet to be fully utilized by the press that ﬁt
    the bill.</pre>
</section>
<section>
  <h3>Slide 10</h3>
  <pre>The big idea
❖   Create a data dashboard that, by automatically
    comparing today’s weather against the historic
    record, identiﬁes temperature extremes as they
    occur

❖   Deliver a comprehensive, real-time view of how
    climate change is unleashing dangerous new
    weather patterns, with the ability to focus in on
    any location on Earth

❖   Pass muster with the world’s leading climate
    scientists</pre>
</section>
<section>
  <h3>Slide 11</h3>
  <pre>What we’ve made
❖   A color-coded world map that highlights which
    areas are, right now, reporting signiﬁcant
    temperature anomalies

❖   Interactive controls that allow readers to
    examine conditions in local areas they care
    about</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>Let’s have a look
We have a prototype that
we’re preparing to launch in
the weeks ahead.</pre>
</section>
<section>
  <h3>Slide 13</h3>
  <pre>The road to the ﬁnish line
❖   Calculate the number of people living in extreme
    conditions each day and identify today’s
    hotspots

❖   Forecast the temperature events into the
    near-term future, just like a traditional weather
    forecast

❖   Fuel reporting by our enterprise team into the
    impact of extreme temperatures</pre>
</section>
<section>
  <h3>Slide 14</h3>
  <pre>We hear from you
❖   Beyond temperature, what climate
    data would be most useful to you?
❖   What&#x27;s a climate question your team
    gets asked that you can&#x27;t currently
    answer with data?
❖   How could the news media do a
    better job covering climate with
    data?</pre>
</section>
