<section>
  <h3>Slide 1</h3>
  <pre>The framework ﬁx
How to build better archives by helping news nerds help themselves</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>My name is Ben
Sometimes I go by @palewire</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>All my slides are belong to

bit.ly/frameworkﬁx</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>I work for @latimes in
                                  #DTLA
    Despite what you’ve heard, it’s still standing</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>Our team is called the Data Desk
     We take data and turn it into news</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>Analysis that
makes an impact</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>Apps that serve
 our audience</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>Tools that empower
  the newsroom</pre>
</section>
<section>
  <h3>Slide 15</h3>
  <pre>Experiments that
push the envelope</pre>
</section>
<section>
  <h3>Slide 18</h3>
  <pre>That means we write code
And approach problems using the tools of web development</pre>
</section>
<section>
  <h3>Slide 22</h3>
  <pre>HOW’D YOU LEARN ALL THAT?</pre>
</section>
<section>
  <h3>Slide 23</h3>
  <pre>Can you keep a secret?
I know you can.</pre>
</section>
<section>
  <h3>Slide 24</h3>
  <pre>I’m a fraud.
At least pretend to be surprised.</pre>
</section>
<section>
  <h3>Slide 25</h3>
  <pre>That’s because of frameworks
Open-source development systems that simplify common tasks</pre>
</section>
<section>
  <h3>Slide 26</h3>
  <pre>THERE ARE A LOT OF THEM</pre>
</section>
<section>
  <h3>Slide 27</h3>
  <pre>THEY DO THINGS LIKE
Payment processing            Analytics                      Authentication
                                            Compression
   Handling web requests                            Working with a database
                                          Tasks
      Security
                       HTML templating               Performance optimization
Geospatial analysis
                                APIs
             Error handling               Logging        Varied environments
                                Caching
User-generated content                        Photo and video management

                  Internationalization                       Testing
  Sessions                                  Deployment                  Data entry</pre>
</section>
<section>
  <h3>Slide 28</h3>
  <pre>We see something missing!</pre>
</section>
<section>
  <h3>Slide 29</h3>
  <pre>ARCHIVING!</pre>
</section>
<section>
  <h3>Slide 32</h3>
  <pre>We need to meet the nerds where they are
            And
            And that’s
                that’s out
                       out there
                           there solving
                                 solving problems
                                         problems with
                                                  with their
                                                       their frameworks
                                                             frameworks</pre>
</section>
<section>
  <h3>Slide 34</h3>
  <pre>Framework for building websites</pre>
</section>
<section>
  <h3>Slide 35</h3>
  <pre>Framework for building websites


Created at Kansas newspaper</pre>
</section>
<section>
  <h3>Slide 36</h3>
  <pre>Framework for building websites


Created at Kansas newspaper


Used by Instagram, Pinterest,
Mozilla, Disqus, Wikileaks,
Los Angeles Times, many others</pre>
</section>
<section>
  <h3>Slide 37</h3>
  <pre>Framework for building websites


Created at Kansas newspaper


Used by Instagram, Pinterest,
Mozilla, Disqus, Wikileaks,
Los Angeles Times, many others


Modular design for plugins</pre>
</section>
<section>
  <h3>Slide 39</h3>
  <pre>Standard for a time-based Internet</pre>
</section>
<section>
  <h3>Slide 40</h3>
  <pre>Standard for a time-based Internet

Rules for how servers, browsers,
apps can publish and access
previous versions of a URL</pre>
</section>
<section>
  <h3>Slide 41</h3>
  <pre>Standard for a time-based Internet

Rules for how servers, browsers,
apps can publish and access
previous versions of a URL

Designed by Los Alamos lab and
nerds in this room</pre>
</section>
<section>
  <h3>Slide 42</h3>
  <pre>Standard for a time-based Internet

Rules for how servers, browsers,
apps can publish and access
previous versions of a URL

Designed by Los Alamos lab and
nerds in this room

Adopted by archive.org, Library of
Congress, others</pre>
</section>
<section>
  <h3>Slide 43</h3>
  <pre>Framework for building websites


Created at Kansas newspaper


Used by Instagram, Pinterest,
Mozilla, Disqus, Wikileaks,
Los Angeles Times, many others


Modular design for plugins</pre>
</section>
<section>
  <h3>Slide 45</h3>
  <pre>Features shortcuts to make
implementing Memento easier</pre>
</section>
<section>
  <h3>Slide 46</h3>
  <pre>Features shortcuts to make
implementing Memento easier




And this easy to install...</pre>
</section>
<section>
  <h3>Slide 47</h3>
  <pre>$ pip install django-memento-framework</pre>
</section>
<section>
  <h3>Slide 48</h3>
  <pre>django-memento-framework.rtfd.org</pre>
</section>
<section>
  <h3>Slide 49</h3>
  <pre>http://bit.ly/wordpress-memento</pre>
</section>
<section>
  <h3>Slide 51</h3>
  <pre>Integrates archiving tool with
popular frameworks</pre>
</section>
<section>
  <h3>Slide 52</h3>
  <pre>Integrates archiving tool with
popular frameworks


Not too hard to install</pre>
</section>
<section>
  <h3>Slide 53</h3>
  <pre>Integrates archiving tool with
popular frameworks


Not too hard to install



Self-archiving sites will make the
whole system stronger</pre>
</section>
<section>
  <h3>Slide 54</h3>
  <pre>Obscure code lost in the sea of the
web</pre>
</section>
<section>
  <h3>Slide 55</h3>
  <pre>Obscure code lost in the sea of the
web


Developers must seek and
implement this solution</pre>
</section>
<section>
  <h3>Slide 56</h3>
  <pre>Obscure code lost in the sea of the
web


Developers must seek and
implement this solution


Frameworks strongest when they
silently implement best practices</pre>
</section>
<section>
  <h3>Slide 57</h3>
  <pre>MUST




WE          DO MORE</pre>
</section>
<section>
  <h3>Slide 58</h3>
  <pre>THE END</pre>
</section>
<section>
  <h3>Slide 59</h3>
  <pre>All my slides are still belong to

bit.ly/frameworkﬁx</pre>
</section>
