<section>
  <h3>Slide 1</h3>
  <pre>LET’S PLAY A
   GAME</pre>
</section>
<section>
  <h3>Slide 2</h3>
  <pre>WORD
ASSOCIATION</pre>
</section>
<section>
  <h3>Slide 3</h3>
  <pre>READY?</pre>
</section>
<section>
  <h3>Slide 4</h3>
  <pre>WHAT IS THE
FIRST THING
YOU THINK…</pre>
</section>
<section>
  <h3>Slide 5</h3>
  <pre>WHEN I SAY…</pre>
</section>
<section>
  <h3>Slide 6</h3>
  <pre>“JOURNALIST”</pre>
</section>
<section>
  <h3>Slide 7</h3>
  <pre>YOU FAILED</pre>
</section>
<section>
  <h3>Slide 8</h3>
  <pre>SCIENTIST</pre>
</section>
<section>
  <h3>Slide 9</h3>
  <pre>ARTIST</pre>
</section>
<section>
  <h3>Slide 10</h3>
  <pre>INVENTOR</pre>
</section>
<section>
  <h3>Slide 12</h3>
  <pre>SCIENTIST</pre>
</section>
<section>
  <h3>Slide 15</h3>
  <pre>ARTIST</pre>
</section>
<section>
  <h3>Slide 18</h3>
  <pre>INVENTOR</pre>
</section>
<section>
  <h3>Slide 20</h3>
  <pre>WHAT IS A
 DATA</pre>
</section>
