{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}Twitter-style infinite scroll with django demo. {{ block.super }}{% endblock %}

{% block extradocready %}
$(window).bind('scroll', loadOnScroll);
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
    {% include "newtwitter_pagination/index.js" %}
</script>
{% endblock %}

{% block content %}
<h1>
<img style="vertical-align:text-bottom;" height="40" src="/media/icons/apps.gif" alt="post"/>&nbsp;
Twitter-style infinite scroll with Django demo
</h1>

        <div id="detailbody">
            <p>
                This page demonstrates how to automatically expand
                a list as the user scrolls the page, the sort of thing 
                <a href="http://twitter.com/newtwitter">#newtwitter</a> does to keep
                tweets loading as you move down.
            </p>
            <p>
                The <a href="{% url coltrane_track_list 1 %}">music</a> I've listened to is logged below 
                in reverse-chronological order. Times are on the left, 
                <a href="http://en.wikipedia.org/wiki/Unix_time">in UNIX format</a>, 
                and track names are on the right.
            </p>
            <p>
                As you scroll down, the list should refresh again and again.
                To learn how this is done, crack the source code
                or read <a href="">my blog post</a>.
            </p>
        </div>

        <div id="detailborderbumper" class="thin"></div>

        <div id="detailbody">
            <h2 style="margin-top:0; margin-bottom:1em;">palewire's infinite playlist</h2>
            <ul class="newtwitter">
                {% for object in object_list %}
                <li>
                    <a href="{{ object.url }}">
                    {{ object.pub_date|date:"U" }}:&nbsp;&nbsp;&nbsp;{{ object|truncatewords:10 }}
                    </a> 
                </li>
                {% endfor %}
                <div id="newtwitter-anchor"></div>
            </ul>
        </div>
{% endblock %}
