{% load comments %}
<div class="row commentrow">
<div class="commentformwrapper twelvecol last">
    <h2>Submit a comment</h2>
<form id="commentform" action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    
        {% if field.is_hidden %}
            {{ field }}
        {% endif %}
        
        
        {% if field.errors %}
            <p class="error">{{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </p>
        {% endif %}
        
        
        {% ifequal field.name "honeypot" %} 
            <p style="display:none;">
                {{ field.label_tag }} {{ field }}
            </p>
        {% endifequal %}
        
    {% endfor %}
        <div class="row">
            <div class="commentlabel twelvecol last">{{ form.name.label_tag }}</div> 
        </div>
        <div class="row">
            <div class="commentbox twelvecol last">{{ form.name }}</div>
        </div>
        
        <div class="row">
            <div class="commentlabel twocol">Email:</div>
         </div>
        <div class="row">
            <div class="commentbox tencol last">{{ form.email }}</div>
        </div>

        <div class="row">
            <div class="commentlabel twocol">{{ form.comment.label_tag }}</div>
        </div>
        <div class="row">
           <div class="commentbox tencol last"><textarea id="id_comment" rows="10" name="comment"></textarea></div>
        </div>
        
        <div class="row">
            <div class="twelvecol last"><input type="submit" name="submit" class="submit-post" value="submit" /></div>
        </div>

</form>
</div><!-- close "commentformwrapper" -->
</div>
