{% extends "coltrane/base.html" %}
{% load comments %}

{% block title %}Preview your comment - {{ block.super }}{% endblock %}

{% block content %}

<div class="comments">
	
	{% if form.errors %}
	  <h1>Please correct the error{{ form.errors|pluralize }} below</h1>
	
		{% for field in form %}

			{% if field.errors %}
				<div class="commentformleft"></div> 
				<div style="margin-bottom:15px; margin-top:15px;" class="commentformright">
				{{ field.errors }}</div>
			{% endif %}

		{% endfor %}
		
	{% else %}
		<h1>Preview your comment</h1>
			<div style="padding-left: 50px; padding-right: 50px;">
				<div class="detail-quote">
					<p>{{ comment|linebreaks }}</p>
				</div>
				<div class="detail-quote-attrib"></div>
			</div>
		
	{% endif %}
	
	<div class="commentformwrapper">
		<form id="commentform" action="{% comment_form_target %}" method="post">
			
			{% if not form.errors %}
			<div class="commentformleft"></div>
			<div class="commentformright">
				and <input type="submit" name="submit" class="submit-post" value="submit the post" />
				or make changes:
			</div>
			{% endif %}

			{% for field in form %}

				{% if field.is_hidden %}
					{{ field }}
				{% endif %}

				{% ifequal field.name "honeypot" %} 
					<p style="display:none;">
						{{ field.label_tag }} {{ field }}
					</p>
				{% endifequal %}

			{% endfor %}

			<div class="commentformleft" {% if form.name.errors %}style="color:red;"{% endif %}>{{ form.name.label_tag }}:</div> 
			<div class="commentformright">{{ form.name }}&nbsp;&nbsp;Required</div>

			<div class="commentformleft" {% if form.email.errors %}style="color:red;"{% endif %}>Email:</div> 
			<div class="commentformright">{{ form.email }}&nbsp;&nbsp;Required</div>

			<div class="commentformleft" {% if form.comment.errors %}style="color:red;"{% endif %}>{{ form.comment.label_tag }}:</div>
			<div class="commentformright">{{ form.comment}}</div>

			<div class="commentformleft"></div>
			<div class="commentformright"><input type="submit" name="submit" class="submit-post" value="submit the post" /></div>

			<div class="commentformleft"></div> 
			<div class="commentformright"></div>

			<div class="commentformleft"></div> 
			<div class="commentformright">Emails are not republished or used for marketing purposes.</div>
	</form>
	</div><!-- close "commentformwrapper" -->
</div><!-- close "comments" -->
{% endblock %}
