{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}who is ben welsh? . {{ block.super }}{% endblock %}

{% block content %}
<div class="vcard">
    
        <div class="bioimg">
            <img class="photo" alt="Ben Welsh" src="http://www.palewire.com/media/img/headphones.png" />
        </div>
        <div class="biobumper"></div>
        <div class="biotext">
            <p>
                Hey. My name is <span class="fn n"><span class="given-name">Ben</span> <span class="family-name">Welsh</span></span>. This is my website.
            </p>
            <p>
                If we haven’t met already, it’s pretty quick. I’m a native Iowan living in <span class="adr"><span class="locality">Los Angeles</span></span>. I like to use this space to post about whatever I’m off on at the moment. It’s supposed to be fun, but I’m not making any promises.
            </p>
            <p>
                I work as a reporter, albeit a somewhat unconventional one. My job calls on me to specialize in what is often called <a href="http://en.wikipedia.org/wiki/Computer-assisted_reporting">computer-assisted reporting</a>. Journalists in the past were often
hack novelists. I'm a hack web developer. I use computers to collect, organize, analyze and present large amounts of information. Databases. Web apps. Maps. That stuff.
            </p>
            <p>
                I work at <a href="http://www.latimes.com">The Los Angeles Times</a>, a daily newspaper and 24-hour website based in <span class="adr"><span class="region">Southern California</span></span>. Nothing I write here should be read as the opinion of that organization.
            </p>
            <p>
                Before working at the Times, I worked on investigative projects at <a href="http://www.publicintegrity.org">The Center for Public Integrity</a>, covered state politics and elections in Jefferson City, Missouri, helped produce long-form documentaries for cable channels like CNN and Discovery Times, and pitched in on some television and newspaper reporting in Chicago. I earned a master’s degree from the Missouri School of Journalism — where I worked at the <a href="http://www.nicar.org">National Institute for Computer-Assisted Reporting</a> (NICAR) — after receiving my undergraduate training at DePaul University.
            </p>
        </div>
        <div class="biobumper"></div>
        <div class="biotext">
            <p>
                <b>Technical Skills</b>
            </p>
            <ol style="margin-bottom:20px;">
                <li>Programming with Python and Perl</li>
                <li>Data-driven web development with Django</li>
                <li>Database development with MySQL, PostgreSQL and Microsoft SQL Server</li>
                <li>Online cartography with GeoDjango, PostGIS and OpenLayers</li>
                <li>UI development with JavaScript, CSS and basic web standards</li>
                <li>Development and deployment with Google App Engine</li>
                <li>Enterprise server administration of Apache and mod_python with RHEL</li>
                <li>Getting it done on deadline</li>
            </ol>
        <div class="biobumper"></div>
        </div>
        <div class="biotext">
            <p>
                <b>Selected News Apps</b>
            </p>
            <ol style="margin-bottom:20px;">
                <li><a href="http://projects.latimes.com/mapping-la/crime/">Mapping L.A.: Crime</a></li>
                <li><a href="http://projects.latimes.com/mapping-la/neighborhoods/">Mapping L.A.: Neighborhoods</a></li>
                <li><a href="http://documents.latimes.com/">documents.latimes.com</a></li>
                <li><a href="http://spreadsheets.latimes.com/">spreadsheets.latimes.com</a></li>
                <li><a href="http://timelines.latimes.com/">timelines.latimes.com</a></li>
                <li><a href="http://projects.latimes.com/mexico-drug-war/">Mexico Under Siege</a></li>
                <li><a href="http://projects.latimes.com/metrolink-crash/">Chatsworth Metrolink Train Crash</a></li>
                <li><a href="http://projects.latimes.com/wardead/">California's War Dead</a></li>
                <li><a href="http://laccd.latimes.com/">Billions to Spend</a></li>
                </li>
            </ol>
            <div class="biotext"></div>
        </div>
        <div class="biobumper"></div>
        <div class="biotext">
            <p>
                <b>Selected Bylines</b>
            </p>
            <ol style="margin-bottom:20px;">
            <li><a href="http://www.latimes.com/news/local/la-me-torrance-crimes-20110522,0,1191195.story">Torrance's crime map omits hundreds of violations</a></li>
            <li><a href="http://www.latimes.com/news/local/la-me-uprates-20110418,0,7739985.story">U.S. is increasing nuclear power through uprating</a></li>
        <li><a href="http://www.latimes.com/news/local/la-me-lapd-crimemap9-2009jul09,0,909582.story">LAPD&rsquo;s public database omits nearly 40% of this year's crimes</a></li>
        <li><a href="http://projects.latimes.com/mapping-la/debates/westside/">Where does the Westside start?</a></li>
        <li><a href="http://www.latimes.com/news/local/la-me-scores5-2008sep05,0,6296002.story"> Only 48% of California high schools meet federal standards, even with easier measure </a></li>
        <li><a href="http://www.publicintegrity.org/militaryaid/report.aspx?aid=831">Pakistan’s $4.2 Billion “Blank Check” for U.S. Military Aid</a></li>
        <li><a href="http://www.columbiamissourian.com/stories/2005/12/27/federal-loans-go-for-risky-business/">Federal loans go for risky business</a></li>
        <li><a href="http://projects.publicintegrity.org/telecom/telecomwatch.aspx?eid=2816">Clear Channel gives Tate Talking Points Against XM-Sirius merger</a></li>
            </ol>
            <div class="biotext"></div>
        </div>
        <div class="biobumper"></div>
        <div class="biotext">
            <p>
                <b>Documentary Production Credits</b>
            </p>
            <ol style="margin-bottom:20px;">
                <li>
                    <a href="http://www.marincorpproductions.com/Documentaries.html">Nobody Told Me The Road Would Be Easy (WMAQ)</a>
                </li>
                <li>
                    <a href="http://www.marincorpproductions.com/Documentaries.html">Keeping The Faith: Becoming a Priest in Today’s Catholic Church (Discovery/Times)</a>
                </li>
                <li>
                    <a href="http://www.marincorpproductions.com/Documentaries.html">The Fight Over Faith (CNN Presents)</a>
                </li>
            </ol>
            <div class="biotext"></div>
        </div>
        <div class="biobumper"></div>
        <div class="biotext">
            <p>
                <b>Awards</b>
            </p>
            <ol style="margin-bottom:20px;">
                <li>
                    <a href="http://www.flickr.com/photos/palewire/5638065157/in/photostream">2011 "25 under 35" list, Editor and Publisher magazine</a>
                </li>
                <li>
                    <a href="http://depaul.edu/magazine/#Welsh">2009 "14 under 40" list of alumni success stories, DePaul University Magazine</a>
                </li>
                <li>
                    <a href="http://www.ire.org/resourcecenter/contest/index.html">2008 IRE Certificate, Winner, Local Circulation Weeklies</a>
                </li>
                <li>
                    <a href="http://scripps.com/foundation/news/releases/09march13.html">2008 Scripps Howard Foundation, Winner, Web Reporting</a>
                </li>
                <li>
                    <a href="http://www.sej.org/contest/index.htm">2008 SEJ Award, Winner, Outstanding Online Reporting</a>
                </li>
                <li>2008 SPJ-Fort Worth First Amendment Award, Green News
                </li>
                <li>
                    <a href="http://www.marketwire.com/press-release/Society-Of-Professional-Journalists-843541.html">2007 SPJ Sigma Delta Chi Awards, Winner, Online Non-Deadline Reporting (Independent) and Online Investigative Reporting (Independent)</a>
                </li>
                <li>
                    <a href="http://www.healthjournalism.org/awards-winners.php?Year=2007">2007 AHCJ Awards, Winner, Trade/Online Journals/Newsletters</a>
                </li>
                <li>
                    <a href="http://www.ire.org/contest/07winners.html">2007 IRE Certificate, Winner, Online</a>
                </li>
            </ol>
            <div class="biotext"></div>
        </div>
        <div class="biobumper"></div>
        <div class="biotext">
            <p>
                <b>Social Media</b>
            </p>
            <ol style="margin-bottom:20px;">
                <li>
                    <a rel="me" class="url" href="http://delicious.com/palewire">Delicious</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://www.facebook.com/palewire">Facebook</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://www.flickr.com/photos/77114776@N00/">Flickr</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://www.flixster.com/user/palewire">Flixster</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://foursquare.com/user/palewire">Foursquare</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://github.com/palewire/">Github</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://www.kiva.org/lender/palewire">Kiva</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://www.last.fm/user/palewire">Last.FM</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://www.linkedin.com/pub/ben-welsh/9/3b4/256">LinkedIn</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://readernaut.com/palewire/">Readernaut</a>
                </li>
                <li>
                    <a rel="me" class="url" href="http://twitter.com/palewire">Twitter</a>
                </li>
            </ol>
            <div class="biotext"></div>
        </div>
        <div class="biobumper"></div>
        <div class="biotext">
            <p>
                <b>Contact Me</b>
            </p>
            <ol style="margin-bottom:20px;">
                <li>
                    <a rel="me" class="url" href="aim:GoIM?screenname=palewiredotcom"><img src="http://api.oscar.aol.com/presence/icon?k=pa1veJZRXJ9a45iK&amp;t=palewiredotcom" style="border:0;"/></a> &nbsp;palewiredotcom
                </li>
                <li>
                    <img style="vertical-align:text-bottom" alt="my email" src="/media/img/email.png"/>
                </li>
            </ol>
            <div class="biotext"></div>
        </div>
        <div class="biobumper"></div>
</div>
{% endblock %}
