{% extends "coltrane/base.html" %}

{% block title %}colophon . {{ block.super }}{% endblock %}

{% block facebookmeta %}
    {{ block.super }}
    <meta property="og:title" content="Colophon"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://palewire.com/colophon/"/>
{% endblock %}

{% block content %}
<div id="detailbody" class="row">
<div class="twelvecol last">
    <h1>Colophon</h1>

    <p><a href="/">palewire</a> is built entirely with free and open-source software. The font-family is <code>""Helvetica", "Liberation Sans", Arial, sans-serif</code>.</p>
    
    <p>This site's creation would not be possible without the generous efforts of many people who do not know me,
    but who freely offer their work without expectation of repayment. Such is the Internet.</p>

<p>I would like to thank:</p>
    <ul>
        <li>James Bennett for <a href="http://code.google.com/p/coltrane-blog/">coltrane</a> and <a href="http://www.amazon.com/Practical-Django-Projects-Pratical/dp/1590599969">Practical Django Projects</a></li>
        <li>Jacob Kaplan Moss for <a href="https://github.com/jacobian/jellyroll">jellyroll</a></li>
        <li>Ryan Berg for his <a href="http://ryanberg.net/blog/2008/jun/24/basics-creating-tumblelog-django/"tumble log design >tumble log</a> design</li>
        <li>Scott Wallick for his <a href="http://scottwallick.com/portfolio/web-design/">work for Wordpress</a></li>
        <li>The responsive wonder of <a href="http://cssgrid.net/">cssgrid.net</a>
        <li>The immaculate sensibility of Thomas Suh Lauder</li>
        <li>The gentle mercy of Opscode&rsquo;s <a href="http://en.wikipedia.org/wiki/Chef_(software)">Chef</a></li>
        <li>The terrible glory of <a href="http://en.wikipedia.org/wiki/OpenStack">RackSpace&rsquo;s OpenStack</a></li>
        <li>And, of course, the entire <a href="">Django</a> community, without whose labors I wouldn't have a job, let alone a blog</li>
    </ul>

    <p>While it is certainly of less utility, I have published all of <a href="https://github.com/palewire/palewi.re">this site&rsquo;s source code</a> online, 
    where it is available to anyone who might like it.</p>

    <p>Thank you, everybody. That is all.</p>
</div>
</div>
{% endblock %}
