{% extends "coltrane/base.html" %}

{% block title %}random oscars ballot generator . {{ block.super }}{% endblock %}

{% block content %}
    <div class="twelvecol last">

        <div id="headline" class="row">
            <div class="twelvecol last">
                <h1>
                <img src="{{ STATIC_URL }}icons/apps-big.gif" alt="post"/>
                    Random Oscars Ballot Generator
                </h1>
            </div>
        </div>

        <div id="detailbody" class="row">
            <div class="onecol last"></div>
            <div class="tencol">
            {% if pick_list %}
                <style type="text/css">
                    #picks tr {  }
                    #picks th { padding:5px; width: 200px; font-weight: bold; }
                    #picks td { padding:5px; width: 200px;}
                </style>
                <table id="picks" border=1 style="border-collapse:collapse;">
                    <tr>
                        <th>Category</th>
                        <th>Winner</th>
                    </tr>
                    {% for pick in pick_list %}
                        <tr>
                            <td>{{ pick.category }}</td>
                            <td>{{ pick.pick }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
            <form method="GET" action="">
                <input type="submit" value="&#9859; Roll the dice &#9859;" style="padding:5px; font-size:20px;"/>
                <input type="hidden" name="roll" value="dice">
            </form>
            {% endif %}
            </div>
            <div class="onecol"></div>            
        </div>
    </div>

{% endblock %}
