name: Lint

on:
  push:
  workflow_dispatch:

jobs:
  lint-python:
    name: Lint Python code
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v6

      - id: check-ruff
        name: Check with Ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: 'check --exit-zero --verbose'

      - id: format-ruff
        name: Format with Ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: 'format --check --verbose'

  tests:
    name: "Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pipenv'

      - name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python

      - name: Install dependencies
        run: pipenv install --dev

      - name: Django
        run: pipenv run python manage.py check
