<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>{% block title %}palewire{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/reset-fonts-grids.css">
	<link rel="stylesheet" type="text/css" href="/media/style.css">
	<script type="text/javascript" src="/media/jquery-1.2.6.min.js"></script>

	<script type="text/javascript"> 
	//<![CDATA[
	$(document).ready(function(){
		{% if feature_list %}
			{% include "coltrane/featured_item.js"%}
		{% endif %}

		{% include "coltrane/nav.js" %}
	});
	//]]>
	</script>
	{% block extrahead %}
	{% endblock %}
	
</head>
<body {%block extrabody %}{% endblock %}>
	
		{% block skybox %}
		{% endblock %}
		<div id="doc" class="yui-t7">

		<div id="hd">
			<h1>
				<a href="/">
					palewire
				</a>
			</h1>
			
			<h2>
				<a href="/who-is-ben-welsh/">Who is Ben Welsh?</a>
			</h2>
		</div>
		
		<div id="topbar"></div>
		<div id="navbar">
			<a href="{% url coltrane_category_list %}" title="Categories" alt="Categories">
				<img src="/media/icons/categories.png" width="30"/>
			</a>
			<a href="{% url coltrane_comment_list 1 %}" title="Comments" alt="Comments">
				<img src="/media/icons/comments.png" width="30" />
			</a>
			<a href="/feeds/list/" title="Feeds" alt="Feeds">
				<img src="/media/icons/feeds.png" width="30"/>
			</a>
			<a href="{% url coltrane_link_list 1 %}" title="Links" alt="Links">
				<img src="/media/icons/links.png" width="30" />
			</a>
			<a href="{% url coltrane_photo_list 1 %}" title="Photos" alt="Photos">
				<img src="/media/icons/photos.png" width="30" />
			</a>
			<a href="{% url coltrane_post_archive_index 1 %}" title="Posts" alt="Posts">
				<img src="/media/icons/posts.png" width="30" />
			</a>
			<a href="{% url solango_search %}" title="Search" alt="Search">
				<img src="/media/icons/tags.png" width="30"/>
			</a>
			<a href="{% url coltrane_tag_list %}" title="Tags" alt="Tags">
				<img src="/media/icons/tags.png" width="30"/>
			</a>
			<a href="{% url coltrane_track_list 1 %}" title="Tracks" alt="Tracks">
				<img src="/media/icons/tracks.png" width="30" />
			</a>
			<a href="{% url coltrane_shout_list 1 %}" title="Shouts" alt="Shouts">
				<img src="/media/icons/shouts.png" width="30" />
			</a>
			<a href="{% url coltrane_video_list 1 %}" title="Videos" alt="Videos">
				<img src="/media/icons/videos.png" width="30"/>
			</a>
		</div>
		
		<div id="bd">
			<div class="yui-g">
				{% block content %}
				{% endblock %}
			</div>
		</div> 
		
		<div id="ft">
			<h4>
				© 2008 palewire . 
				<a href="/colophon/">colophon</a> . 
				<a href="http://www.timeanddate.com/worldclock/city.html?n=137">los angeles time</a> . 
				<a href="http://creativecommons.org/licenses/by/2.0/" rel="license">cc 2.0</a> . 
				powered by <a id="django-link" href="http://www.djangoproject.com/">django</a>
			</h4>
		</div>

	</div>

</body>
</html>
