{% load coltrane_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>{% block title %}palewire{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/reset-fonts-grids.css">
	<link rel="stylesheet" type="text/css" href="/media/style.css">
	<script type="text/javascript" src="/media/jquery-1.2.6.min.js"></script>
	
	{% load coltrane_tags %}
	{% get_all_slogans %}
	
	<script type="text/javascript"> 
	//<![CDATA[    
	// When the page is ready
		$(document).ready(function(){
		
			// An array of palewire slogans
			var slogans = [
				{% for slogan in slogan_list %}'{{ slogan }}',{% endfor %}
			];
		
			// Pulls a random item from an array
			var random_item = function ( array ) {
				var n = array.length;
				return array[(Math.floor(Math.random() * n))];
			};
		
			// Add randomly selected slogans
			$('#hd h1').append('<span class="slogan" title="slogan">' + random_item(slogans) + '<\/span>');
		
			// Add titles for link buttons
			jQuery.each($("#navbar a"), function() {
				var title = $( this ).attr("title");
				$('#hd h1').append('<span class="icon" title="'+ title + '">'+ title +'<\/span>');
			});
			
			// Hide newly created link titles
			$('#hd span').hide()
		
			// Show slogan on mouseover
			$('#hd h1').mouseover(function(){
				$('#hd span[title=slogan]').show();
				})

			// Hide slogan on mouseoff
			$('#hd h1').mouseout(function(){
				$('#hd span[title=slogan]').hide();
				})
	
			// Show link title on mouseover
			$('#navbar a').mouseover(function(){
				var title = $(this).attr('title');
				$('#hd span[title='+title+']').show();
				})
			
			// Hide link title on mouseoff
			$('#navbar a').mouseout(function(){
				var title = $(this).attr('title');
				$('#hd span[title='+title+']').hide();
				})
			
		});
	//]]>
	</script>
	
</head>
<body>
		<div id="doc" class="yui-t7">

		<div id="hd">
			<h1>
				<a href="/">
					palewire
				</a>
			</h1>
			
			<h2>
				<a href="/who-is-ben-welsh/">Who is Ben Welsh?</a>
			</h2>
		</div>
		
		<div id="topbar"></div>
		<div id="navbar">
			<a href="{% url coltrane_category_list %}" title="Categories" alt="Categories">
				<img src="/media/icons/categories.png" width="30"/>
			</a>
			<a href="{% url coltrane_comment_list 1 %}" title="Comments" alt="Comments">
				<img src="/media/icons/comments.png" width="30" />
			</a>
			<a href="/feeds/list/" title="Feeds" alt="Feeds">
				<img src="/media/icons/feed.png" width="30"/>
			</a>
			<a href="{% url coltrane_link_list 1 %}" title="Links" alt="Links">
				<img src="/media/icons/chain.png" width="30" />
			</a>
			<a href="{% url coltrane_photo_list 1 %}" title="Photos" alt="Photos">
				<img src="/media/icons/camera.png" width="30" />
			</a>
			<a href="{% url coltrane_post_archive_index 1 %}" title="Posts" alt="Posts">
				<img src="/media/icons/post.png" width="30" />
			</a>
			<a href="{% url coltrane_tag_list %}" title="Tags" alt="Tags">
				<img src="/media/icons/tags.png" width="30"/>
			</a>
			<a href="{% url coltrane_track_list 1 %}" title="Tracks" alt="Tracks">
				<img src="/media/icons/music.png" width="30" />
			</a>
			<a href="{% url coltrane_shout_list 1 %}" title="Tweets" alt="Tweets">
				<img src="/media/icons/tweet.png" width="30" />
			</a>
			<a href="{% url coltrane_video_list 1 %}" title="Videos" alt="Videos">
				<img src="/media/icons/film.png" width="30"/>
			</a>
		</div>
		
		<div id="bd">
			<div class="yui-g">
				{% block content %}
				{% endblock %}
			</div>
		</div> 
		
		<div id="ft">
			<h4>
				© 2008 palewire . 
				<a href="/colophon/">colophon</a> . 
				<a href="http://www.timeanddate.com/worldclock/city.html?n=137">los angeles time</a> . 
				powered by <a id="django-link" href="http://www.djangoproject.com/">django</a>
			</h4>
		</div>

	</div>

</body>
</html>
