{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}links . {{ block.super }}{% endblock %}

{% block content %}
	<div class="interiorlist">
		<h2><img style="vertical-align:text-bottom;" src="/media/icons/links.gif" alt="links"/>&nbsp;Links</h2>

		{% ifequal page 1 %}
		<!-- Cloud hede -->
		
		<h2 style="font-size:1.3em;"> Top {{ tag_cloud|length }} sources </h2>
		
		<ul>
		<div class="tagcloud">
			{% for tag, font_size, count in tag_cloud %}
				<span class="size{{ font_size }}">
					
					<a href="http://{{ tag }}" alt="{{ tag }}" rel="tag">
						{{ tag }}
					</a>
				
				</span> 

			{% endfor %}
		</div>
		</ul>
		
		<!-- List hede -->
		<h2 style="font-size:1.3em;">Latest links</h2>
		{% endifequal %}
		
		<ul>
		{% for object in object_list %}
			{% ifchanged object.pub_date.day %}
				<li class="interior-date">{{ object.pub_date|date:"F d, Y" }}</li>
			{% endifchanged %}
			<li>
				<a href="{{ object.url }}">
				{{ object.pub_date|date:"H:i" }}&nbsp;&nbsp;&nbsp;{{ object|truncatewords:8 }}
				</a> 
			</li>
		{% endfor %}
		</ul>
	</div>

	{% include 'coltrane/pagination.html' %}

{% endblock %}
