{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}photos . {{ block.super }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.twospy.com/galleriffic/js/jquery.galleriffic.js"></script>
<script type="text/javascript">
// Initially set opacity on thumbs and add
// additional styling for hover effect on thumbs
var onMouseOutOpacity = 0.67;
$('#thumbs ul.thumbs li').css('opacity', onMouseOutOpacity)
	.hover(
		function () {
			$(this).not('.selected').fadeTo('fast', 1.0);
		}, 
		function () {
			$(this).not('.selected').fadeTo('fast', onMouseOutOpacity);
		}
	);
</script>
{% endblock %}

{% block extradocready %}

	// We only want these styles applied when javascript is enabled
	$('div.content').css('display', 'block');

	{% include "coltrane/photo_gallery.js" %}

{% endblock %}

{% block content %}
	<div class="interiorlist">
		<h2><img style="vertical-align:text-bottom;" src="/media/icons/photos.gif" alt="photos"/>&nbsp;Photos</h2>

		<h2 style="font-size:1.3em;">Most popular photos</h2>
		
		<ul>
		<div>

			
			{% include "coltrane/photo_gallery.html" %}


		</div>
		</ul>

		<div style="clear:both; height:1.5em;"></div>

		<h2 style="font-size:1.3em;">Latest photos</h2>

		<ul>
		{% for object in object_list %}
			{% ifchanged object.pub_date.day %}
					<li class="interior-date">{{ object.pub_date|date:"F d, Y" }}</li>
			{% endifchanged %}
			<li>
				<a href="{{ object.url }}">
				{{ object.pub_date|date:"H:i" }}&nbsp;&nbsp;&nbsp;{{ object }}
				</a> 
			</li>
		{% endfor %}
		</ul>
	</div>
	
	{% include 'coltrane/pagination.html' %}
	
{% endblock %}
