{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}{{ object.title|lower }} . {{ block.super }}{% endblock %}

{% block keywords %}{% for tag in object.get_tags %}{{ tag }}, {% endfor %}{{ block.super }}{% endblock %}

{% block content %}
<h1>
<img style="vertical-align:text-bottom;" height="40" src="/media/icons/posts-big.gif" alt="post"/>&nbsp;
{{ object.title }}
</h1>

{% load comments %}

		<div id="detailbody">{{ object.body_html|safe }}</div>
		
		<div id="detailborderbumper" class="thin"></div>
		
		<div id="detailmetadata">
			<p id="postpubdate">This is a post <b>{{ object.author }}</b> made on <b>{{ object.pub_date|date:"F j, Y" }}</b>, {{ object.pub_date|timesince }} ago.</p>
			{% if object.categories.count %}
				
				<p id ="postcats">
					It is filed with other posts about
					{% for cat in object.categories.all %}
					<a href="{{ cat.get_absolute_url }}">{{ cat.title|lower }}</a>{% if forloop.last %}.{% endif %}{% if forloop.last %}{% else %}{% ifequal forloop.revcounter0 1 %} and {% else %}, {% endifequal %}{% endif %}
					{% endfor %}
				</p>
			{% endif %}
			
			{% if object.tag_set %}
			<p id="posttags">Topics include 
			{% for t in object.tag_set %}
				{% if forloop.last %}and <a href="/tag/{{ t }}/" title="{{t}}" rel="tag">{{t}}</a>.
				{% else %}
					{% ifequal forloop.revcounter 2 %}
						<a href="/tags/{{ t }}/" title="{{t}}" rel="tag">{{t}}</a> 
					{% else %}
						<a href="/tags/{{ t }}/" title="{{t}}" rel="tag">{{t}}</a>, 
					{% endifequal %}
				{% endif %}
			{% endfor %}
			</p>
			{% endif %}
			
		<p id="relatedposts">Some similar posts are 
			{% for p in related_posts %}
				{% if forloop.last %}and <a href="{{ p.get_absolute_url }}" alt="{{p}}" title="{{p}}">"{{p}}"</a>
				{% else %}
					{% ifequal forloop.revcounter 2 %}
						<a href="{{ p.get_absolute_url }}" alt="{{p}}" title="{{p}}">"{{p}}"</a> 
					{% else %}
						<a href="{{ p.get_absolute_url }}" alt="{{p}}" title="{{p}}">"{{p}},"</a> 
					{% endifequal %}
				{% endif %}
			{% endfor %}
		</p>
			
		</div>
		
		<div id="detailborderbumper" class="thick"></div>
		
		<div id ="comments">
			{% get_comment_list for object as comment_list %}
			{% if comment_list %}
				<h2><img style="vertical-align:text-bottom;"src="/media/icons/comments.png" width="30"/>
					Comments
				</h2>
			{% endif %}
			
			{% for comment in comment_list %}
				<div id="#c{{comment.id}}" class="comment">
					<a name="c{{comment.id}}"></a>
					<div class="commenttopper">
						<span class="commentname">{{ comment.user_name|lower }}</span>
						<span class="commentdate">on {{ comment.submit_date|date:"Y.m.d"}}</span>
					</div>
					<div class="commenttext">{{ comment.comment|safe }}</div>
					<div class="commentfooter"><a href="{{ comment.get_absolute_url }}">Permalink</a></div>
				</div>
			{% endfor %}
			
			{% if object.enable_comments %}

				{% render_comment_form for object %}

			{% endif %}
			
		</div>

{% endblock %}
