{% extends "coltrane/base.html" %}
{% load coltrane_tags %}
{% load comments %}


{% block title %}{{ object.title|lower }} . post . {{ block.super }}{% endblock %}

{% block content %}
<h1>
<img style="vertical-align:text-bottom;"src="/media/icons/posts.png" width="40"/>&nbsp;
{{ object.title }}
</h1>

		<div id="detailbody">{{ object.body_html|safe }}</div>
		
		<div id="detailborderbumper" class="thin"></div>
		
		<div id="detailmetadata">
			<p id="postpubdate">This is a post <b>{{ object.author }}</b> made on <b>{{ object.pub_date|date:"M j, Y" }}</b>, {{ object.pub_date|timesince }} ago.</p>
			{% if object.categories.count %}
				
				<p id ="postcats">
					It is filed with other posts about
					{% for cat in object.categories.all %}
					<a href="{{ cat.get_absolute_url }}">{{ cat.title|lower }}</a>{% if forloop.last %}.{% endif %}{% if forloop.last %}{% else %}{% ifequal forloop.revcounter0 1 %} and {% else %}, {% endifequal %}{% endif %}
					{% endfor %}
				</p>
			{% endif %}
			
			<p id="posttags">Topics include 
			{% for t in object.get_tags %}
				{% if forloop.last %}and <a href="/tag/{{ t }}/" alt="{{t}}" title="{{t}}" rel="tag">{{t}}</a>.
				{% else %}
					{% ifequal forloop.revcounter 2 %}
						<a href="/tags/{{ t }}/" alt="{{t}}" title="{{t}}" rel="tag">{{t}}</a> 
					{% else %}
						<a href="/tags/{{ t }}/" alt="{{t}}" title="{{t}}" rel="tag">{{t}}</a>, 
					{% endifequal %}
				{% endif %}
			{% endfor %}
			</p>
			
		<ul id="relatedposts">Some similar posts are 
			{% for p in related_posts %}
				{% if forloop.last %}and <a href="{{ p.get_absolute_url }}" alt="{{p}}" title="{{p}}">"{{p}}"</a>
				{% else %}
					{% ifequal forloop.revcounter 2 %}
						<a href="{{ p.get_absolute_url }}" alt="{{p}}" title="{{p}}">"{{p}}"</a> 
					{% else %}
						<a href="{{ p.get_absolute_url }}" alt="{{p}}" title="{{p}}">"{{p}},"</a> 
					{% endifequal %}
				{% endif %}
			{% endfor %}
		</ul>
			
		</div>
		
		<div id="detailborderbumper" class="thick"></div>
		
		<div id ="comments">
			{% get_comment_list for object as comment_list %}
			{% if comment_list %}
				<h2><img style="vertical-align:text-bottom;"src="/media/icons/comments.png" width="30"/>
					Comments
				</h2>
			{% endif %}
			
			{% for comment in comment_list %}
				<div id="#c{{comment.id}}" class="comment">
					<a name="c{{comment.id}}"></a>
					<div class="commentname"><a href="{{ comment.get_absolute_url }}">> {{ comment.user_name|lower }}:</a></div> 
					<div class="commenttext">{{ comment.comment }}</div>
				</div>
			{% endfor %}
			
			{% render_comment_form for object %}
			
		</div>

{% endblock %}
