{% extends "coltrane/base.html" %}

{% block content %}
	<style>
	.facets {
	    float:left;
	    width: 12em;
	    margin:12px 0px;
	}
	.facets ul.linkType {
	    margin:0em 0em 1em; padding:0;
	}
	.facets ul.linkType li {
	    margin:0 12px; padding:0;
	}
	.facets ul.linkType li a {
	    color: #000;                    
	    margin:0; padding:0 0 0 0.5em;
	}
	.facets ul.linkType li a.active,
	.facets ul.linkType li a.active:hover
	{
	    color:#333;
	    font-weight:bold;
	    cursor:default;
	 }
	.facets ul.linkType li a.Facet0 { 
	    padding:0 0 0 0.5em; 
	 } 
	.facets ul.linkType li a.Facet1 { 
	    padding:0 0 0 1.5em;
	} 
	.facets ul.linkType li a.Facet2 { 
	    padding:0 0 0 2.5em;
	} 
	.facets h3 { margin:0; padding:0 0 3px; font-weight:bold; font-size:13px; color:#999;}
	
	#searchbody {margin-top:4em;}
	#searchlower {margin-top:2em;}
	#searchbar {width:12em;}
	#searchmain {width:45em; float:right;}
	#searchbox { text-align:left; padding-left: 1.5em; }
	.searchboxinput { width:15em; height:1.5em;}
	</style>

<div class="interiorlist">
	<h2><a href="/search/">Search{% if form.data.q %} for "{{ form.data.q }}"{% endif %}</a></h2>
	
	<div id="searchbox">
		<form action="." method="GET">
			  <input class="searchboxinput" id="id_q" type="text" name="q"/>
			<input type='submit', value='Go'>
		</form>
	</div>
	
	<div id="searchlower">
	
		<div id="searchbar">
	
			<div class="facets">
			<ul class="linkType">
			{% if facets %}
			<h2>{{ paginator.results.documents|length }} result{{ paginator.results.documents|pluralize }}</h2>
			{% endif %}
			{% for link in facets %}
    
			    {% if link.href %}
			        <li><a class="Facet{{ link.level }} {% if link.active %}active{% endif %}"
			            href="{{ link.href }}">{{ link.anchor }}</a> {% if link.count %} ({{ link.count }}) {% endif %}</li>
			    {% else %}
			        </ul>
			        <ul class="linkType">
			        <li><h3>{{ link }}</h3></li>
			    {% endif %}
    
			{% endfor %}
			</ul>
			{% if sort_links %}
			<h2>Sort</h2>
			<ul class="linkType">
			{% for link in sort_links %}
			    {% if link.anchor %}
			        <li><a class="Facet1" href="{{ link.href }}">{{ link.anchor }}</a></li>
			    {% endif %}
			{% endfor %}
			</ul>
			{% endif %}

			</div>

		</div>

		<div id="searchmain">
	
			<div>
			{% if form.data.q and not paginator.results.documents %}
			No results found for <em>{{form.data.q}}</em>. Please modify your search.
			{% endif %}
	
			{% for doc in paginator.results.documents %}
				{{doc.render_html|safe}}
			{% endfor %}
			</div>
	
		    <div class="pagination">
			{% if paginator.has_previous %}
			     <a href="{{ paginator.previous_link }}">&lt;&lt;</a> | 
			{% endif %}
			{% for link in paginator.links %}
			    {% if link.href %}
			        <a href="{{ link.href }}">{{ link.anchor }}</a> |
			    {% else %}
			        {{ link }} |
			    {% endif %}
			{% endfor %}
			{% if paginator.has_next %}
			     <a href="{{ paginator.next_link }}">&gt;&gt;</a>
			{% endif %}
			</div>

		</div>
	</div>
</div>
{% endblock %}
