{% extends "coltrane/base.html" %}
{% load coltrane_tags %}

{% block title %}shouts . {{ block.super }}{% endblock %}

{% block content %}
	<div class="interiorlist">
		<h2><img style="vertical-align:text-bottom;" src="/media/icons/shouts.gif" alt="shouts"/>&nbsp;Shouts</h2>
		<ul>
		{% for object in object_list %}
			{% ifchanged object.pub_date.day %}
			<li class="interior-date">{{ object.pub_date|date:"F d, Y" }}</li>
			{% endifchanged %}
			<li>
				<a href="{{ object.url }}">
				{{ object.pub_date|date:"H:i" }}&nbsp;&nbsp;&nbsp;{{ object|striptags|truncatewords:8|slice:":75" }}
				</a> 
			</li>
		{% endfor %}
		</ul>
	</div>
	
	{% include 'coltrane/pagination.html' %}
	
{% endblock %}
