{% extends "coltrane/base.html" %}


{% block title %}{{ block.super }}{% endblock %}

{% block content %}

	<ul id="tickerlog">
		{% for object in object_list %}
			{% ifchanged object.pub_date.date %}<h3>{{ object.pub_date|date:"F d, Y" }}</h3>{% endifchanged %}
			{# Tumbler items #}
			<li class="tickeritem">
					{{ object.get_rendered_html }}
			</li>
		{% endfor %}
	</ul>
	
	{% if is_paginated %}
	<div id="paginationwrapper">
		{% if has_previous %}
		<div id="paginationleft">
			<a href="/ticker/page/{{ previous }}/">< Previous</a>
		</div>
		{% endif %}

		{% if has_next %}
		<div id="paginationright">
			<a href="/ticker/page/{{ next }}/">Next ></a>
		</div>
		{% endif %}
	</div>
	{# The 'else' clause for the front page, where I want to keep the url clean and have made a special case #}
	{% else %}
		<div id="paginationwrapper">
			<div id="paginationright">
				<a href="/ticker/page/2/">Next ></a>
			</div>
		</div>
	{% endif %}
	
{% endblock %}
