{% extends "coltrane/base.html" %}

{% block title %}ticker. {{ block.super }}{% endblock %}

{% block extralinktags %}
<link rel="home" href="/" />
{% if has_previous %}<link rel="prev" href="/ticker/page/{{ previous }}/" />{% endif %}
{% if has_next %}<link rel="next" href="/ticker/page/{{ next }}/" />{% endif %}
{% endblock %}

{% block content %}

	<div class="interiorlist">
		<h2>Ticker</h2>
		<ul>
		{% for object in object_list %}
			{% ifchanged object.pub_date.date %}<h3>{{ object.pub_date|date:"F d, Y" }}</h3>{% endifchanged %}
				<li>
					{{ object.get_rendered_html }}
				</li>
		{% endfor %}
		</ul>
	</div>
		
	{% include 'coltrane/pagination.html' %}
	
{% endblock %}
